<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/error.4rk44j3jh3j45h5h45gj56b23k.css">
    <title>404 Page Not Found</title>
</head>
<body>
    <img class="cloud-2" src="/images/cloud-2.svg" alt="cloud-1">
    <img class="cloud-3" src="/images/cloud-3.svg" alt="cloud-1">
    <div class="error">
        <div class="error_image"><img class="error_cloud-1" src="/images/cloud-1.svg" alt="cloud-1"></div>
        <div class="error_text">
            <div class="error_code">413</div>
            <div class="error_message">Invalid Input</div>
        </div>
    </div>
    <script src="js/error.234dbdlkkkklerrtrtsfxse.bundle.js"></script>
    
</body>
</html>