<nav class="address-bar" id="address-bar">
    <div class="address-bar__hamburger-container">
        <button class="address-bar__hamburger-btn hamburger-btn">
            <svg class="address-bar__icon">
                <use xlink:href="/images/sprite.svg#hamburger menu"></use>
            </svg>
        </button>
    </div>
    <ul class="address-bar__links-list">
        <li class="address-bar__link-box">
            <a href="/admin/dashboard" class="address-bar__link">
                <svg class="address-bar__icon  u-mar-r-1">
                    <use xlink:href="/images/sprite.svg#home"></use>
                </svg>
                <span class="address-bar__link-txt">Dashboard</span>
            </a>
        </li>
        <% if (pathArr.length > 0) { for(let path of pathArr){%>
        <li class="address-bar__link-box">
            <a href="/admin/<%= path.url %>" class="address-bar__link">
                <svg class="address-bar__icon">
                    <use xlink:href="/images/sprite.svg#chevron-right"></use>
                </svg>
                <span class="address-bar__link-txt"><%= path.page %></span>
            </a>
        </li>
        <% }} %>
    </ul>
</nav>

<button class="hamburger-menu hamburger-btn" id="hamburger-menu">
    <svg class="hamburger-menu__icon">
        <use xlink:href="/images/sprite.svg#hamburger menu"></use>
    </svg>
</button>