<section class="ribon">
    <img src="/images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo u-mar-b-2">
    <div class="ribon__content u-center-text">
        <p class="paragraph-tertiary color-txt-dark"><%=siteSettings.companyTagLine%></p>
    </div>
</section>

<footer class="footer">
    <div class="footer__content">
        <div class="footer__social-icons">
            <img src="/images/Tvg-logo.png" alt="" class="footer__logo">
            <div class="footer__caption paragraph-secondary">Stay Connected with</div>
            <ul class="footer__social-icons-list">
                <%if(siteSettings.twitter && siteSettings.twitter.length>0){%>
                <a href="<%=siteSettings.twitter%>" class="footer__icon-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="/images/sprite.svg#twitter"></use>
                    </svg>
                </a>
                <%}%>
                <%if(siteSettings.facebook && siteSettings.facebook.length>0){%>
                <a href="<%=siteSettings.facebook%>" class="footer__icon-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="/images/sprite.svg#facebook"></use>
                    </svg>
                </a>
                <%}%>
                <%if(siteSettings.instagram && siteSettings.instagram.length>0){%>
                <a href="<%=siteSettings.instagram%>" class="footer__icon-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="/images/sprite.svg#instagram"></use>
                    </svg>
                </a>
                <%}%>
                <%if(siteSettings.youtube && siteSettings.youtube.length>0){%>
                <a href="<%=siteSettings.youtube%>" class="footer__icon-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="/images/sprite.svg#youtube"></use>
                    </svg>
                </a>
                <%}%>
                <%if(siteSettings.radioshow && siteSettings.radioshow.length>0){%>
                <a href="<%=siteSettings.radioshow%>" class="footer__icon-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="/images/sprite.svg#volume-mute"></use>
                    </svg>
                </a>
                <%}%>
            </ul>
        </div>
        <div class="footer__links">
            <ul class="footer__links-list">
                <li class="footer__box"><a href="/about" class="footer__link paragraph-primary">about us</a></li>
                <li class="footer__box"><a href="/services" class="footer__link paragraph-primary">services</a></li>
                <li class="footer__box"><a href="/contact" class="footer__link paragraph-primary">contact</a></li>
                <li class="footer__box"><a href="/terms_of_use" class="footer__link paragraph-primary">terms of
                        use</a></li>
                <li class="footer__box"><a href="/privacy_policy" class="footer__link paragraph-primary">privacy
                        policy</a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            <ul class="footer__copyright-list">
                <li class="footer__box paragraph-primary">
                    <svg class="footer__copyright-icon">
                        <use xlink:href="/images/sprite.svg#copyright"></use>
                    </svg>
                    <%=siteSettings.copyright%>
                    <svg class="footer__copyright-icon">
                        <use xlink:href="/images/sprite.svg#copyright"></use>
                    </svg>
                    TVGuestpert.com
                </li>
                <li class="footer__box paragraph-primary">
                    Email: <span class="text-bold-1"><%=siteSettings.otherEmail[0].email%></span>
                </li>
                <li class="footer__box paragraph-primary">
                    call us: <span
                        class="text-bold-1"><%=siteSettings.phone.slice(0,3)%>-<%=siteSettings.phone.slice(3,6)%>-<%=siteSettings.phone.slice(6,10)%></span>
                </li>
            </ul>
        </div>
        <div class="footer__newsletter">
            <form action="/admin/newsletterSubscribe?_csrf=<%=csrfToken%>" class="footer__form" method="POST">
                <input class="footer__newsletter-input form__control" name="email" type="email"
                    placeholder="Email Address" required>
                <input type="hidden" name="curPath" value="<%=currentUrl%>">
                <button class="form__subscribe-btn  form__search-btn" type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</footer>