<%if (userRole){%>
    <nav class="header-bar">
        <a href="/" class="header-bar__logo-container">
            <img src="/images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo" id="header-bar__logo">
        </a>
        <ul class="header-bar__links-list">
            <li class="header-bar__link-box">
                <%if(userRole === '10101101001110' || userRole === '10101011010101'){%>
                <a href="/logout" class="header-bar__link header-bar__link-logout" data-id="adtyspnce">
                <%}else if (userRole === '10101011001010'){%>
                <a href="/logout" class="header-bar__link header-bar__link-logout" data-id="gatyspnce">
                <%}else if (userRole === '10111010000101'){%>
                <a href="/logout" class="header-bar__link header-bar__link-logout" data-id="prtyspnce">
                <%}else{%>
                <a href="/logout" class="header-bar__link header-bar__link-logout" data-id="frtyspnce">
                <%}%>
                    <svg class="header-bar__icon">
                        <use xlink:href="/images/sprite.svg#logout"></use>
                    </svg>
                    <span class="header-bar__link-txt">Log out</span>
                </a>
            </li>
            <li class="header-bar__link-box">
                <%if(userRole === '10101101001110' || userRole === '10101011010101'){%>
                <a href="/admin/dashboard" class="header-bar__link">
                <%}else if (userRole === '10101011001010'){%>
                <a href="/guestpert/dashboard" class="header-bar__link">
                <%}else if (userRole === '10111010000101'){%>
                <a href="/producer/dashboard" class="header-bar__link">
                <%}%>
                    <svg class="header-bar__icon">
                        <use xlink:href="/images/sprite.svg#profile"></use>
                    </svg>
                    <span class="header-bar__link-txt">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
<%}%>
<%if(!userRole){%>
<nav class="header-bar">
    <a href="/" class="header-bar__logo-container">
        <img src="/images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo">
    </a>
    <ul class="header-bar__links-list">
        <li class="header-bar__link-box">
            <a href="/login" class="header-bar__link">
                <svg class="header-bar__icon">
                    <use xlink:href="/images/sprite.svg#log-in"></use>
                </svg>
                <span class="header-bar__link-txt">Log in</span>
            </a>
        </li>
        <li class="header-bar__link-box">
            <a href="/register/guestpert" class="header-bar__link">
                <svg class="header-bar__icon">
                    <use xlink:href="/images/sprite.svg#guestpert-register"></use>
                </svg>
                <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Become a</span>Guestpert</span>
            </a>
        </li>
        <li class="header-bar__link-box">
            <a href="/register/producer" class="header-bar__link">
                <svg class="header-bar__icon">
                    <use xlink:href="/images/sprite.svg#producer-register"></use>
                </svg>
                <span class="header-bar__link-txt"><span class="header-bar__link-txt--sm">Producer, Booker,
                        Journalist</span>Start Here</span>
            </a>
        </li>
    </ul>
</nav>
<%}%>