<nav class="header-bar">
    <a href="/" class="header-bar__logo-container">
        <img src="/images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo" id="header-bar__logo">
    </a>
    <ul class="header-bar__links-list">
        <li class="header-bar__link-box">
            <a href="/logout" class="header-bar__link" id="rttyspnce">
                <svg class="header-bar__icon">
                    <use xlink:href="/images/sprite.svg#logout"></use>
                </svg>
                <span class="header-bar__link-txt">Log out</span>
            </a>
        </li>
        <li class="header-bar__link-box">
            
                <a href="/producer/dashboard" class="header-bar__link">
                <svg class="header-bar__icon">
                    <use xlink:href="/images/sprite.svg#profile"></use>
                </svg>
                <span class="header-bar__link-txt">Dashboard</span>
            </a>
        </li>
    </ul>
</nav>