<%- include('../../components/head.ejs')%>
    <link href="/css/ad_login.2372028b40a605f27f42.css" rel="stylesheet">
    <title>Admin Login</title>
</head>
<body>
    <div class="login">
        <div class="login__logo">
            <img src="../../images/Tvg-logo.png" alt="logo img">
        </div>
        <form action="/admin/login?_csrf=<%=csrfToken%>" method="POST" class="form login__form">
            <div class="form__group--auth">
                <label for="name" class="form__label-icon">
                    <svg class="header-bar__icon">
                        <use xlink:href="/images/sprite.svg#username"></use>
                    </svg>
                </label>
                <input type="text" class="form__control log-in__input" name="username" placeholder="User Name" id="name" required>
            </div>
            <div class="form__group--auth">
                <label for="password" class="form__label-icon">
                    <svg class="header-bar__icon">
                        <use xlink:href="/images/sprite.svg#password"></use>
                    </svg>
                </label>
                <input type="password" class="form__control log-in__input" name="password" placeholder="Password" id="password" required>
            </div>

            <div class="log-in__submit-btn u-mar-t-1">
                <button class="form__submit-btn form__submit-btn--pink" type="submit">LOGIN</button>
            </div>
        </form>
    </div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/js/ad_login.3f1ec362daac8ae93a36.bundle.js"></script>
</body>
</html>