<%- include('../../components/head.ejs')%>
    <link href="/css/forgotPassword.b95cf10e4aa3e9122fe7.css" rel="stylesheet">
    <title>Forgot Password</title>
</head>
<body>
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>
    
    <header class="header">
        <div class="header__hero-container">
            <h1 class="heading-primary u-center-text">Forgot password</h1>
        </div>
    </header>

    <section class="forgot">
    
        <div class="forgot__form-container">
            <span class="forgot__msg"></span>
            <form action="" method="POST" class="form forgot__form">
                <div class="form__group--auth">
                    <label for="name" class="form__label-icon">
                        <svg class="header-bar__icon">
                            <use xlink:href="/images/sprite.svg#username"></use>
                        </svg>
                    </label>
                    <input type="text" name="username" class="form__control forgot__input" placeholder="Email or UserName" id="name" required>
                </div>
            
                <div class="forgot__submit-btn u-mar-t-1">
                    <button class="form__submit-btn form__submit-btn--pink" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </section>

    <%- include('../../components/footer')%>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <script src="/js/forgotPassword.55a0321ea36305c2dbce.bundle.js"></script>
</body>
</html>