<%- include('../../components/head.ejs')%>
    <link href="/css/register.fd58fe4a896a70ffd313.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Register</title>
</head>

<body>
   
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <section class="register">

        <div class="register__heading">
            <h1 class="heading-primary u-center-text">BECOME A GUESTPERT</h1>
        </div>

        <div class="register__info">
            <p class="paragraph-tertiary u-mar-t-3 color-txt-dark u-center-text">TVGuestpert creates access to opportunity for our Guestperts through media leads, content, and appearances for dissemination and impact of their messaging on the audience for the growth of our clients' goals and businesses. Please fill out the form below to get started today or learn more!</p>
        </div>

        <form action="/registerNewGuestpert?_csrf=<%=csrfToken%>" method="POST" class="form register__form">

        <div class="register__form-container register__form-container--account">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>
            <h2 class="heading-tertiary u-center-text register__account-form-heading">ACCOUNT INFORMATION</h2>

            <div class="register__account-info-form">
                <div class="form__group--settings">
                    <label for="username" class="form__label">
                        <span class="form__label--caps">username*</span>
                    </label>
                    <input type="text" class="form__control" name="username" placeholder="username" id="username" required>
                </div>
                <div class="form__group--settings">
                    <label for="password" class="form__label">
                        <span class="form__label--caps">password*</span>
                    </label>
                    <input type="password" class="form__control" name="password" minlength="6" placeholder="password" id="password" required>
                </div>
                <div class="form__group--settings">
                    <label for="email" class="form__label">
                        <span class="form__label--caps">email*</span>
                    </label>
                    <input type="email" class="form__control" name="email" placeholder="email" id="email" required>
                </div>
            </div>
        </div>

        <div class="register__form-container register__form-container--personal">

            <h2 class="heading-tertiary u-center-text register__account-form-heading">PERSONAL INFORMATION</h2>

            <div class="register__account-info-form">
                <div class="form__group--settings">
                    <label for="firstname" class="form__label">
                        <span class="form__label--caps">first name*</span>
                    </label>
                    <input type="text" class="form__control" name="firstName" placeholder="first name" id="firstname" required>
                </div>

                <div class="form__group--settings">
                    <label for="lastname" class="form__label">
                        <span class="form__label--caps">last name*</span>
                    </label>
                    <input type="text" class="form__control" name="lastName" placeholder="last name" id="lastname" required>
                </div>

                <div class="form__group--settings">
                    <label for="address" class="form__label">
                        <span class="form__label--caps">address*</span>
                    </label>
                    <textarea class="form__control" name="address" placeholder="address" id="address" required></textarea>
                </div>

                <div class="form__group--settings">
                    <label for="city" class="form__label">
                        <span class="form__label--caps">city*</span>
                    </label>
                    <input type="text" class="form__control" name="city" placeholder="city" id="city" required>
                </div>

                <div class="form__group--settings">
                    <label for="state" class="form__label">
                        <span class="form__label--caps">state / province*</span>
                    </label>
                    <input type="text" class="form__control" name="state" placeholder="state / province" id="state" required>
                </div>

                <div class="form__group--settings">
                    <label for="zipcode" class="form__label">
                        <span class="form__label--caps">zip code</span>
                    </label>
                    <input type="number" class="form__control" name="zipCode" placeholder="zip code" id="zipcode" required>
                </div>

                <div class="form__group--settings">
                    <label for="country" class="form__label">
                        <span class="form__label--caps">country</span>
                    </label>
                    <input type="text" class="form__control" name="country" placeholder="country" id="country" required>
                </div>

                <div class="form__group--settings">
                    <label for="phone" class="form__label">
                        <span class="form__label--caps">phone*</span>
                    </label>
                    <input type="number" class="form__control" name="phone" placeholder="phone" id="phone" required>
                </div>

                <div class="form__group--settings">
                    <label for="website" class="form__label">
                        <span class="form__label--caps">website</span>
                    </label>
                    <input type="url" class="form__control" name="website" placeholder="website" id="website">
                </div>

                <div class="form__group--settings">
                    <label for="fax" class="form__label">
                        <span class="form__label--caps">fax</span>
                    </label>
                    <input type="number" class="form__control" name="fax" placeholder="fax" id="fax">
                </div>

                <div class="form__group--settings">
                    <label for="knowingUs" class="form__label">
                        <span class="form__label--caps">how did you hear about us?</span>
                    </label>
                    <input type="text" class="form__control" name="knowingUs" placeholder="How did you hear about us" id="knowingUs" required>
                </div>

                <div class="form__group--checkbox">
                    <label class="form__label">
                        <span class="form__label--caps">Would you like someone <br> to call you from tvg?</span>
                    </label>
                    <div class="checkbox-container">
                        <input type="checkbox" value="active" id="moreInfoCall" name="moreInfoCall"/>
                        <label for="moreInfoCall"></label>
                    </div>
                </div>

            </div>
        </div>

            <div class="register__form-button-container">
                <div class="g-recaptcha" data-sitekey="<%=captcha%>"></div>
                <button class="form__submit-btn--orange form__submit-btn">Begin</button>
            </div>
        </form>

    </section>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <%- include('../../components/footer')%>

    <script src="/js/register.b1d3c1413fa38d3123dc.bundle.js"></script>

</body>

</html>