<%- include('../../components/head.ejs')%>
    <link href="/css/login.998d2f5001cd8268967d.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
  
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>
    
    <header class="header">
        <div class="header__hero-container">
            <h1 class="heading-primary u-center-text">LOG IN</h1>
            <p class="paragraph-tertiary color-txt-dark u-center-text">To protect your account from unauthorized access, TVGuestpert automatically ends your session after 10 minutes of inactivity and changes will not be saved unless all fields have been completed and saved. If your session ends, and the log in page is not displayed, click on the Log In, and you should be redirected to the Log in page, where you can log on again.</p>
        </div>
    </header>

    <section class="log-in">
        <svg class="log-in__vector">
            <use xlink:href="/images/sprite.svg#login-vector"></use>
        </svg>
        <div class="log-in__form-container">
            <form action="/auth/login?_csrf=<%=csrfToken%>" method="POST" class="form log-in__form">
                <div class="form__group--auth">
                    <label for="name" class="form__label-icon">
                        <svg class="header-bar__icon">
                            <use xlink:href="/images/sprite.svg#username"></use>
                        </svg>
                    </label>
                    <input type="text" name="username" class="form__control log-in__input" placeholder="User Name" id="name" required>
                </div>
                <div class="form__group--auth">
                    <label for="password" class="form__label-icon">
                        <svg class="header-bar__icon">
                            <use xlink:href="/images/sprite.svg#password"></use>
                        </svg>
                    </label>
                    <input type="password" name="password" class="form__control log-in__input" placeholder="Password" id="password" required>
                </div>
            
                <div class="log-in__submit-btn u-mar-t-1">
                    <button class="form__submit-btn form__submit-btn--pink" type="submit">LOGIN</button>
                </div>

                <div class="log-in__small-btns">
                    <div></div>

                    <div class="log-in__forgot-password-container">
                        <a href="/forgotPassword" class="log-in__forgot-password-btn">
                            Forgot User Name | Forgot Password ?
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="updates">
        <h2 class="heading-secondary u-center-text">Tvguestpert updates</h2>

        <div class="updates__content-container">
            <div class="heading-tertiary u-mar-b-3 u-center-text">TVGUESTPERT PUBLISHING LEGACY EVENT</div>
            
            <p class="updates__para">Join New York Times Best-Selling Publisher, Jacquie Jordan, for a sixty minute interactive weekly video conference to structure, start, and write the book that you've been putting off!</p>
            <p>&nbsp;</p>
            <p class="updates__para">Over 5 weeks, during our weekly Interactive group time will cover structure, marketing, publishing options, feedback, and includes discussions on your actual project and what needs to take place in order to write and launch your book in a Step by Step Organized and Timely Process.</p>
            <p>&nbsp;</p>
            
            <ul class="updates__list">
                <li>Start a resonable writing schedule</li>
                <li>Traditional VS self Plulishing advantages & disadvantages</li>
                <li>Acquiriing celebrity endorsements, testimonials & forewords</li>
                <li>Overcoming the limitations that KILL most manuscripts</li>
                <li>Marketing plan that sells your book STARTS when you put Pen to Paper</li>
                <li>PLUS: Learn the Bestsellers ADVANTAGE</li>
            </ul>
            
        </div>
        
        <div class="updates__bonus-container">
            <div class="heading-tertiary u-mar-b-3 u-center-text">BONUS</div>
            
            <p class="updates__para">TVGuestpert Publishing will read your book within the first six months following our final conference and email you concrete and easy to understand critiques to better your book!</p>
            <p>&nbsp;</p>
            <p class="updates__para">Total for the class is $1,125.00; but you receive a discount by visiting our site.
            Discount offer: $995.00.</p>
            <p>&nbsp;</p>
            <p class="updates__sub-heading">Discount-Sign Up Here</p>
            <p class="updates__para">A Published Book is the BEST Business Card an Expert can have!</p>

            <div class="updates__img-container">
                <img src="/images/TVG PublishingTeleseminar.jpg" alt="bonus image" class="fluid-img">
            </div>
            
        </div>
    </section>

     <%- include('../../components/footer')%>

     <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

     <script src="/js/login.c2744db29f014c4c5648.bundle.js"></script>

</body>
</html>