<%- include('../../components/head.ejs')%>
    <link href="/css/register.fd58fe4a896a70ffd313.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Register</title>
</head>

<body>
   
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <section class="register">
        <div class="register__heading">
            <h1 class="heading-primary">Register</h1>
        </div>

        <div class="register__info">
            <h2 class="heading-tertiary  u-center-text">PRODUCER / BOOKER / JOURNALIST START HERE</h2>
            <p class="paragraph-tertiary u-mar-t-3 color-txt-dark u-center-text">This service is Free for you. TVGuestpert.com is not an ordinary expert listing site. The difference is that this website has been designed by television producers to meet the specific needs of television producers. We only require that you be a verifiable television producer and submit the registration form below. Thank you.</p>
        </div>

        <form action="/registerNewProducer?_csrf=<%=csrfToken%>" method="POST" class="form register__form">

            <div class="register__form-container register__form-container--account">

                <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>
                <h2 class="heading-tertiary u-center-text register__account-form-heading">ACCOUNT INFORMATION</h2>

                <div class="register__account-info-form">
                    <div class="form__group--auth">
                        <label for="name" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#username"></use>
                            </svg>
                        </label>
                        <input type="text" name="username" class="form__control register__input" placeholder="User Name*" id="name"
                            required>
                    </div>
                    <div class="form__group--auth">
                        <label for="password" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#password"></use>
                            </svg>
                        </label>
                        <input type="password" name="password" class="form__control register__input" placeholder="Password*"
                            id="password" minlength="6" required>
                    </div>
                    <div class="form__group--auth">
                        <label for="email" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#email"></use>
                            </svg>
                        </label>
                        <input type="email" name="email" class="form__control register__input" placeholder="Email*" id="email"
                            required>
                    </div>
                </div>

            </div>

            <div class="register__form-container register__form-container--personal">

                <h2 class="heading-tertiary u-center-text register__account-form-heading">PERSONAL INFORMATION</h2>

                <div class="register__account-info-form">
                    <div class="form__group--auth">
                        <label for="first_name" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#write_name"></use>
                            </svg>
                        </label>
                        <input type="text" name="firstName" class="form__control register__input" placeholder="First Name*"
                            id="first_name" required>
                    </div>

                    <div class="form__group--auth">
                        <label for="last_name" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#write_name"></use>
                            </svg>
                        </label>
                        <input type="text" name="lastName" class="form__control register__input" placeholder="Last Name*" id="last_name"
                            required>
                    </div>

                    <div class="form__group--auth">
                        <label for="company" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#network"></use>
                            </svg>
                        </label>
                        <input type="text" name="company" class="form__control register__input" placeholder="Network/Company"
                            id="company">
                    </div>

                    <div class="form__group--auth">
                        <label for="telephone" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#telephone"></use>
                            </svg>
                        </label>
                        <input type="number" name="phone" class="form__control register__input" placeholder="phone*"
                            id="telephone" required>
                    </div>

                    <div class="form__group--auth">
                        <label for="mobile" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#mobile"></use>
                            </svg>
                        </label>
                        <input type="number" name="mobile" class="form__control register__input" placeholder="Mobile" id="mobile"
                            >
                    </div>

                    <div class="form__group--auth">
                        <label for="fax" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#fax"></use>
                            </svg>
                        </label>
                        <input type="number" name="fax" class="form__control register__input" placeholder="Fax" id="fax" >
                    </div>

                    <div class="form__group--auth">
                        <label for="website" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#web"></use>
                            </svg>
                        </label>
                        <input type="url" name="website" class="form__control register__input" placeholder="Website" id="website">
                    </div>

                    <div class="form__group--auth">
                        <label for="how_did_you_hear" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#listen"></use>
                            </svg>
                        </label>
                        <input type="text" class="form__control register__input"
                            placeholder="How did you hear about us?" name="knowingUs" id="how_did_you_hear">
                    </div>

                    <div class="form__group--auth">
                        <label for="booking_mandate" class="form__label-icon">
                            <svg class="header-bar__icon">
                                <use xlink:href="/images/sprite.svg#booking"></use>
                            </svg>
                        </label>
                        <input type="text" class="form__control register__input" name="bookingMandate" placeholder="Current Booking Mandate"
                            id="booking_mandate" >
                    </div>
                </div>
            </div>
    
            <div class="register__form-button-container">
                <div class="g-recaptcha" data-sitekey="<%=captcha%>"></div>
                <button class="form__submit-btn--orange form__submit-btn">Begin</button>
            </div>
        </form>

    </section>

    <%- include('../../components/footer')%>

    <script src="/js/register.b1d3c1413fa38d3123dc.bundle.js"></script>
</body>

</html>