<%- include('../../components/head.ejs')%>
    <title>Reset Password</title>
    <link href="/css/resetPassword.52bdd6d1042e75a811ca.css" rel="stylesheet">
</head>

<body>
     
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <header class=header>
        <div class=header__hero-container>
            <h1 class="heading-primary u-center-text">Reset password</h1>
        </div>
    </header>
    <section class=reset>
        <div class=reset__form-container> <span class=reset__msg>Passwords are not matching</span>
            <form action="/resetPassword?_csrf=<%=csrfToken%>&&hash=<%=hash%>" method=POST class="form reset__form">
                <div class=form__group--auth> <label for=password class=form__label-icon> <svg class=header-bar__icon>
                            <use xlink:href=/images/sprite.svg#password></use>
                        </svg> </label> <input type=password minlength=6 name=password
                        class="form__control reset__input" placeholder="new password" id=password required> </div>
                <div class=form__group--auth> <label for=confirmPassword class=form__label-icon> <svg
                            class=header-bar__icon>
                            <use xlink:href=/images/sprite.svg#password></use>
                        </svg> </label> <input type=text minlength=6 name=confirmPassword
                        class="form__control reset__input" placeholder="confirm password" id=confirmPassword required>
                </div>
                <div class="reset__submit-btn u-mar-t-1"> <button class="form__submit-btn form__submit-btn--pink"
                        type=submit>Reset</button> </div>
            </form>
        </div>
    </section>

    <%- include('../../components/footer')%>

    <div id=csrf data-csrf="<csrfToken>"></div>

    <script src="/js/resetPassword.22dc46ab45e6b9e2b7a4.bundle.js"></script>
</body>

</html>