<nav class="sidebar">
    <ul class="side-nav" id="sidebar">
        <%if(userRole === '10101101001110'){%>
        <li class="side-nav__item">
            <a href="/admin/manageAdmins" class="side-nav__link">
                <span>Manage Admin</span>
            </a>
        </li>
        <%}%>
        <li class="side-nav__item">
            <a href="/admin/siteSettings" class="side-nav__link">
                <span>Manage Settings</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/userInterfaces" class="side-nav__link">
                <span>Change UI</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/manageNewsletters" class="side-nav__link">
                <span>Manage Newsletter</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/manageTags" class="side-nav__link">
                <span>Manage Tags</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/manageUsers" class="side-nav__link">
                <span>Manage Users</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/manageMemberships" class="side-nav__link">
                <span>Manage Membership</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/producerEnquiries" class="side-nav__link">
                <span>producer inquiries</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/manageFounder" class="side-nav__link">
                <span>Jacquie's Info</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/products" class="side-nav__link">
                <span>Products</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/allOrders" class="side-nav__link">
                <span>Orders</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/admin/manageTestimonials" class="side-nav__link">
                <span>Testimonials</span>
            </a>
        </li>
    </ul>
</nav>