<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
    <label for="navi-toggle" class="navigation__btn">
        <span class="navigation__icon">
            <span class="navigation__icon-line-up"></span>
            <span class="navigation__icon-line-middle"></span>
            <span class="navigation__icon-line-down"></span>
        </span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            
            <%if(userRole === '10101011001010'){%>
            <li class="navigation__item"><a href="/guestpert/dashboard" class="navigation__link">Dashboard</a></li>
            <li class="navigation__item"><a href="/guestpert/profileSettings" class="navigation__link">profile Settings</a></li>
            <li class="navigation__item"><a href="/guestpert/inquiries" class="navigation__link">producer inquiries</a></li>
            <li class="navigation__item"><a href="/guestpert/hotTopics" class="navigation__link">Hot Topics</a></li>
            <li class="navigation__item"><a href="/guestpert/blog" class="navigation__link">Blogs</a></li>
            <li class="navigation__item"><a href="/guestpert/books" class="navigation__link">Book Cover</a></li>
            <li class="navigation__item"><a href="/guestpert/media" class="navigation__link">Media</a></li>
            <li class="navigation__item"><a href="/guestpert/demoReel" class="navigation__link">Demo Reel</a></li>
            <li class="navigation__item"><a href="/guestpert/membership" class="navigation__link">Membership Renewal</a></li>
            <li class="navigation__item u-mar-b-3"><a href="/guestpert/orders" class="navigation__link">Order History</a></li>
            <%}%>
            <li class="navigation__item"><a href="/" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="/guestperts" class="navigation__link">GuestPerts</a></li>
            <li class="navigation__item"><a href="/hotTopics" class="navigation__link">Hot Topics</a></li>
            <li class="navigation__item"><a href="/about" class="navigation__link">About Us</a></li>
            <li class="navigation__item"><a href="/services" class="navigation__link">Services</a></li>
            <li class="navigation__item"><a href="/faq" class="navigation__link">FAQ</a></li>
            <li class="navigation__item"><a href="/shop" class="navigation__link">Products</a></li>
            <li class="navigation__item"><a href="/testimonials" class="navigation__link">Testimonials</a></li>
            <li class="navigation__item"><a href="/contact" class="navigation__link">Contact</a></li>
            <li class="navigation__item"><a href="http://tvoncameratraining.com/" class="navigation__link">TV On Camera Training</a></li>
            <li class="navigation__item"><a href="http://www.tvguestpertpublishing.com/" class="navigation__link">TVGuestpert Publishing</a></li>
        </ul>
    </nav>
</div>

<style>
    .navigation__list::-webkit-scrollbar-thumb{
        background-color: white;
    }
</style>