<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle"></input>
    <label for="navi-toggle" class="navigation__btn">
        <span class="navigation__icon">
            <span class="navigation__icon-line-up"></span>
            <span class="navigation__icon-line-middle"></span>
            <span class="navigation__icon-line-down"></span>
        </span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <%if(userRole === '10111010000101'){%>
            <li class="navigation__item"><a href="/producer/dashboard" class="navigation__link">Dashboard</a></li>
            <li class="navigation__item"><a href="/producer/enquiries" class="navigation__link">Inquiries</a></li>
            <li class="navigation__item"><a href="/producer/profileSettings" class="navigation__link">Profile Settings</a></li>
            <%}%>
            <li class="navigation__item u-mar-t-5"><a href="/" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="/guestperts" class="navigation__link">GuestPerts</a></li>
            <li class="navigation__item"><a href="/hotTopics" class="navigation__link">Hot Topics</a></li>
            <li class="navigation__item"><a href="/about" class="navigation__link">About Us</a></li>
            <li class="navigation__item"><a href="/services" class="navigation__link">Services</a></li>
            <li class="navigation__item"><a href="/faq" class="navigation__link">FAQ</a></li>
            <li class="navigation__item"><a href="/shop" class="navigation__link">Products</a></li>
            <li class="navigation__item"><a href="/testimonials" class="navigation__link">Testimonials</a></li>
            <li class="navigation__item"><a href="/contact" class="navigation__link">Contact</a></li>
            <li class="navigation__item"><a href="http://tvoncameratraining.com/" class="navigation__link">TV On Camera Training</a></li>
            <li class="navigation__item"><a href="http://www.tvguestpertpublishing.com/" class="navigation__link">TVGuestpert Publishing</a></li>
        </ul>
    </nav>
</div>

<style>
    .navigation__list::-webkit-scrollbar-thumb{
        background-color: white;
    }
</style>