<%- include('../../components/head.ejs')%>
<link href="/css/about.a4b985f1b1611f8a5a19.css" rel="stylesheet">
<title>About Us</title>
</head>

<body>
   
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <header class="header">
        <h1 class="heading-primary u-mar-t-3 u-mar-b-2"><span class="color-txt-golden">About</span> us</h1>
        <p class="paragraph-tertiary color-txt-dark container u-center-text">TVGuestpert, TVGuestpert Publishing, and
            TVOnCameraTraining.com are visionary media companies that seek to educate,enlighten and entertain the masses
            with the highest level of integrity. Our exposure grows our Guestperts’ core business</p>

        <div class="header__hero-container u-mar-b-8">
            <div class="header__hero-content-container u-mar-b-3">
                <div class="header__hero-img-container">
                    <img src="../../images/team/jaquie_round.png" alt="Jacquie Jordan picture" class="fluid-img">
                </div>
                <div class="header__hero-title-container">
                    <h1 class="header__hero-title">Jacquie <span class="text-bold-1">Jordan</span></h1>
                    <h1 class="header__hero-designation">Founder</h1>
                </div>
            </div>
            <p class="paragraph-tertiary color-txt-dark u-center-text">Jacquie has produced countless TV shows and been
                involved in booking, or producing 10,000+ television guests. Jacquie also works with new experts and
                exciting talent on their branding, promotion, marketing and development as well as on-camera skills</p>
            <div class="u-absCenter u-mar-t-3" style="width: 100%;">
                <a class="button__ghost button__ghost--sm btn-read-more" href="/founder">Read More</a>
            </div>
        </div>
    </header>


    <section class="about">

        <% primeTeam.forEach((c, i)=>{ 
            if(c.memberType==='prime'){
        %>
        <div class="card">
            <div class="card__person-wrapper">
                <%if( i%2!==0 && (i - 3) % 4 === 0){%>
    
                <img src="/images/golden_line-right.png" alt="background_picture" class="goldenline__right goldenline">
                <%}%>
                <%if(i%2!==0 && (i - 1) % 4 === 0){%>
    
                <img src="/images/golden_line-left.png" alt="background_picture" class="goldenline__left goldenline">
                <%}%>
                <div class="card__person-photo-container">
                    <img src="<%=c.imageUrl%>" alt="" class="fluid-img card__person-photo">
            </div>
            <div class="card__person-content">
                <h2 class="heading-secondary u-mar-b-2 person__name"><%=c.firstName%> <span
                        class="text-bold-1"><%=c.lastName%></span>
                </h2>
                <h3 class="heading-tertiary person__role"><%=c.title%></h3>
                <p class="paragraph-tertiary u-mar-b-3 u-mar-t-3 color-txt-dark">
                    <%-c.description.split('</p>')[0].replace('<p>','').replace('</p>','').replace('&nbsp;','').slice(0, 650)%>...
                </p>
                <a class="button__ghost button__ghost--sm btn-read-more">Read More</a>
            </div>
            <div class="person__details u-display-none">
                <%-c.description%>
            </div>
        </div>
        </div>
        <%}})%>



        <div class="about__others">
            <div class="about__others-container">
                <%for (const team of otherTeam){%>
                <div class="about__others-content">
                    <img src="../../images/Tvg-logo.png" alt="Tvg-logo" class="header-bar__logo about__others-logo">
                    <div class="about__others-info">
                        <h2 class="heading-secondary u-mar-b-2"><%=team.firstName%> <span class="text-bold-1"><%=team.lastName%></span>
                        </h2>
                        <h3 class="heading-tertiary u-mar-b-3"><%=team.title%></h3>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </section>

    <%- include('../../components/footer')%>

    <div class="popup"></div>

    <script src="js/about.332001dbb2225d6ffcec.bundle.js"></script>
</body>

</html>