<%- include('../../components/head.ejs')%>
    <link href="/css/blog.c4114749a894727db653.css" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
  

    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <section class="blog">
        <%if(blog.imageUrl){%>
        <div class="blog__img-container">
            <img src="<%=blog.imageUrl%>" alt="blog image" class="blog__img fluid-img">
        </div>
        <%}%>

        <h2 class="heading-secondary u-mar-t-3 text-bold-1 u-center-text"><%=blog.title%></h2>
        <%if(blog.authorId==='jacquie jordan'){%>
        <p class="blog__caption u-center-text">By jacquie jordan</p>
        <%}else{%>
            <p class="blog__caption u-center-text">By <%=blog.prefix%> <%=blog.firstName%> <%=blog.lastName%> <%=blog.suffix%></p>
        <%}%>
        <div class="blog__txt">
            <%-blog.content%>
        </div>

        <div class="blog__created-info">
            <p class="blog__caption"><%=blog.created%></p>
        </div>

    </section>

       
    <%- include('../../components/footer')%>

    <script src="js/blog.9fbd40f100b78ce38709.bundle.js"></script>
</body>
</html>