<%- include('../../components/head.ejs')%>
    <link href="/css/catagory_hotTopic.4f165980dec4c34bdccf.css" rel="stylesheet">
    <title>TVGuestpert</title>
</head>
<body>

    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <header class="header">
        <h1 class="heading-extra-big u-center-text"><%=pageTitle%></h1>
    </header>

    <section class="view-btns">
        <button href="#" class="button__primary " id="view-all-btn">View All</button>

        <div class="view-btns__guestpert-filter">
            <div class="view-btns__filter-btn" id="menu-box">
                <button href="#" class="button__ghost button__ghost--sm">View hot topics by</button>

                <div class="view-btns__menu-wrapper" id="menu">
                    <ul class="view-btns__menu">
                        <%for (const author of allAuthors){%>
                            <li><%=author%></li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <span id="byGuestpert">All</span>
        </div>
    </section>

    <section class="hot-topics">
        <ul class="row__grid-4 u-mar-b-5 u-mar-t-5">

            <%for ( const topic of allHotTopic){%>
            <li class="hot-topics__cards-wrapper">
                <a href="/readTopic/<%=topic._id%>" class="card-4 hot-topics__cards">
                    <div class="hot-topics__title-container u-center-text">

                        <p class="hot-topics__title">
                            <%=topic.title%>
                        </p>
                        <svg class="hot-topics__icon hot-topics__icon--top-left">
                            <use xlink:href="/images/sprite.svg#left-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-left">
                            <use xlink:href="/images/sprite.svg#left-bottom"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--top-right">
                            <use xlink:href="/images/sprite.svg#right-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-right">
                            <use xlink:href="/images/sprite.svg#right-bottom"></use>
                        </svg>
                    </div>

                    <div class="hot-topics__title-duplicate u-center-text">
                        <p class="hot-topics__title">
                            <%=topic.title%>
                        </p>
                    </div>

                    <div class="hot-topics__content-container u-mar-t-2">
                        <p class="hot-topics__content-para u-center-text">
                            <%-topic.openingSpeakingPoint.replace(/<p>|<\/p>|&nbsp;/g,'').slice(0, 110)%><%-topic.openingSpeakingPoint.length>0?'...':''%>
                        </p>
                    </div>

                    <div class="hot-topics__guestpert-info u-mar-t-2 u-mar-b-2">
                        <div class="hot-topics__img-wrapper">
                            <div class="hot-topics__img-container">
                                <img src="<%=topic.authImgSrc%>" alt="image" class="hot-topics__img fluid-img">
                            </div>
                        </div>
                        <div class="hot-topics__guestpert-content-container">
                            <p class="hot-topics__content-caption color-txt-dark text-bold-1 guestPert_name"><%=topic.AuthPrefix%> <%=topic.authFirstName%> <%=topic.authLastName%> <%=topic.authSuffix%></p>
                            <p class="hot-topics__content-caption color-txt-dark"><%=topic.authPrimaryExpertise%></p>
                        </div>
                    </div>
                </a>
            </li>
            <%}%>
        </ul>
            
    </section>

    <%- include('../../components/footer')%>

    <script src="/js/catagory_hotTopic.6d122eeff9bc4063faa6.bundle.js"></script>
</body>
</html>