<%- include('../../components/head.ejs')%>
    <link href="/css/content_hotTopics.5c1f32df776654046be1.css" rel="stylesheet">
    <title>Read Hot Topic</title>
</head>
<body>

    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>


    <section class="hot-topic">
        <div class="hot-topic__container">
            <div class="hot-topic__about-container">

                <div class="hot-topic__guestpert-img-part">
                    <div class="hot-topic__guestpert-img-container">
                        <img class="fluid-img" src="<%=hotTopic.authImgSrc%>" alt="guestpert image" class="hot-topic__guestpert-img">
                    </div>
                </div>

                <div class="hot-topic__description-part">
                    <h2 class="heading-tertiary u-mar-b-3 hot-topic__heading"><%=hotTopic.title%></h2>
                    <div class="hot-topic__about-hotTopic">
                        <div class="hot-topic__txt-ttl">
                            <p class="paragraph-tertiary color-txt-dark text-bold-1">Guestpert</p>
                        </div>
                        <div class="hot-topic__txt-ans">
                            <p class="paragraph-tertiary color-txt-dark"><%=hotTopic.authPrefix%> <%=hotTopic.authFirstName%> <%=hotTopic.authLastName%> <%=hotTopic.authSuffix%></p>
                        </div>
                    </div>
                    <div class="hot-topic__about-hotTopic">
                        <div class="hot-topic__txt-ttl">
                            <p class="paragraph-tertiary color-txt-dark text-bold-1">Category</p>
                        </div>
                        <div class="hot-topic__txt-ans">
                            <p class="paragraph-tertiary color-txt-dark" style="text-transform: capitalize;"><%=hotTopic.category%></p>
                        </div>
                    </div>
                    <div class="hot-topic__about-hotTopic">
                        <div class="hot-topic__txt-ttl">
                            <p class="paragraph-tertiary color-txt-dark text-bold-1">Tags</p>
                        </div>
                        <div class="hot-topic__txt-ans">
                            <%for (const tag of hotTopic.tags){%>
                                <a href="/hotTopics/search?tags=<%=tag%>" style="margin-right: 1rem; text-transform: capitalize;" class="paragraph-tertiary color-txt-dark"><%=tag%></a>
                            <%}%>
                        </div>
                    </div>

                    <p class="paragraph-tertiary color-txt-dark u-mar-t-2"><%=hotTopic.authTagLine%></p>
                </div>
            </div>

            <div class="hot-topic__content-container">
                <%-hotTopic.openingSpeakingPoint%>
                <p>&nbsp;</p>
                <%-hotTopic.content%>
            </div>
        </div>
    </section>

    <%- include('../../components/footer')%>

    <script src="/js/content_hotTopics.d50cb7f780f0b0fd1980.bundle.js"></script>

</body>
</html>