<%- include('../../components/head.ejs')%>
    <link href="/css/contact.7632a6c606fd58d3e7bb.css" rel="stylesheet">
    <title>Contact</title>
</head>
<body>

    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>


    <header class="header">
        
        <div class="hero">
            <div class="hero__figure-container">
                <img src="/images/contact-figure.png" alt="contact-illustration" class="hero__figure fluid-img">
            </div>

            <div class="hero__contact-form-container">
                <form action="/contactTvg?_csrf=<%=csrfToken%>" method="POST" class="form hero__contact-form">
                    <div class="form__group--contact">
                        <label for="name" class="form__label">Name</label>
                        <input type="text" maxlength="40" name='name' class="form__control" id="name" required>
                    </div>
                    <div class="form__group--contact">
                        <label for="email" class="form__label">Email</label>
                        <input type="email" name="email" class="form__control" id="email" required>
                    </div>
                    <div class="form__group--contact">
                        <label for="phone" class="form__label">Phone</label>
                        <input type="number" name="phone" class="form__control" id="phone" required>
                    </div>
                    <div class="form__group--contact">
                        <label for="email" class="form__label">Comment</label>
                        <textarea class="form__control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form__group--contact u-mar-t-3">
                        <button class="form__submit-btn form__submit-btn--pink" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        
    </header>

    <section class="address">
        <div class="address__container">
            <h3 class="heading-tertiary u-mar-b-2">Emails:</h3>
            <%for (const c of siteSettings.otherEmail){%>
            <p class="paragraph-tertiary color-txt-dark u-center-text"><%=c.title%>: <span class="text-bold-1"><%=c.email%></span></p>
            <%}%>
            
            <div class="address__border"></div>

            <h3 class="heading-tertiary u-mar-b-2">Mailing:</h3>
            <p class="paragraph-tertiary color-txt-dark u-center-text"><%-siteSettings.mailAddress[0]%></p>
        </div>
    </section>

    <section class="founder">
        <div class="founder__container">
            <div class="founder__img-container">
                <img src="<%=contactPage.imageUrl%>" alt="jacquie photo" class="founder__img fluid-img">
            </div>
            <%-contactPage.content%>
        </div>
    </section>

    <section class="feedback">
        <h2 class="heading-tertiary">producer feedback</h2>

        <%for (const testimonial of contactPage.testimonials){%>
        <div class="feedback__card u-mar-t-5">
            <div class="feedback__img-wrapper">
                <div class="feedback__profile-img">
                    <img src="<%=testimonial.imgSrc%>" alt="producer image" class="feedback__img fluid-img">
                </div>
            </div>
            <div class="feedback__content-container">
                <%-testimonial.content%>
                <p class="paragraph-tertiary color-txt-dark u-mar-t-3 text-bold-1"><%=testimonial.fullName%> , <%=testimonial.title%></p>
            </div>
        </div>
        <%}%>
    </section>

    <%if(errMessage){%>
    <section class="message" <%-errMessage?'style="display: flex;"': null%> >
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>
    <%}else if(succMessage){%>
    <section class="message" <%-succMessage?'style="display: flex;"': null%> >
        <div class="message__txt message__txt--success"><%=succMessage%></div>
    </section>
    <%}%>

    <%- include('../../components/footer')%>
    <script src="/js/contact.9665abd484ae12e184f1.bundle.js"></script>
</body>
</html>