<%- include('../../components/head.ejs')%>
    <link href="css/faq.c5a58ac6bb071c3494ff.css" rel="stylesheet">
    <title>FAQ</title>
</head>
<body>
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <section class="faq">
        <div class="heading-secondary u-mar-b-5">Frequently Asked Questions</div>

        <%for (const faq of faqs){%>
        <div class="faq__container">
            <button for="faq-toggle" class="faq__question">
                <div class="faq__icon">
                    <span class="before before--inactive"></span>
                    <span class="after after--inactive"></span>
                </div>
                <div class="faq__question-text">
                    <%-faq.question%>
                </div>
            </button>
            <div class="faq__answer faq__answer--inactive">
                <h3><%-faq.answerTitle%></h3>
                <%-faq.videoLink%>
                <%-faq.answer%>
            </div>
        </div>
        <%}%>
    </section>

     <%- include('../../components/footer')%>

    <script src="js/faq.1c041f4a336a1488b388.bundle.js"></script>
</body>
</html>