<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/guestpert_personal.bccc2a7882cda19c2fbe.css">
<title>TVGuestpert</title>
</head>

<body>
    
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>


    <header class="header">
        <div class="header__strip header__strip--<%=guestpert.membership%>"><%=guestpert.membership%> Guestpert</div>

        <%if(guestpert.allReels.length>0 && guestpert.allBooks.length>0 ){%>
        <div class="hero slide-1">
            <div class="hero__img-wrapper">
                <div class="hero__img-container">
                    <img src="<%=guestpert.imgSrc%>" alt="guestpert image" class="hero__img fluid-img">
                </div>
            </div>
            <div class="hero__content-container">
                <div class="hero__guestpert-info">
                    <h2 class="heading-secondary hero__heading"><%=guestpert.name%></h2>
                    <p class="paragraph-primary hero__guestpert-designation"><%=guestpert.title%></p>
                    <div class="hero__guestpert-expertise">
                        <p class="hero__caption-txt-bg color-txt-dark">Expertise: <%=guestpert.primaryExpertise%></p>
                        <p class="hero__caption-txt-sm color-txt-dark"><%-guestpert.expandedExpertise.replace(/<p>|<\/p>|&nbsp;/g,'')%></p>
                    </div>
                </div>
                <%if(guestpert.membership==='elite' || guestpert.membership==='platinum'){%>
                <div class="hero__media-container">
                    <%if(guestpert.membership==='platinum'){%>
                    <div class="hero__book-img-container">
                        <img src="<%-guestpert.allBooks[0].imageUrl%>" alt="book image"
                            class="hero__book-img fluid-img">
                    </div>
                    <%}%>
                    <div class="hero__reel-container">
                        <%-guestpert.allReels[guestpert.allReels.length-1].videoLink%>
                </div>
            </div>
            <%}%>
            </div>

        </div>
        <%}%>

            <%if(guestpert.allReels.length>0 && guestpert.allBooks.length==0 ){%>
            <div class="hero slide-2">
                <div class="hero__img-wrapper">
                    <div class="hero__img-container">
                        <img src="<%=guestpert.imgSrc%>" alt="guestpert image" class="hero__img fluid-img">
                    </div>
                </div>
                <div class="hero__content-container">
                    <div class="hero__guestpert-info">
                        <h2 class="heading-secondary hero__heading"><%=guestpert.name%></h2>
                        <p class="paragraph-primary hero__guestpert-designation"><%=guestpert.title%></p>
                        <div class="hero__guestpert-expertise">
                            <p class="hero__caption-txt-bg color-txt-dark">Expertise: <%=guestpert.primaryExpertise%>
                            </p>
                            <p class="hero__caption-txt-sm color-txt-dark"><%-guestpert.expandedExpertise.replace(/<p>|<\/p>|&nbsp;/g,'')%></p>
                        </div>
                    </div>
                    <%if(guestpert.membership==='elite' || guestpert.membership==='platinum'){%>
                    <div class="hero__media-container">
                        <div class="hero__reel-container">
                            <%-guestpert.allReels[guestpert.allReels.length-1].videoLink%>
                        </div>
                    </div>
                    <%}%>
            </div>

        </div>
        <%}%>

    <%if(guestpert.allReels.length===0){%>
    <div class="hero slide-3">
        <div class="hero__img-wrapper">
            <div class="hero__img-container">
                <img src="<%=guestpert.imgSrc%>" alt="guestpert image" class="hero__img fluid-img">
            </div>
        </div>
        <div class="hero__content-container">
            <div class="hero__guestpert-info">
                <h2 class="heading-secondary hero__heading"><%=guestpert.name%></h2>
                <p class="paragraph-primary hero__guestpert-designation"><%=guestpert.title%></p>
                <div class="hero__guestpert-expertise">
                    <p class="hero__caption-txt-bg color-txt-dark">Expertise:
                        <%=guestpert.primaryExpertise%></p>
                    <p class="hero__caption-txt-sm color-txt-dark"><%-guestpert.expandedExpertise.replace(/<p>|<\/p>|&nbsp;/g,'')%></p>
                </div>
            </div>
            <%if(guestpert.allBooks.length>0 && guestpert.membership === 'platinum'){%>
            <div class="hero__media-container">
                <div class="hero__book-img-container">
                    <img src="<%-guestpert.allBooks[0].imageUrl%>" alt="book image"
                        class="hero__book-img fluid-img">
                </div>
            </div>
            <%}%>
        </div>
        <%}%>
    </header>

    <nav class="scroll-bar__wrapper ">
        <div class="scroll-bar scroll-bar--<%=guestpert.membership%>">
            <ul class="scroll-bar__btn-list">
                <li><a href="#bio" class="scroll-bar__btn">Bio</a></li>
                <%if(guestpert.allMedia.length>0){%>
                    <li><a href="#media" class="scroll-bar__btn">Media</a></li>
                <%}%>
                <%if(guestpert.allHotTopics.length>0){%>
                    <li><a href="#hot-topics" class="scroll-bar__btn">Hot Topics</a></li>
                <%}%>
                <%if(guestpert.membership==='elite' || guestpert.membership === 'platinum'){%>
                    <%if(guestpert.allBlogs.length>0){%>
                        <li><a href="#blog" class="scroll-bar__btn">Blog</a></li>
                    <%}%>
                    <%if(guestpert.allReels.length>0){%>
                        <li><a href="#demo-reel" class="scroll-bar__btn">Demo Reel</a></li>
                    <%}%>
                    <%if(guestpert.membership === 'platinum' && guestpert.allBooks.length>0){%>
                        <li><a href="#books" class="scroll-bar__btn">Book Cover</a></li>
                    <%}%>
                <%}%>
            </ul>
        </div>
    </nav>
    <div class="scroll-bar__duplicate"></div>

    <section class="bio">
        <div class="bio__content-container">
            <div class="guestpert_personal-heading  u-mar-b-4">
                <h2 class="heading-secondary">Bio</h2>
            </div>
            <div class="">
                <%-guestpert.biography%>
            </div>
        </div>
    </section>

    <%if(guestpert.allMedia.length>0){%>
    <section class="media">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">Media</h2>
        </div>
        <%if(upcomingAppearance.length>0){%>
        <div class="media__upcoming-appearances">
            <p3 class="paragraph-primary">UPCOMING APPEARANCES</p3>
            <div class="row__grid-4 u-mar-b-3 u-mar-t-3">
                <%for (const app of upcomingAppearance.reverse()){%>
                <div class="card-4 media__cards">
                    <p class="media__para u-mar-b-2"><%=app.topic%>
                    </p>
                    <a href="<%=app.videoLink%>" class="media__video-container color-txt-dark">
                        <div class="media__video"><%=app.title%></div>
                        <svg class="media__play-icon">
                            <use xlink:href="/images/sprite.svg#play-circle"></use>
                        </svg>
                    </a>
                </div>
                <%}%>
            </div>

            <div class="page">
                <ul class="page__list" id="page-upcomingAppearance">
                </ul>
            </div>
        </div>
        <%}%>

        <%if(priorAppearance.length>0){%>
        <div class="media__prior-appearances">
            <p3 class="paragraph-primary">PRIOR APPEARANCES</p3>
            <div class="row__grid-4 u-mar-b-3 u-mar-t-3">

                <%for (const app of priorAppearance.reverse()){%>
                <div class="card-4 media__cards">
                    <p class="media__para u-mar-b-2"><%=app.topic%>
                    </p>
                    <a href="<%=app.videoLink%>" class="media__video-container color-txt-dark">
                        <div class="media__video"><%=app.title%></div>
                        <svg class="media__play-icon">
                            <use xlink:href="/images/sprite.svg#play-circle"></use>
                        </svg>
                    </a>
                </div>
                <%}%>

            </div>
           
            <div class="page">
                <ul class="page__list" id="page-priorAppearance">
                </ul>
            </div>
        </div>
        <%}%>
    </section>
    <%}%>

    <%if (guestpert.allHotTopics.length > 0 ){%>
    <section class="hot-topics">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">hot topics</h2>
        </div>
        <ul class="row__grid-4 ">
            <%for (const topic of guestpert.allHotTopics.reverse()){%>
            <li class="hot-topics__cards-wrapper">
                <a href="/readTopic/<%=topic._id%>" class="card-4 hot-topics__cards">
                    <div class="hot-topics__title-container u-center-text">

                        <p class="hot-topics__title">
                            <%=topic.title%>
                        </p>
                        <svg class="hot-topics__icon hot-topics__icon--top-left">
                            <use xlink:href="/images/sprite.svg#left-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-left">
                            <use xlink:href="/images/sprite.svg#left-bottom"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--top-right">
                            <use xlink:href="/images/sprite.svg#right-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-right">
                            <use xlink:href="/images/sprite.svg#right-bottom"></use>
                        </svg>
                    </div>

                    <div class="hot-topics__title-duplicate u-center-text">
                        <p class="hot-topics__title">
                            <%=topic.title%>
                        </p>
                    </div>

                    <div class="hot-topics__content-container u-mar-t-2">
                        <p class="hot-topics__content-para u-center-text">
                            <%-topic.openingSpeakingPoint.replace(/<p>/g,'').replace(/<\/p>/g,'').replace('$nbsp;','').slice(0, 110)%>...
                        </p>
                    </div>

                    <div class="hot-topics__guestpert-info u-mar-t-2 u-mar-b-2">
                        <div class="hot-topics__img-wrapper">
                            <div class="hot-topics__img-container">
                                <img src="<%=guestpert.imgSrc%>" alt="guestpert image"
                                    class="hot-topics__img fluid-img">
                            </div>
                        </div>
                        <div class="hot-topics__guestpert-content-container">
                            <p class="hot-topics__content-caption color-txt-dark text-bold-1"><%=guestpert.name%></p>
                            <p class="hot-topics__content-caption color-txt-dark"><%=guestpert.primaryExpertise%>
                            </p>
                            <p class="hot-topics__content-caption color-txt-dark"><%=guestpert.extendedExpertise%></p>
                        </div>
                    </div>
                </a>
            </li>
            <%}%>
        </ul>
      
        <div class="page">
            <ul class="page__list" id="page-hotTopics">
            </ul>
        </div>
    </section>
    <%}%>

    <%if(guestpert.allBlogs.length>0 && (guestpert.membership==='elite' || guestpert.membership==='platinum')){%>
    <section class="blog">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">BLOG</h2>
        </div>

        <div class="blog__content u-absCenter" style="width: 100%;">
            <%for (const blog of guestpert.allBlogs.reverse()){%>
            <div class="blog__card">
                <h3 class="blog__heading u-mar-b-2"><%=blog.title%></h3>
                <p class="paragraph-tertiary blog__para"><%-blog.content.replace(/<p>/g,'').replace(/<\/p>/g,'').replace('$nbsp;','').replace(/<img.*?src="(.*?)"[^\>]+>/g, '').slice(0, 200)%>...</p>
                <a href="/blog/<%=blog._id%>" class="blog__button color-txt-golden"> Continue Reading</a>
            </div>
            <%}%>
        </div>

        <div class="page">
            <ul class="page__list" id="page-blogs">
            </ul>
        </div>
    </section>
    <%}%>

    <%if(guestpert.allReels.length>0 && (guestpert.membership==='elite' || guestpert.membership==='platinum')){%>
    <section class="demo-reel">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">Demo Reel</h2>
        </div>

        <div class="row__grid-4 u-mar-b-3 u-mar-t-3">
            <%for (const reel of guestpert.allReels.reverse()){%>
                <div class="card-4 demo-reel__cards">
                    <%-reel.videoLink%>
                </div>
            <%}%>
        </div>
        
        <div class="page">
            <ul class="page__list" id="page-reel">
            </ul>
        </div>
    </section>
    <%}%>


    <% if(guestpert.allBooks.length>0 &&  guestpert.membership==='platinum'){%>
    <section class="books">
        <div class="guestpert_personal-heading  u-mar-b-4">
            <h2 class="heading-secondary">Book Cover</h2>
        </div>

        <div class="row__grid-4 u-mar-b-3 u-mar-t-3">
            <%for (const book of guestpert.allBooks.reverse()){%>
            <div class="card-4 books__cards">
                <div class="books__img-container">
                    <img src="<%=book.imageUrl%>" alt="book image" class="books__img fluid-img">
                </div>
            </div>
            <%}%>
        </div>
       
        <div class="page">
            <ul class="page__list" id="page-boks">
            </ul>
        </div>
    </section>
    <%}%>

    <%- include('../../components/footer')%>

    <script src="/js/guestpert_personal.663f7c6d6b1161bdd26e.bundle.js"></script>


</body>

</html>