<%- include('../../components/head.ejs')%>
    <link href="css/guestpert.39a44bbc32cdc2dec0dc.css" rel="stylesheet">
    <title>Guestperts</title>
</head>

<body>

    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>


    <header class="header">
        <div class="header__hero-wrapper">
            <div class="hero">
                <div class="search-box  u-mar-b-2">
                    <div class="form__search">
                        <input class="form__control form__search-input" autocomplete="off" id="search-input" type="text"
                            placeholder="Search Guestperts" required>
                        <input type="hidden" class="form__hidden-input" value="<%=keyword%>" id="hidden-input">
                        <button class="form__search-btn form__search-btn-sm" id="form-search-btn">
                            <svg class="form__search-icon">
                                <use xlink:href="images/sprite.svg#magnifying-glass"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="featured__autocomplete-options form__autocomplete">
                        <div class="custom-select">
                            <div class="custom-options"></div>
                        </div>
                    </div>
                </div>
                <div class="hero__filter-btn-container">
                    Search By
                    <button class="hero__filter-btn hero__filter-btn--active">All</button>
                    <button class="hero__filter-btn">Platinum</button>
                    <button class="hero__filter-btn">Elite</button>
                    <button class="hero__filter-btn">Standard</button>
                    <button class="hero__filter-btn">Produced Reels</button>
                    <button class="hero__filter-btn">Expertise</button>
                </div>

                <button class="hero__btn-see-show">A-Z guestpert List</button>
            </div>
        </div>
    </header>


    <section class="guestpert-list">
        <ul class="guestpert-list__box"></ul>
    </section>


    <section class="guestperts"></section>

    <div class="page u-mar-t-2">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <%- include('../../components/footer')%>

    <script src="js/guestpert.bbd9911a606199638ac0.bundle.js"></script>

</body>

</html>