<%- include('../../components/head.ejs')%>
    <link href="css/home.bdc3d057ceca0553d2a5.css" rel="stylesheet">
    <title>Home</title>
    </head>

    <body>

        <%- include('../../components/headerBars/frontendHeaderBar')%>
        <%- include('../../components/sideBar/frontendSidebar')%>


        <style>
            .slide-1__image-container {
                background-image: url(<%-homePage.slides.slide_1.imageUrl%>);
            }

            .slide-3__img-container {
                background-image: url(<%-homePage.slides.slide_3.imageUrl%>);
            }

            .slide-4__img-container {
                background-image: url(<%-homePage.slides.slide_3.imageUrl%>);
            }

            @supports ((-webkit-mask-image: url()) or (mask-image: url())) {
                .slide-1__image-container {
                    background-image: none;
                }

                .slide-1__image-container:before {
                    background-image: url(<%-homePage.slides.slide_1.imageUrl%>);
                }

                .slide-3__img-container {
                    background-image: none;
                }

                .slide-3__img-container:before {
                    background-image: url(<%-homePage.slides.slide_3.imageUrl%>);
                }

                .slide-4__img-container {
                    background-image: none;
                }

                .slide-4__img-container:before {
                    background-image: url(<%-homePage.slides.slide_4.imageUrl%>);
                }
            }

            ;
        </style>

        <header class="header">
            <div class="header__slide">

                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides slides__container">

                        <li class="glide__slide slide-1">
                            <div class="slide-1__hero-fig-container">
                                <div class="slide-1__image-container">
                                    <img src="/images/slide-1-boundary.png" alt="" class="slide-1__image-boundary">
                                </div>
                                <div class="slide-1__illustration-container">
                                    <svg class="slide-1__illustration">
                                        <use xlink:href="/images/sprite.svg#camera"></use>
                                    </svg>
                                </div>

                                <% if(homePage.slides.slide_1.videoLink.length>0){%>
                                    <a href="#play-video" class="button__play slide-1__button-play"
                                        data-url="<%=homePage.slides.slide_1.videoLink%>">
                                        <svg class="button__play-icon">
                                            <use xlink:href="/images/sprite.svg#play-circle"></use>
                                        </svg>
                                        Play video
                                    </a>
                                    <%}%>
                            </div>

                            <div class="slide-1__content-container">
                                <h1 class="slide-1__title heading-primary u-mar-b-2">
                                    <%=homePage.slides.slide_1.title%>
                                </h1>
                                <div class="caption-container">
                                    <%-homePage.slides.slide_1.caption%>
                                </div>
                            </div>
                        </li>




                        <li class="glide__slide slide-2">
                            <div class="slide-2__img-wrapper">
                                <div class="slide-2__img-container">
                                    <img src="<%=homePage.slides.slide_2.imageUrl%>" alt="book image"
                                        class="fluid-img slide-2__img">
                                    <span class="slide-2__img-background--1 slide-2__img-background"></span>
                                    <span class="slide-2__img-background--2 slide-2__img-background"></span>
                                    <span class="slide-2__img-background--3 slide-2__img-background"></span>
                                    <span class="slide-2__img-background--4 slide-2__img-background"></span>

                                    <% if(homePage.slides.slide_2.videoLink.length>0){%>
                                        <a href="#play-video" class="button__play slide-2__play-btn"
                                            data-url="<%=homePage.slides.slide_2.videoLink%>">
                                            <svg class="button__play-icon slide-2__btn-icon">
                                                <use xlink:href="/images/sprite.svg#play-circle"></use>
                                            </svg>
                                            Play video
                                        </a>
                                        <%}%>
                                </div>
                            </div>

                            <div class="slide-2__content">
                                <div class="guestpert_personal-heading slide-2__author-name-container">
                                    <p class="paragraph-secondary slide-2__author-name">
                                        <%=homePage.slides.slide_2.anchor%>
                                    </p>
                                </div>

                                <div class="heading-primary u-mar-b-2">
                                    <%=homePage.slides.slide_2.title%>
                                </div>
                                <div class="caption-container">
                                    <%-homePage.slides.slide_2.caption%>
                                </div>
                            </div>
                        </li>


                        <li class="glide__slide slide-3">
                            <div class="slide-3__curvy-bg--v">
                                <img src="/images/curve-bg.png" alt="curve-bg" class="fluid-img">
                            </div>
                            <div class="slide-3__curvy-bg--h">
                                <img src="/images/curve-bg-h.png" alt="curve-bg" class="fluid-img">
                            </div>
                            <div class="slide-3__img-wrapper">
                                <div class="slide-3__img-container">
                                    <svg class="slide-3__img">
                                        <use xlink:href="/images/sprite.svg#slide3tv"></use>
                                    </svg>

                                    <% if(homePage.slides.slide_3.videoLink.length>0){%>
                                        <a href="#play-video" class="button__play slide-3__button-play"
                                            data-url="<%=homePage.slides.slide_3.videoLink%>">
                                            <svg class="button__play-icon">
                                                <use xlink:href="/images/sprite.svg#play-circle"></use>
                                            </svg>
                                            Play video
                                        </a>
                                        <%}%>
                                </div>
                            </div>

                            <div class="slide-3__content">
                                <div class="guestpert_personal-heading slide-3__author-name-container u-mar-t-3">
                                    <p class="paragraph-secondary slide-3__author-name">
                                        <%=homePage.slides.slide_3.anchor%>
                                    </p>
                                </div>

                                <div class="heading-primary u-mar-t-4 u-mar-b-2">
                                    <%=homePage.slides.slide_3.title%>
                                </div>
                                <div class="caption-container">
                                    <%-homePage.slides.slide_3.caption%>
                                </div>
                            </div>
                        </li>


                        <li class="glide__slide slide-4">
                            <div class="slide-4__hero-container">
                                <div class="slide-4__content">
                                    <div class="guestpert_personal-heading slide-4__author-name-container u-mar-t-3">
                                        <p class="paragraph-secondary slide-4__author-name">
                                            <%=homePage.slides.slide_4.anchor%>
                                        </p>
                                    </div>

                                    <div class="heading-primary u-mar-t-4 u-center-text u-mar-b-2">
                                        <%=homePage.slides.slide_4.title%>
                                    </div>
                                    <div class="caption-container">
                                        <%-homePage.slides.slide_4.caption%>
                                    </div>
                                </div>

                                <div class="slide-4__img-container">
                                    <img src="/images/slide4img.png" alt="image frame" class="slide-4__frame">

                                    <% if(homePage.slides.slide_4.videoLink.length>0){%>
                                        <a href="#play-video" class="button__play slide-4__button-play"
                                            data-url="<%=homePage.slides.slide_4.videoLink%>">
                                            <svg class="button__play-icon slide-4__btn-icon">
                                                <use xlink:href="/images/sprite.svg#play-circle"></use>
                                            </svg>
                                            Play video
                                        </a>
                                        <%}%>
                                </div>

                            </div>

                        </li>

                        <li class="glide__slide slide-5">

                            <div class="slide-5__content-container">
                                <div class="slide-5__content">
                                    <div class="guestpert_personal-heading slide-5__author-name-container">
                                        <p class="paragraph-secondary slide-5__author-name">
                                            <%=homePage.slides.slide_5.anchor%>
                                        </p>
                                    </div>

                                    <div class="heading-primary u-mar-b-2 slide-5__content-heading">
                                        <%=homePage.slides.slide_5.title%>
                                    </div>
                                    <div class="caption-container">
                                        <%-homePage.slides.slide_5.caption%>
                                    </div>
                                </div>
                            </div>

                            <div class="slide-5__img-wrapper">
                                <div class="slide-5__img-container">
                                    <img src="<%=homePage.slides.slide_5.imageUrl%>" alt="marketing image"
                                        class="fluid-img slide-5__img">

                                    <% if(homePage.slides.slide_5.videoLink.length>0){%>
                                        <a href="#play-video" class="button__play slide-5__button-play"
                                            data-url="<%=homePage.slides.slide_5.videoLink%>">
                                            <svg class="button__play-icon slide-5__btn-icon">
                                                <use xlink:href="/images/sprite.svg#play-circle"></use>
                                            </svg>
                                            Play video
                                        </a>
                                        <%}%>

                                </div>
                                <div class="slide-5__img-wrapper-hlf"></div>
                            </div>

                        </li>


                    </ul>
                </div>

                <div class="glide__bullets glide__bullets--header" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                    <button class="glide__bullet" data-glide-dir="=3"></button>
                    <button class="glide__bullet" data-glide-dir="=4"></button>
                </div>
            </div>

        </header>


        <section class="company-tags">
            <div class="container u-center-text">
                <%for (const tag of homePage.companyTags){%>
                    <div class="company-tags__modal-txt">
                        <%=tag%>
                    </div>
                    <%}%>
                        <span class="company-tags__txt-type" data-wait="7000"></span>
            </div>
        </section>


        <section class="featured featured__guestperts">
            <img src="/images/golden_line-left.png" alt="background_picture" class="goldenline__left goldenline">
            <div class="featured__search">
                <h2 class="heading-secondary u-center-text u-mar-b-2">featured <span
                        class="text-bold-1">guestperts</span>
                </h2>
                <div class="search-box">
                    <form action="/searchGuestpert?_csrf=<%=csrfToken%>" class="form__search" method="POST">
                        <input class="form__control form__search-input" name="guestpert-keyword" autocomplete="off"
                            aria-autocomplete="none" spellcheck="false" type="text" placeholder="Search Guestperts"
                            required>
                        <input type="hidden" name="guestpert-id" class="form__hidden-input">
                        <button class="form__search-btn form__search-btn-sm" type="submit">
                            <svg class="form__search-icon">
                                <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                            </svg>
                        </button>
                    </form>
                    <div class="featured__autocomplete-options form__autocomplete">
                        <div class="custom-select">
                            <div class="custom-options"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery">

                <!-- ------ Minimum 5 Hot Topics with content ------ -->
                <%for (const guestpert of homePage.homepageGuestperts){%>
                    <img class="gallery__modal-img" src="<%=guestpert.imgSrc%>" data-title1="<%=guestpert.fullName%>"
                        data-title2="<%=guestpert.title%>" data-id="<%=guestpert._id%>">
                    <%}%>

                        <ul class="gallery__img-list">
                            <li class="gallery__img-container">
                                <div class="gallery__img-frame">
                                    <img src="" alt="" class="gallery__img">
                                    <div class="gallery__about-img">
                                        <p3 class="caption-text-bg text-bold-1"></p3>
                                        <p3 class="caption-text-sm"></p3>
                                    </div>
                                </div>
                            </li>
                            <li class="gallery__img-container">
                                <div class="gallery__img-frame">
                                    <img src="" alt="" class="gallery__img">
                                    <div class="gallery__about-img">
                                        <p3 class="caption-text-bg text-bold-1"></p3>
                                        <p3 class="caption-text-sm"></p3>
                                    </div>
                                </div>
                            </li>
                            <li class="gallery__img-container">
                                <div class="gallery__img-frame">
                                    <img src="" alt="" class="gallery__img">
                                    <div class="gallery__about-img">
                                        <p3 class="caption-text-bg text-bold-1"></p3>
                                        <p3 class="caption-text-sm"></p3>
                                    </div>
                                </div>
                            </li>
                            <li class="gallery__img-container">
                                <div class="gallery__img-frame">
                                    <img src="" alt="" class="gallery__img">
                                    <div class="gallery__about-img">
                                        <p3 class="caption-text-bg text-bold-1"></p3>
                                        <p3 class="caption-text-sm"></p3>
                                    </div>
                                </div>
                            </li>
                        </ul>
            </div>
        </section>


        <%if(homePage.upcomingAppearanceTag[0].upcomingGuestpert){%>
            <section class="ribon-sm ribon__upcoming-guestpert">
                <div class="ribon-sm__title">requested <span class="text-bold-1"> Appearance</span></div>

                <%for (const tag of homePage.upcomingAppearanceTag){%>
                    <div class="ribon-sm__upcoming-modals" data-designation="<%=tag.guestpertTitle%>">
                        <%=tag.upcomingGuestpert%>
                    </div>
                    <%}%>

                        <div class="ribon-sm__content paragraph-primary text-bold-1 ribon-sm__shrink" data-wait="7000">
                            <div class="ribon-sm__content-txt-container">
                                <span class="ribon-sm__primary-content"></span>
                                <span class="caption-text-sm ribon-sm__caption u-text-left"></span>
                            </div>
                        </div>
            </section>
            <%}else{%>
                <section class="ribon-sm" style="height: 5rem;">
                    <div class="ribon-sm__title"><span class="text-bold-1">www.tvguestpert.com</span></div>
                </section>
                <%}%>


        <section class="featured featured__hot-topics">
            <img src="/images/golden_line-right.png" alt="background_picture"
                class="goldenline__right goldenline">

            <div class="gallery">

                <!-- ------ Minimum 5 Hot Topics with content ------ -->
                <%for ( const hotTopic of homePage.homepageHotTopics){%>
                    <img class="gallery__modal-img" src="<%=hotTopic.imgSrc%>"
                        data-title1="<%=hotTopic.topicTitle%>" data-title2="<%=hotTopic.author%>"
                        data-id="<%=hotTopic._id%>">
                    <%}%>

                        <ul class="gallery__img-list">
                            <li class="gallery__img-container">
                                <div class="gallery__img-frame">
                                    <img src="" alt="" class="gallery__img ">
                                    <div class="gallery__about-img">
                                        <p3 class="caption-text-bg text-bold-1"></p3>
                                        <p3 class="caption-text-sm "></p3>
                                    </div>
                                </div>
                            </li>
                            <li class="gallery__img-container">
                                <div class="gallery__img-frame">
                                    <img src="" alt="" class="gallery__img">
                                    <div class="gallery__about-img">
                                        <p3 class="caption-text-bg text-bold-1">
                                        </p3>
                                        <p3 class="caption-text-sm "></p3>
                                    </div>
                                </div>
                            </li>
                            <li class="gallery__img-container">
                                <div class="gallery__img-frame">
                                    <img src="" alt="" class="gallery__img">
                                    <div class="gallery__about-img">
                                        <p3 class="caption-text-bg text-bold-1"></p3>
                                        <p3 class="caption-text-sm "></p3>
                                    </div>
                                </div>
                            </li>
                            <li class="gallery__img-container">
                                <div class="gallery__img-frame">
                                    <img src="" alt="" class="gallery__img">
                                    <div class="gallery__about-img">
                                        <p3 class="caption-text-bg text-bold-1"></p3>
                                        <p3 class="caption-text-sm "></p3>
                                    </div>
                                </div>
                            </li>
                        </ul>
            </div>


            <div class="featured__search">
                <h2 class="heading-secondary u-center-text u-mar-b-2">Featured<span class="text-bold-1"> Hot
                        Topics</span>
                </h2>
                <div class="search-box">
                    <form action="/searchHotTopics?_csrf=<%=csrfToken%>" class="form__search" method="POST">
                        <input class="form__control form__search-input" name="hotTopic-keyword"
                            autocomplete="off" aria-autocomplete="none" spellcheck="false" type="text"
                            placeholder="Search Hot Topics" required>
                        <input type="hidden" name="hotTopic-id" class="form__hidden-input">
                        <button class="form__search-btn form__search-btn-sm" type="submit">
                            <svg class="form__search-icon">
                                <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                            </svg>
                        </button>
                    </form>
                    <div class="featured__autocomplete-options form__autocomplete">
                        <div class="custom-select">
                            <div class="custom-options"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%if(homePage.hotTopicTag[0]){%>
            <section class="ribon-sm ribon__hotTopics">
                <div class="ribon-sm__title">Hot<span class="text-bold-1"> Topics</span></div>

                <%for (const tag of homePage.hotTopicTag){%>
                    <div class="ribon-sm__hotTopics-modals">
                        <%=tag%>
                    </div>
                    <%}%>

                        <div class="ribon-sm__content paragraph-primary text-bold-1" data-wait="5000"></div>
            </section>
            <%}%>

                <section class="founder">
                    <div class="founder__bio">
                        <div class="founder__bio-box">

                            <h1 class="heading-secondary founder__name-box u-mar-b-2">JACQUIE JORDAN
                                <br> <span class="heading-tertiary u-mar-t-1">FOUNDER</span>
                            </h1>
                            <p class="paragraph-tertiary u-center-text color-txt-dark">Jacquie
                                Jordan is a dynamic, female entrepreneur who’s built an eponymous
                                cutting-edge, full service media platform providing in-demand
                                content development, promotion, publishing and visibility training.
                            </p>
                            <a href="/founder" class="button__primary u-mar-t-2">Read More</a>
                        </div>

                        <div class="founder__img-container">
                            <img src="../../images/team/jaquie_round.png" alt="Jacquie Jordan picture"
                                class="fluid-img">
                        </div>
                    </div>
                </section>


        <section class="blog">
            <h2 class="heading-secondary u-mar-b-3">Jacquie's blogs</h2>
            <%for (const blog of blogs){%>
                <div class="blog__card u-mar-b-5">
                    <h3 class="blog__heading u-mar-b-2">
                        <%=blog.title%>
                    </h3>
                    <p class="paragraph-tertiary blog__para">
                        <%-blog.content%>...
                    </p>
                    <a href="/blog/<%=blog._id%>" class="blog__button color-txt-golden">
                        Continue Reading</a>
                </div>
                <%}%>

                    <a href="/founder?blog=true" class="button__primary u-mar-t-4">More
                        blogs by Jacquie Jordan</a>

        </section>



        <section class="featured-books">
            <p class="caption-text-bg color-txt-dark">TVGuestpert Publishing</p>
            <h1 class="heading-secondary u-mar-b-3">featured <span class="text-bold-1">books</span>
            </h1>
            <div class="row__grid-featured-books u-mar-b-5">
                <div class="glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <%for (const book of homePage.homepageBooks){%>
                                <li class="glide__slide featured-books__img-container">
                                    <a href="/product/<%=book._id%>" class="featured-books__links">
                                        <img src="<%=book.imgSrc%>" alt="book"
                                            class="featured-books__img">
                                        <%if(book.bestSeller===true){%>
                                            <div
                                                class="featured-books__best-seller featured-books__best-seller--active">
                                                Best Seller
                                            </div>
                                        <%}%>
                                    </a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section class="testimonials">
            <h1 class="heading-secondary u-center-text u-mar-b-3">guestpert Testimonials
            </h1>
            <div class="row__grid-2">
                <% for (const testimonial of homePage.homepageTestimonials){%>
                    <div class="card-2 testimonials__container">
                        <blockquote class="testimonials__text-container u-mar-t-2 u-center-text">

                            <%-testimonial.content%>

                                <img src="<%=testimonial.imgSrc%>"
                                    alt="<%=testimonial.fullName%> img" class="testimonials__photo">
                                <span class="triangle"></span>
                        </blockquote>
                        <figcaption class="testimonials__user u-mar-b-3">
                            <p class="testimonial__username paragraph-secondary">
                                <%=testimonial.fullName%>
                            </p>
                            <p class="testimonials__para color-text-dark">
                                <%=testimonial.title%>
                            </p>
                        </figcaption>
                    </div>
                    <%}%>
            </div>
        </section>

        <%- include('../../components/footer')%>

            <div class="popup" id="play-video">
                <a href="#" class="popup__close"></a>

                <div class="popup__video-container">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

            </div>

            <script src="js/home.17caa2bdc63f29bbeede.bundle.js"></script>

    </body>

    </html>