<%- include('../../components/head.ejs')%>
    <link href="/css/hot_topics.123b44fcfd46a4b07807.css" rel="stylesheet">
    <title>Hot_topics</title>
</head>
<body>
 
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <header class="header">
        <div class="header__hero-wrapper">
            <div class="hero">
                <h2 class="heading-secondary u-mar-b-5"><span class="color-txt-red text-bold-1">Hot</span> Topics</h2>
                <div class="form__search u-mar-b-2">
                    <input class="form__control form__search-input" autocomplete="off" id="search-input" type="text" placeholder="Search Hot Topics" required>
                    <button class="form__search-btn form__search-btn-sm" type="submit">
                        <svg class="form__search-icon">
                            <use xlink:href="images/sprite.svg#magnifying-glass"></use>
                        </svg>
                    </button>
                </div>
                <p class="paragraph-tertiary u-center-text color-txt-dark">
                    We work with our Guestperts to develop their sound-bites, content, and message that created the most possibilities to getting booked on TV! Here are our main Hot Topic Categories where you can find the right Hot Topic and Guestpert for your show.
                </p>
            </div>
        </div>
    </header>

    <section class="hot-topics">
        <h2 class="heading-secondary u-mar-t-5 color-txt-red u-center-text">what's hot, right now</h2>

        
        <div class="row__grid-6 u-mar-b-5 u-mar-t-5">
            <%for( const cat of categories){%>
            <li class="card-6 hot-topics__cards">
                <a href="/hotTopics/<%=cat.title%>" class="hot-topics__go-to">
                    <div class="hot-topics__img-container">
                        <img src="<%=cat.imageUrl%>" alt="hotTopicCategory image" class="fluid-img hot-topics__img">
                    </div>
                    <p class="hot-topics__title u-center-text"><%=cat.title%></p>
                </a>
            </li>
            <%}%>
        </div>
    </section>

    <%- include('../../components/footer')%>

    <script src="js/hot_topics.ee26b4f6ff44359c543a.bundle.js"></script>
</body>
</html>
