<%- include('../../components/head.ejs')%>
<link href="css/jaquiesDetails.40a2942e88eb137ebae9.css" rel="stylesheet">
<title>Jacquie Jordan</title>
</head>

<body>
 
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <header class="header">
        <div class="header__slide">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <%for(const app of founder.appearances){%>
                        <li class="glide__slide ">
                            <%-app.videoLink%>
                        </li>
                        <%}%>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                        <svg class="glide__arrow-icon">
                            <use xlink:href="/images/sprite.svg#chevron-left"></use>
                        </svg>
                    </button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                        <svg class="glide__arrow-icon">
                            <use xlink:href="/images/sprite.svg#chevron-right"></use>
                        </svg>
                    </button>
                </div>
                <!-- <div class="glide__bullets glide__bullets--appearance" data-glide-el="controls[nav]">
                    <%founder.appearances.forEach((c, i)=>{%>
                        <button class="glide__bullet" data-glide-dir="=<%=i%>"></button>
                    <%})%>
                </div> -->
            </div>
        </div>
    </header>

    <section class="content">
        <h2 class="heading-secondary u-center-text u-mar-b-5">Jacquie Jordan</h2>
        <%-founder.details%>
    </section>



    <section class="blog u-absCenter u-mar-b-3" id="blogs">
        <h2 class="heading-secondary u-mar-b-3">Jacquie's blogs</h2>

        <%for (const blog of founder.blog){%>
        <div class="blog__card">
            <h3 class="blog__heading u-mar-b-2"><%=blog.title%></h3>
            <p class="paragraph-tertiary blog__para">
                <%=blog.content.replace(/<[\s\w="-:;]*>|<[\/\s]*>/g,'').replace(/&nbsp;/g,'').replace(/<img.*?src="(.*?)"[^\>]+>/g, '').slice(0, 200)%>
            </p>
            <a href="/blog/<%=blog._id%>" class="blog__button color-txt-golden"> Continue Reading</a>
        </div>
        <%}%>
    </section>

    <div class="page u-mar-b-8">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    <div id="scroll" data-scroll="<%-blog?blog:''%>"></div>

    <%- include('../../components/footer')%>

    <script src="/js/jaquiesDetails.9ff3f208fb97d8ab26ea.bundle.js"></script>

</body>

</html>