<%- include('../../components/head.ejs')%>
<link href="/css/product_details.2bb8e1c698a672302bc8.css" rel="stylesheet">
<title>Product Details</title>
</head>

<body>

    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <section class="product_details">
        <div class="product_details__box">
            <div class="product_details__card-wrapper">
                <div class="card-4 products__cards">
                    <div class="products__cards-details">
                        <div class="products__title-container">
                            <h3 class="products__heading"><%=prod.title%></h3>
                        </div>
                        <div class="products__content-container">
                            <div class="products__description">
                                <p class="products__para">
                                    <%-prod.description.split('</p>')[0].replace(/<p>|<\/p>|<strong>|<\/strong>/g, '').slice(0, 70)%>
                                </p>
                            </div>
                            <div class="products__price u-mar-b-3">
                                <%-prod.currency.toLowerCase()=='usd'?'$':prod.currency%><%=prod.price%></div>
                            <div class="products__buttons">
                                <%if(prod.paymentMode==='thirdParty'|| prod.paymentMode==='thirdparty'){%>
                                <a href="<%=prod.thirdpartyUrl%>" class="products__buy-btn">
                                    <div class="products__icon-container">
                                        <svg class="products__icon">
                                            <use xlink:href="/images/sprite.svg#shopping-cart"></use>
                                        </svg>
                                    </div>
                                    <span class="products__price-txt">Buy On Amazon</span>
                                </a>
                                <%}else if(prod.paymentMode.toLowerCase()=='paypal'){%>
                                <form action="/guestpert/buyProduct?_csrf=<%=csrfToken%>" method="POST">
                                    <button class="products__buy-btn">
                                        <input type="hidden" name="prodId" value="<%=prod._id%>">
                                        <div class="products__icon-container">
                                            <svg class="products__icon">
                                                <use xlink:href="/images/sprite.svg#shopping-cart"></use>
                                            </svg>
                                        </div>
                                        <span class="products__price-txt">Buy Now</span>
                                    </button>
                                </form>
                                <%}%>
                            <%if(prod.audioLink){%>
                                <a href="<%=prod.audioLink%>" class="products__listen-btn">Listen Now</a>
                                <%}%>
                        </div>
                    </div>
                    <div class="products__effect card-4__effect"></div>
                </div>
                <div class="products__img-wrapper">
                    <div class="products__img-container">
                        <img src="<%=prod.imgSrc%>" alt="image" class="fluid-img">
                    </div>
                    <%if(prod.bestSeller){%>
                        <div class="products__best-seller">Best Seller</div>
                    <%}%>
                </div>

            </div>
        </div>

        <div class="product_details__content-container u-mar-t-3">
            <h2 class="heading-secondary u-mar-b-3 product_details__title">
                <%=prod.title%>
            </h2>
            <%-prod.description%>
            </div>
        </div>


    <%if(prod.paymentMode==='order'|| prod.paymentMode==='Order'){%>
        <div class="edit" style="display: block;" id="edit">
            <!-- ---- Form Header ---- -->
            <div class="edit__heading"></div>
            <p class="paragraph-primary u-center-text edit__form-heading u-mar-t-2">PLEASE FILL OUT THE
                FORM
                BELOW AND WE WILL CONTACT YOU ABOUT YOUR ORDER</p>

            <!-- ---- Form Begining ---- -->
            <form action="/orderProduct?productId=<%=prod._id%>&_csrf=<%=csrfToken%>" method="POST"
                class="edit__form-container edit__form-container--hotTopics">
                <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

                <!-- ------Inputs and Lebels------ -->

                <div class="form__group--settings">
                    <label for="fullName" class="form__label">
                        <span class="form__label--caps">Full Name*</span>
                    </label>
                    <input type="text" maxlength="100" name="name" class="form__control" id="fullName" required>
                </div>

                <div class="form__group--settings">
                    <label for="email" class="form__label">
                        <span class="form__label--caps">Email*</span>
                    </label>
                    <input type="email" maxlength="100" name="email" class="form__control" id="email" required>
                </div>

                <div class="form__group--settings">
                    <label for="phone" class="form__label">
                        <span class="form__label--caps">Phone*</span>
                    </label>
                    <input type="number" name="phone" class="form__control" id="phone" required>
                </div>

                <div class="form__group--settings">
                    <label for="promo" class="form__label">
                        <span class="form__label--caps">Promo Code</span>
                    </label>
                    <input type="text" name="promo" maxlength="20" class="form__control" id="promo">
                </div>


                <div class="form__group--settings">
                    <label for="address" class="form__label">
                        <span class="form__label--caps">Address*</span>
                    </label>
                    <textarea type="text" name="address" class="form__control" id="address" required></textarea>
                </div>

                <!-- ------Buttons------ -->
                <div class="edit__form-button-container u-mar-t-5">
                    <button type="submit" class="form__submit-btn--orange form__submit-btn">Place
                        Order</button>
                </div>
            </form>
        </div>
    <%}%>
    </section>

    <%if(errMessage){%>
    <section class="message" <%-errMessage?'style="display: flex;"': null%>>
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>
    <%}else if(succMessage){%>
    <section class="message" <%-succMessage?'style="display: flex;"': null%>>
        <div class="message__txt message__txt--success"><%=succMessage%></div>
    </section>
    <%}%>

    <%- include('../../components/footer')%>

    <script src="/js/product_details.00fcf1ff8a92419afb34.bundle.js"></script>
</body>

</html>