<%- include('../../components/head.ejs')%>
    <link href="css/services.4b2448d4eac62fd7412e.css" rel="stylesheet">
    <title>Services</title>
</head>

<body>
   
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <header class="header">
        <h1 class="heading-primary u-center-text"><span class="color-txt-golden">Our</span> Services</h1>
        <div class="header__hero-container">
            <div class="header__hero-text-container">
                <p class="paragraph-tertiary color-txt-dark header__hero-text">Our media development company,
                    TVGuestpert, is a portal for incubating talent, products, messages, and businesses. As a media
                    development company we produce and develop content and product within the integrity of the
                    membership community. As we leverage the profile and publicity of our Guestperts in the media, their
                    market value rises. This happens as a result of specific planning, growth, and development of our
                    Guestpert clientele. As a company, we are then able to set up larger media properties for our
                    Guestpert's in publishing, television, radio, and as a result grow their business. </p>
            </div>
            <div class="header__hero-figure-container">
                <svg class="header__hero-figure">
                    <use xlink:href="images/sprite.svg#our_services-vector"></use>
                </svg>
            </div>
        </div>
    </header>

    <section class="services">
        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <%services.forEach((c, i)=>{%>
            <div class="card-4 services__cards" id="std-<%=i%>">
                <h3 class="paragraph-primary"><%=c.title%></h3>
                <p class="services__para u-mar-b-2 u-mar-t-2"><%=c.shortDescription%></p>
                <a href="#popup-<%=i%>" class="services__read-more color-txt-dark">Read More <span class="dash"> &#x2192;</span></a>
            </div>
            <%})%>
        </div>
    </section>

    <%- include('../../components/footer')%>

    <% services.forEach((c, i)=>{%>
    <div class="popup" id="popup-<%=i%>">
        <a href="#std-<%=i%>" class="popup__close"></a>

        <div class="popup__content-wrapper">
            <div class="popup__content">
    
                <div class="popup__close-icon-container">
                    <a href="#std-<%=i%>" class="popup__close--icon"></a>
                </div>
 
                <div class="popup__content-txt">
                    <h2 class="heading-secondary u-mar-b-3 popup__heading"><%=c.title%></h2>
                    <%-c.description%>
                </div>
    
            </div>

        </div>
    </div>
    <%})%>

    <script src="js/services.6b5c1c0ddeffa82ad230.bundle.js"></script>
</body>

</html>