<%- include('../../components/head.ejs')%>
  <link href="/css/shop.3cb34df0329e1b38483d.css" rel="stylesheet">
  <title>Shop</title>
  </head>

  <body>

    <%- include('../../components/headerBars/frontendHeaderBar')%>
      <%- include('../../components/sideBar/frontendSidebar')%>

        <header class="header">
          <h1 class="heading-extra-big u-center-text"> <span class="color-txt-golden-2">Buy <br> Think<br></span> Grow
          </h1>
        </header>

        <section class="products">
          <div class="row__grid-4 u-mar-b-5 u-mar-t-5">

            <%for (const product of products){%>
              <div class="card-4 products__cards">
                <div class="products__cards-details">
                  <div class="products__title-container">
                    <h3 class="products__heading">
                      <%=product.title%>
                    </h3>
                  </div>
                  <div class="products__content-container">
                    <div class="products__description">
                      <p class="products__para">
                        <%-product.description.split('< /p>')[0].replace('<p>', '').replace('</p>',
                          '').replace('<strong>', '').replace('</strong>','').replace('<em>', '').replace('</em>', '').slice(0, 70)%>
                      </p>
                    </div>
                    <div class="products__price u-mar-b-3">$<%=product.price%>
                    </div>
                    <div class="products__buttons">
                      <a href="/product/<%=product._id%>" class="products__buy-btn">
                        <div class="products__icon-container">
                          <svg class="products__icon">
                            <use xlink:href="/images/sprite.svg#shopping-cart"></use>
                          </svg>
                        </div>
                        <span class="products__price-txt">Proceed to Buy</span>
                      </a>
                    </div>
                  </div>
                  <div class="products__effect"></div>
                </div>
                <div class="products__img-wrapper">
                  <div class="products__img-container">
                    <img src="<%=product.imgSrc%>" alt="product image" class="fluid-img">
                  </div>
                  <%if(product.bestSeller){%>
                    <div class="products__best-seller">Best Seller</div>
                    <%}%>
                </div>

              </div>
              <%}%>
          </div>
          </div>
        </section>


        <div id="totalItems" data-totalItems="<%=totalItems%>"></div>
        <div id="activePage" data-activePage="<%=activePage%>"></div>
        <div class="page">
          <ul class="page__list" id="page__list"></ul>
        </div>

        <%- include('../../components/footer')%>
          <script src="/js/shop.18b1b0e2d292b87516a7.bundle.js"></script>
  </body>

  </html>