<%- include('../../components/head.ejs')%>
    <link href="/css/testimonial.ea7a2b7e023bf5ecf5c1.css" rel="stylesheet">
    <title>Testimonials</title>
</head>
<body>
   
    <%- include('../../components/headerBars/frontendHeaderBar')%>
    <%- include('../../components/sideBar/frontendSidebar')%>

    <h1 class="heading-primary u-center-text u-mar-t-5 u-mar-b-5">Testimonials</h1>

    <div class="newsletter">
        <button class="button__primary " id="show-newsletter">Show Newsletter</button>
        <ul class="newsletter__box u-mar-t-3 u-display-none">
            <%for (const newsletter of allNewsletters){%>
            <li><a href="/newsletter/<%=newsletter._id%>"><%=newsletter.title%></a></li>
            <%}%>
        </ul>
    </div>

    <section class="testimonial">
        <div class="testimonial__card-box"></div>
    </section>

    <div class="page">
        <ul class="page__list" id="page__list"></ul>
    </div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <%- include('../../components/footer')%>

    <script src="/js/testimonial.df706fedda41659388b6.bundle.js"></script>
</body>
</html>