<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ga_books.581da290566e19d78cfb.css">
    <title>Books Settings</title>
</head>

<body>

    <%- include('../../components/headerBars/guestpertsHeaderBar')%>
    <%- include('../../components/sideBar/guestpertSidebar')%>


    <section class="books">
        <h1 class="heading-primary u-center-text">Books</h1>

        <div class="books__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <%for(const book of allBooks){%>
            <div class="product_details__card-wrapper">
                <div class="card-4 products__cards">
                    <div class="products__cards-details">
                        <div class="products__title-container">
                            <h3 class="products__heading"><%=book.title%></h3>
                        </div>

                        <ul class="info-list books__info u-mar-t-2 u-mar-b-4">
                            <li>
                                <p class="info-list__key">Published</p>
                                <p class="info-list__value publishedDate"><%=book.published%></p>
                            </li>
                            <li>
                                <p class="info-list__key">Created</p>
                                <p class="info-list__value"><%=book.createdAt%></p>
                            </li>
                            <li>
                                <p class="info-list__key">Modified</p>
                                <p class="info-list__value"><%=book.updatedAt%></p>
                            </li>
                            <li>
                                <p class="info-list__key">Active</p>
                                <p class="info-list__value activeStats"><%-book.active?'Yes':'No'%></p>
                            </li>
                        </ul>

                        <div class="books__card-btns">
                            <button data-id="<%=book._id%>" class="books__card-btn-edit button__primary">Edit</button>
                            <button data-id="<%=book._id%>" class="books__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                        </div>

                        <div class="products__effect card-4__effect"></div>
                    </div>
                    <div class="products__img-wrapper">
                        <div class="products__img-container">
                            <img src="<%=book.imageUrl%>" alt="image"
                                class="fluid-img">
                        </div>
                    </div>

                </div>
            </div>
            <%}%>
        </div>
    </section>


    <section class="edit">

        <div class="books__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">Show books</button>
        </div>

        <div class="edit__heading"></div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create & Edit Books</h2>

        <form action="#" method="POST" class="edit__form-container edit__form-container--hotTopics" enctype="multipart/form-data">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>


            <div class="form__group--settings">
                <label for="booktitle" class="form__label">
                    <span class="form__label--caps">book cover title*</span>
                    <span class="form__label--details">Maximum 200 characters allowed</span>
                </label>
                <input type="text" class="form__control" name="title" id="booktitle" required>
            </div>
            <div class="form__group--settings">
                <label for="publishDate" class="form__label">
                    <span class="form__label--caps">Published On</span>
                </label>
                <input type="date" class="form__control" name="published" id="publishDate" required>
            </div>
           
            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">blog cover Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss "></span>
                    <span class="form__label--details u-mar-t-1">Image should be of max 200 KB and size should be of aspect ratio 2:3</span>
                </label>
                <input type="file" name="image" id="choose-img-file">
            </div>
            <div class="form__group--checkbox">
                <label for="prefix" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>

            <div class="form__group--settings">
                <label for="booktitle" class="form__label">
                    <span class="form__label--caps">book Description</span>
                </label>
                <textarea type="text" name="description" class="form__control" id="description" ></textarea>
            </div>

           
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>
    </section>
    

    <%- include('../../components/footer')%>

    <div class="popup">
        <div class="popup__del-box">

            <form action="/guestpert/deleteBook?_csrf=<%=csrfToken%>&&guestpertId=<%=guestpertId%>" method="POST">
                <input type="hidden" name="bookId" value="" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this book?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>
    <div id="guestpertId" data-guestpertId="<%=guestpertId%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ga_books.e9c7ea87b5de87b62279.bundle.js"></script>
</body>

</html>