<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ga_blog.3417a23cb3b3083721cd.css">
<title>Blog Settings</title>
</head>

<body>

    <%- include('../../components/headerBars/guestpertsHeaderBar')%>
    <%- include('../../components/sideBar/guestpertSidebar')%>

    <section class="blogs">
        <h1 class="heading-primary u-center-text">Blogs</h1>

        <div class="blogs__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>


        <ul class="row__grid-4 u-mar-b-5 u-mar-t-5" id="blog-box">
            <%for (const blog of blogs){%>
            <li class="blogs__cards-wrapper">
                <div class="card-4 blogs__cards">
                    <div class="blogs__title-container u-center-text">

                        <!-- Title of Hot Topic -->
                        <p class="blogs__title">
                            <%=blog.title%>
                        </p>

                        <!-- 3D Look -->
                        <svg class="blogs__icon blogs__icon--top-left">
                            <use xlink:href="/images/sprite.svg#left-top"></use>
                        </svg>
                        <svg class="blogs__icon blogs__icon--bottom-left">
                            <use xlink:href="/images/sprite.svg#left-bottom"></use>
                        </svg>
                        <svg class="blogs__icon blogs__icon--top-right">
                            <use xlink:href="/images/sprite.svg#right-top"></use>
                        </svg>
                        <svg class="blogs__icon blogs__icon--bottom-right">
                            <use xlink:href="/images/sprite.svg#right-bottom"></use>
                        </svg>
                    </div>
                    <!-- Duplicate hot topic title -->
                    <div class="blogs__title-duplicate u-center-text">
                        <p class="blogs__title">
                            <%=blog.title%>
                        </p>
                    </div>

                    <ul class="info-list u-mar-t-2">
                        <li>
                            <p class="info-list__key">Created</p>
                            <p class="info-list__value"><%=blog.createdAt%></p>
                        </li>
                        <li>
                            <p class="info-list__key">Modified</p>
                            <p class="info-list__value"><%=blog.updatedAt%></p>
                        </li>
                        <li>
                            <p class="info-list__key">Active</p>
                            <p class="info-list__value"><%-blog.activeStats?'yes':'no'%></p>
                        </li>
                    </ul>

                    <div class="blogs__card-btns u-mar-t-2 u-mar-b-2">
                        <button data-id="<%=blog._id%>" class="blogs__card-btn-edit button__primary">Edit</button>
                        <button data-id="<%=blog._id%>"
                            class="blogs__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                    </div>
                </div>
            </li>
            <%}%>
        </ul>
    </section>

    <section class="animations" id="animations"></section>


    <section class="edit" id="edit">

        <div class="blogs__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">Show Blogs</button>
        </div>

        <div class="edit__heading"></div>
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create and Edit Blogs</h2>
        
        <form action="/guestpert/createBlog?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data"
            class="edit__form-container edit__form-container--hotTopics">
            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

           
            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">Title*</span>
                    <span class="form__label--details">Maximum 100 characters allowed.</span>
                </label>
                <input type="text" name="title" maxlength="100" class="form__control" id="title" required>
            </div>
            
            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">blog cover Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss"></span>
                    <span class="form__label--details">Maximum size limit 500 KB. Image should be of aspect ratio 16:9</span>
                </label>
                <input type="file" name="image" id="choose-img-file">
            </div>
            
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" name="active" value="active" id="activeStats" name="check" checked />
                    <label for="activeStats"></label>
                </div>
            </div>
            
            <div class="form__group--settings">
                <label for="content" class="form__label">
                    <span class="form__label--caps">Content*</span>
                </label>
                <textarea type="text" name="content" class="form__control" id="content"></textarea>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">Create</button>
            </div>
            </form>
    </section>

    <%- include('../../components/footer')%>

    <div class="popup">
        <div class="popup__del-box">

            <form action="/guestpert/deleteBlog?_csrf=<%=csrfToken%>&&guestpertId=<%=guestpertId%>" method="POST">
                <input type="hidden" name="blogId" value="" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this blog ?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <div id="guestpertId" data-guestpertId="<%=guestpertId%>"></div>
    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ga_blog.1121c904ccc30c9c5e52.bundle.js"></script>
</body>

</html>