<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ga_demoReel.b1c739c29df2b2acd1f2.css">
    <title>Demo Reel Settings</title>
</head>

<body>
    
    <%- include('../../components/headerBars/guestpertsHeaderBar')%>
    <%- include('../../components/sideBar/guestpertSidebar')%>

    <section class="reel">
        <h1 class="heading-primary u-center-text">Demo Reel</h1>

        <div class="reel__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <div class="row__grid-4 u-mar-b-3 u-mar-t-3">
            <%for (const reel of allReels){%>
                <div class="card-4 reel__cards">
                    <%- reel.videoLink %>

                    <ul class="info-list u-mar-t-2">
                        <li>
                            <p class="info-list__key" >Title</p>
                            <p class="info-list__value reel__title"><%=reel.title%></p>
                        </li>
                        <li>
                            <p class="info-list__key">Active</p>
                            <p class="info-list__value activeStats"><%-reel.active?'Yes':'No'%></p>
                        </li>
                    </ul>

                    <div class="reel__card-btns">
                        <button data-id="<%=reel._id%>" class="reel__card-btn-edit button__primary">Edit</button>
                        <button data-id="<%=reel._id%>" class="reel__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                    </div>
                </div>
            <%}%>
        </div>
    </section>


    <section class="edit">

        <div class="reel__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">Show reels</button>
        </div>

        <div class="edit__heading"></div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create New Reel</h2>

        <form action="#" method="POST" class="edit__form-container edit__form-container--hotTopics">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

            <div class="form__group--settings">
                <label for="reeltitle" class="form__label">
                    <span class="form__label--caps">Reel title*</span>
                    <span class="form__label--details">Maximum 25 characters allowed</span>
                </label>
                <input type="text" class="form__control" name="title" maxlength="25" id="reeltitle" required>
            </div>
            <div class="form__group--settings">
                <label for="link" class="form__label">
                    <span class="form__label--caps">Reel link</span>
                    <span class="form__label--details">Put only embed code with &#x3C;iframe&#x3E; tag for vimeo and youtube</span>
                    <span class="form__label--details">eg. &#x3C;iframe width=&#x22;560&#x22; height=&#x22;315&#x22; src=&#x22;https://www.youtube.com/embed/aJDqelOW6ho&#x22; frameborder=&#x22;0&#x22; allowfullscreen&#x3E;&#x3C;/iframe&#x3E;</span>
                </label>
                <input type="text" class="form__control" name="videoLink" id="link" required>
            </div>
            <div class="form__group--checkbox">
                <label for="prefix" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>
    </section>

     <%- include('../../components/footer')%>

    <div class="popup">
        <div class="popup__del-box">

            <form action="/guestpert/deleteReel?_csrf=<%=csrfToken%>&&guestpertId=<%=guestpertId%>" method="POST">
                <input type="hidden" name="reelId" value="" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this book?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>
    <div id="guestpertId" data-guestpertId="<%=guestpertId%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/js/ga_demoReel.e398bb69ae4801ea4817.bundle.js"></script>
</body>

</html>