<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ga_hotTopicsSettings.b39026ea2f135e5b0bb7.css">
<title>Hot Topics Settings</title>
</head>

<body>
    
    <%- include('../../components/headerBars/guestpertsHeaderBar')%>
    <%- include('../../components/sideBar/guestpertSidebar')%>

    <section class="hot-topics">
        <h1 class="heading-primary u-center-text">hot topics</h1>

        <div class="hot-topics__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>


        <ul class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <% for (const topic of hotTopics){%>
            <li class="hot-topics__cards-wrapper">
                <div class="card-4 hot-topics__cards">
                    <div class="hot-topics__title-container u-center-text">

                        <!-- Title of Hot Topic -->
                        <p class="hot-topics__title">
                            <%=topic.title%>
                        </p>

                        <!-- 3D Look -->
                        <svg class="hot-topics__icon hot-topics__icon--top-left">
                            <use xlink:href="/images/sprite.svg#left-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-left">
                            <use xlink:href="/images/sprite.svg#left-bottom"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--top-right">
                            <use xlink:href="/images/sprite.svg#right-top"></use>
                        </svg>
                        <svg class="hot-topics__icon hot-topics__icon--bottom-right">
                            <use xlink:href="/images/sprite.svg#right-bottom"></use>
                        </svg>
                    </div>

                    <!-- Duplicate hot topic title -->
                    <div class="hot-topics__title-duplicate u-center-text">
                        <p class="hot-topics__title">
                            <%=topic.title%>
                        </p>
                    </div>

                    <ul class="info-list u-mar-t-2">
                        <li>
                            <p class="info-list__key">Category</p>
                            <p class="info-list__value"><%=topic.category%></p>
                        </li>
                        <li>
                            <p class="info-list__key">Created</p>
                            <p class="info-list__value"><%=topic.createdAt%></p>
                        </li>
                        <li>
                            <p class="info-list__key">Modified</p>
                            <p class="info-list__value"><%=topic.updatedAt%></p>
                        </li>
                        <li>
                            <p class="info-list__key">Active</p>
                            <p class="info-list__value"><%-topic.active?'yes':'no'%></p>
                        </li>
                    </ul>

                    <div class="hot-topics__card-btns u-mar-t-2 u-mar-b-2">
                        <button data-id="<%=topic._id%>" class="hot-topics__card-btn-edit button__primary">Edit</button>
                        <button data-id="<%=topic._id%>"
                            class="hot-topics__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                    </div>
                </div>
            </li>
            <%}%>
        </ul>
    </section>

    <section id="animations"></section>


    <section class="edit">

        <div class="hot-topics__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">See all Hot Topics</button>
        </div>

        <div class="edit__heading"></div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create And Edit Hot topics</h2>

        <form action="#" method="POST" class="edit__form-container edit__form-container--hotTopics">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Category*</span>
                </label>
                <div class="custom-select-wrapper" id="custom-options-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select a Category</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <%for (const cat of allCategories) {%>
                            <span class="custom-option" data-key="<%-cat.title.toLowerCase()%>"><%=cat.title%></span>
                            <%}%>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="category" id="inp-category">
            </div>

            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">Title*</span>
                    <span class="form__label--details">Maximum 100 characters allowed</span>
                </label>
                <input type="text" maxlength="100" name="title" class="form__control" id="title" required>
            </div>

            <div class="form__group--settings tag-box">
                <label for="tags" class="form__label">
                    <span class="form__label--caps">Tags*</span>
                </label>
                <div class="tags-input" data-name="tags-input">
                    <input type="hidden" class="tags-input__hidden-input" name="tags">
                    <input type="text" AutoCompleteType="Disabled" autocomplete="off" id="tags" class="tags-input__main-input u-high-order">
                </div>
                <div class="tag__autoComplete">
                    <div class="custom-select">
                        <div class="custom-options"></div>
                    </div>
                </div>
                <span class="form__error-msg"></span>
            </div>

            <div class="form__group--checkbox">
                <label for="prefix" class="form__label">
                    <span class="form__label--caps">Publish*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="activeStats" name="active" checked />
                    <label for="activeStats"></label>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="openingPoint" class="form__label">
                    <span class="form__label--caps">Opening Speaking Point*</span>
                </label>
                <textarea type="text" name="openingSpeakingPoint" class="form__control" id="openingPoint"></textarea>
            </div>
            <div class="form__group--settings">
                <label for="content" class="form__label">
                    <span class="form__label--caps">Content*</span>
                    <span class="form__label--details">Maximum Image Size limit is 300KB. Images should be in aspect ratio 16:9</span>
                </label>
                <textarea type="text" class="form__control" name="content" id="content"></textarea>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>

    </section>

    <%- include('../../components/footer')%>


    <div class="popup">
        <div class="popup__del-box">

            <form action="/guestpert/deleteHotTopic?_csrf=<%=csrfToken%>&&guestpertId=<%=guestpertId%>" method="POST">
                <input type="hidden" name="delId" value="" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this topic ?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>
    <div id="guestpertId" data-guestpertId="<%=guestpertId%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ga_hotTopicsSettings.18fb762ede548377b72d.bundle.js"></script>

</body>

</html>