<%- include('../../components/head.ejs')%>
    <link href="/css/ga_enquiries.ea2117124be8b97918a1.css" rel="stylesheet">
    <title>Inquiries</title>
</head>
<body>

    <%- include('../../components/headerBars/guestpertsHeaderBar')%>
    <%- include('../../components/sideBar/guestpertSidebar')%>

    <section class="enquiries-section">
        <ul class="allEnquiries"></ul>

        <div class="page">
            <ul class="page__list" id="page__list-enquiries"></ul>
        </div>
    </section>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>
    <section class="animation" id="animation"></section>

    <%- include('../../components/footer')%>

    <script src="/js/ga_enquiries.209721009f2879434cff.bundle.js"></script>
</body>
</html>