<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ga_media.2bea79915809b368004e.css">
    <title>Media Settings</title>
</head>

<body>

    <%- include('../../components/headerBars/guestpertsHeaderBar')%>
    <%- include('../../components/sideBar/guestpertSidebar')%>
  
    <section class="media">
        <h1 class="heading-primary u-center-text">Media</h1>

        <div class="media__show-btns">
            <button class="button__primary btn-createNew">Create New</button>
        </div>


        <div class="row__grid-4 u-mar-b-3 u-mar-t-3">
            <%for (const media of allMedia){%>
            <div class="card-4 media__cards">
                <p class="media__para"><%=media.topic%></p>
                <%if(media.title){%>
                <p class="media__para text-bold-1"><%=media.title%></p>
                <%}%>
                <ul class="info-list u-mar-t-1">
                    <li>
                        <p class="info-list__key">Created<p>
                                <p class="info-list__value"><%=media.createdAt%></p>
                    </li>
                    <li>
                        <p class="info-list__key">App Date</p>
                        <p class="info-list__value"><%=media.appearanceDate%></p>
                    </li>
                    <li>
                        <p class="info-list__key">Active</p>
                        <p class="info-list__value"><%-media.active?'Yes':'No'%></p>
                    </li>
                </ul>

                <div class="media__card-btns">
                    <button data-id="<%=media._id%>" class="media__card-btn-edit button__primary">Edit</button>
                    <button data-id="<%=media._id%>"
                        class="media__card-btn-delete button__ghost button__ghost--sm">Delete</button>
                </div>
            </div>
            <%}%>
           
        </div>
    </section>


    <section id="animations"></section>


    <section class="edit">

        <div class="media__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">See all Media</button>
        </div>

        <!-- ---- Form header design ---- -->
        <div class="edit__heading"></div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2 ">Create & Edit Media</h2>


        <!-- ---- form begins ---- -->
        <form action="#" method="POST" class="edit__form-container u-mar-t-5 u-mar-b-5">
            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="date" class="form__label">
                    <span class="form__label--caps">Appearance Date*</span>
                </label>
                <input type="date" name="appearanceDate" class="form__control" id="date" required>
            </div>
            <div class="form__group--settings">
                <label for="appTopic" class="form__label">
                    <span class="form__label--caps">Appearance Topic*</span>
                    <span class="form__label--details">Maximum length is 100 characters, including space</span>
                </label>
                <input type="text" name="topic" class="form__control" maxlength="100" id="appTopic" required>
            </div>
            <div class="form__group--settings">
                <label for="programTitle" class="form__label">
                    <span class="form__label--caps">Title Of Program</span>
                    <span class="form__label--details">Maximum length is 30 characters, including space</span>
                </label>
                <input type="text" name="title" class="form__control" maxlength="30" id="programTitle">
            </div>
            <div class="form__group--settings">
                <label for="videoLink" class="form__label">
                    <span class="form__label--caps">Appearance link</span>
                    <span class="form__label--details">Url of the media page. Should begin with https://</span>
                </label>
                <input type="url" name="videoLink" class="form__control" id="videoLink">
            </div>
            <div class="form__group--settings tag-box">
                <label for="tags" class="form__label">
                    <span class="form__label--caps">Tags*</span>
                </label>
                <div class="tags-input" data-name="tags-input">
                    <input type="hidden" class="tags-input__hidden-input" name="tags">
                    <input type="text" AutoCompleteType="Disabled" autocomplete="off" id="tags" class="tags-input__main-input u-high-order">
                </div>
                <div class="tag__autoComplete">
                    <div class="custom-select">
                        <div class="custom-options"></div>
                    </div>
                </div>
                <span class="form__error-msg"></span>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="activeStats" name="active" checked />
                    <label for="activeStats"></label>
                </div>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">Create</button>
            </div>
        </form>
    </section>


    <%- include('../../components/footer')%>

    <div class="popup">
        <div class="popup__del-box">

            <form action="/guestpert/deleteMedia?_csrf=<%=csrfToken%>&&guestpertId=<%=guestpertId%>" method="POST">
                <input type="hidden" value="" name="delId" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this media?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>
    <div id="guestpertId" data-guestpertId="<%=guestpertId%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/js/ga_media.b5fb053f103c97d5e1f3.bundle.js"></script>

</body>

</html>