<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ga_membership.d18f24d5aeb4beaf474c.css">
<title>Membership</title>
</head>

<body>
    <%- include('../../components/headerBars/guestpertsHeaderBar')%>
    <%- include('../../components/sideBar/guestpertSidebar')%>


    <section class="membership">
        <h1 class="heading-primary u-center-text">Membership renewel</h1>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <%for(const membership of memberships){%>
            <div class="membership__card-wrapper">
                <div
                    class="membership__current-plan <%-membership.membershipTitle===currentMembership?'membership__current-plan--active':''%>">
                    <svg class="membership__current-plan-icon">
                        <use xlink:href="/images/sprite.svg#star"></use>
                    </svg>
                    <h3 class="heading-tertiary">Current Plan</h3>
                </div>
                <div class="membership__card membership__card--style-gp">
                    <div class="membership__title membership__title--style-gp"><%=membership.membershipTitle%></div>

                    <ul class="membership__features-box membership__features-box--style-gp">
                        <% for(const feature of features){%>
                        <li>
                            <svg class="membership__icon membership__icon--style-gp">
                                <use
                                    xlink:href="/images/sprite.svg#<%- feature[membership.membershipTitle]?'checkmark':'close' %>">
                                </use>
                            </svg>
                            <%=feature.featureTitle%>
                        </li>
                        <%}%>
                        </ul>
                        <%if(membership.membershipTitle ==='platinum'){%>
                        <button id="contactTvg" class="membership__button membership__button--active">Contact tvg to upgrade</button>
                        <%}else{%>
                            <%if(!currentMembership){%>
                            <form action="/guestpert/buyMembership?_csrf=<%=csrfToken%>" method="POST" >
                                <input type="hidden" name="membershipType" value="<%=membership.membershipTitle%>">
                                <button class="membership__button membership__button--active">Buy Now</button>
                            </form>
                            <%}else if(currentMembership===membership.membershipTitle){%>
                                <form action="/guestpert/buyMembership?_csrf=<%=csrfToken%>" value="membership.membershipTitle" method="POST">
                                    <input type="hidden" name="membershipType" value="<%=membership.membershipTitle%>">
                                    <button class="membership__button membership__button--active">Renew</button>
                                </form>
                            <%}%>
                        <%}%>
                </div>
            </div>
            <%}%>
            </div>
        </div>
    </section>

     <%- include('../../components/footer')%>
     <script src="/js/ga_membership.2b57bd8d839b148a6223.bundle.js"></script>
     
</body>

</html>