<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ga_orders.b1222c2e4d9c2ad69af3.css">
<title>Your Orders</title>
</head>

<body>
   
    <%- include('../../components/headerBars/guestpertsHeaderBar')%>
    <%- include('../../components/sideBar/guestpertSidebar')%>

    <section class="orders">
        <h1 class="heading-primary u-center-text u-mar-b-6">Your Orders</h1>

        <%for (const order of userOrders){%>
        <div class="orders__card">
            <div class="orders__img-container">
                <div class="orders__img">
                    <img src="<%=order.imgSrc%>" alt="product image"
                        class="fluid-img">
                </div>
            </div>
            <div class="orders__info-container">
                <h2 class="heading-secondary"><%=order.title%></h2>

                <ul class="info-list u-mar-t-2">
                    <li>
                        <p class="info-list__key">Order Id</p>
                        <p class="info-list__value"><%=order._id%></p>
                    </li>
                    <li>
                        <p class="info-list__key">Amount</p>
                        <p class="info-list__value">$<%= order.amount%></p>
                    </li>
                    <li>
                        <p class="info-list__key">payment Status</p>
                        <p class="info-list__value"><%=order.paymentStatus%></p>
                    </li>
                    <li>
                        <p class="info-list__key">purchased On</p>
                        <p class="info-list__value"><%=order.purchaseDate%></p>
                    </li>
                    <li>
                        <p class="info-list__key">Address</p>
                        <p class="info-list__value"><%=order.address%></p>
                    </li>
                </ul>
            </div>
        </div>
        <%}%>

        <div class="page">
            <ul class="page__list" id="page__list"></ul>
        </div>
    </section>

    <%- include('../../components/footer')%>

    <script src="/js/ga_orders.629d170082428159f19b.bundle.js"></script>

</body>

</html>