<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ga_profileSettings.968793ecef3e486716e9.css">
    <title>Profile Settings</title>
</head>

<body>
  
    <%- include('../../components/headerBars/guestpertsHeaderBar')%>
    <%- include('../../components/sideBar/guestpertSidebar')%>


    <section class="edit edit--active">

        <div class="edit__heading">
            <<div class="edit__guestpert-image-container">
                <!-- <img  src="../../images/user.png" alt="guestpert image" class="fluid-img"> -->
                <img src="<%-imgSrc?imgSrc:'/images/user.png'%>" alt="guestpert image" class="fluid-img">
                <span class="span span--in">Change profile picture</span>
                <span class="span span--out">Click here to change</span>
            </div>
        </div>

        <form action="/guestpert/editPersonalInfo?_csrf=<%= csrfToken %>" method="POST" class="edit__form-container edit__form-container--personal">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>
            <h2 class="heading-tertiary u-center-text edit__form-heading">personal Information</h2>

            <div class="form__group--settings">
                <label for="firstname" class="form__label">
                    <span class="form__label--caps">first name*</span>
                    <span class="form__label--details">Avoid white spaces and special characters</span>
                </label>
                <input type="text" class="form__control" name="firstName" value="<%=firstName%>" id="firstname" required>
            </div>

            <div class="form__group--settings">
                <label for="lastname" class="form__label">
                    <span class="form__label--caps">last name*</span>
                    <span class="form__label--details">Avoid white spaces and special characters</span>
                </label>
                <input type="text" class="form__control" name="lastName" value="<%= lastName%>" id="lastname" required>
            </div>

            <div class="form__group--settings">
                <label for="prefix" class="form__label">
                    <span class="form__label--caps">prefix</span>
                </label>
                <input type="text" class="form__control" name="prefix" value="<%= prefix%>" id="prefix">
            </div>

            <div class="form__group--settings">
                <label for="create_suffix" class="form__label">
                    <span class="form__label--caps">suffix</span>
                </label>
                <input type="text" name="suffix" name="suffix" value="<%= suffix%>" class="form__control" id="create_suffix">
            </div>

            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title*</span>
                    <span class="form__label--details">Example: Scientist, Founder of ACME Center, Author of Guide
                        to the NorthPole and Beyond This field should NOT be filled out in narrative form</span>
                </label>
                <input type="text" class="form__control" name="title" value="<%= title%>" id="title" required>
            </div>
            <div class="form__group--settings">
                <label for="tagline" class="form__label">
                    <span class="form__label--caps">Tag line</span>
                    <span class="form__label--details">4-5 sentences or Max- 650 characters. This is your chance to
                        quickly grab the attention of a producer. This is found in the Browse Guestperts Directory
                        for Producers. What makes you so interesting?</span>
                </label>
                <textarea type="text" name="tagLine" spellcheck="false" maxlength="650" class="form__control" id="tagline"
                ><%=tagLine%></textarea>
            </div>

            <div class="form__group--settings">
                <label for="primaryexpertise" class="form__label">
                    <span class="form__label--caps">primary expertise*</span>
                    <span class="form__label--details">Example- Health and Fitness</span>
                </label>
                <input type="text" value="<%=primaryExpertise%>" name="primaryExpertise" class="form__control" id="primaryexpertise" required>
            </div>

            <div class="form__group--settings">
                <label for="expertise" class="form__label">
                    <span class="form__label--caps">expanded expertise keywords</span>
                    <span class="form__label--details">Use 1-8 distinct words or very short phrases. Separate each
                        word or phrase with a comma. Example : DO: Areas of Expertise: Science, snow, global
                        warming, travel, weather, Doppler radar.</span>
                </label>
                <input type="text" value="<%=expandedExpertise%>" name="expandedExpertise" class="form__control" id="expertise">
            </div>

            <div class="form__group--settings">
                <label for="biography" class="form__label">
                    <span class="form__label--caps">Biography</span>
                </label>
                <textarea type="text" name="biography" class="form__control" id="biography"><%=biography%></textarea>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>

        </form>


        <form action="/guestpert/editContactInfo?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container edit__form-container--contact">

            <h2 class="heading-tertiary u-center-text edit__form-heading">contact information</h2>

            <div class="form__group--settings">
                <label for="adress" class="form__label">
                    <span class="form__label--caps">Adress</span>
                </label>
                <textarea type="text" name="address" class="form__control" id="adress"><%=address%></textarea>
            </div>
            <div class="form__group--settings">
                <label for="city" class="form__label">
                    <span class="form__label--caps">City</span>
                </label>
                <input type="text" name="city" value="<%=city%>" class="form__control" id="city" required>
            </div>
            <div class="form__group--settings">
                <label for="state" class="form__label">
                    <span class="form__label--caps">state</span>
                </label>
                <input type="text" name="state" value="<%=state%>" class="form__control" id="state" required>
            </div>
            
            <div class="form__group--settings">
                <label for="phone" class="form__label">
                    <span class="form__label--caps">phone*</span>
                </label>
                <div class="edit__input-plus-btn">
                    <input type="number" class="form__control edit__change-inputs"
                        value="<%=phone%>" name="phone" id="phone" required>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="website" class="form__label">
                    <span class="form__label--caps">website</span>
                    <span class="form__label--details">Begin with https:// . Example: https://www.tvguestpert.com/</span>
                </label>
                <input type="url" value="<%= website %>" name="website" class="form__control" id="website">
            </div>
            <div class="form__group--settings">
                <label for="fax" class="form__label">
                    <span class="form__label--caps">fax</span>
                </label>
                <input type="number" name="fax" value="<%= fax %>" class="form__control" id="fax">
            </div>
            <div class="form__group--settings">
                <label for="rssfeed" class="form__label">
                    <span class="form__label--caps">rss feed link</span>
                    <span class="form__label--details">Begin with https:// . Example: https://www.tvguestpert.com/</span>
                </label>
                <input type="url" name="rssfeed" value="<%=rssfeed %>" class="form__control" id="rssfeed">
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>

        
        <form action="/guestpert/editCredentials?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container edit__form-container--credentials">

            <h2 class="heading-tertiary u-center-text edit__form-heading">Credentials</h2>

            <div class="form__group--settings">
                <label for="email" class="form__label">
                    <span  class="form__label--caps">email*</span>
                </label>
                <div class="edit__input-plus-btn">
                    <input type="email" value="<%=email%>" class="form__control edit__change-inputs" disabled="disabled"
                        value="<%=email%>" id="email" required>
                    <div class="edit__btn-change" id="change-email">Change</div>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="username" class="form__label">
                    <span class="form__label--caps">user name</span>
                </label>
                <input type="text" name="username" class="form__control" disabled value="<%=username%>" id="username" required>
            </div>
            <div class="form__group--settings">
                <label for="oldpassword" class="form__label">
                    <span class="form__label--caps">old password</span>
                </label>
                <input name="oldPassword" type="password" class="form__control" id="oldpassword" required>
            </div>
            <div class="form__group--settings">
                <label for="newpassword" class="form__label">
                    <span class="form__label--caps">new password</span>
                </label>
                <input name="newPassword" type="password" class="form__control" id="newpassword" required>
            </div>
            <div class="form__group--settings">
                <label for="cnfrmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="password" name="confirmPassword" class="form__control" id="cnfrmpassword" required>
            </div>


            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>
    </section>

     <%- include('../../components/footer')%>

    <section class="popup">
        <div class="popup__change-profile-picture">
            <form action="/guestpert/changeProfilePic?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
                <div class="popup__change-image-container">
                    <div class="popup__change-img">
                        <img src="" alt="guestpert image" class="fluid-img"
                            id="imagePreview">
                    </div>
                    <div>
                    <input type="file" name="image" class="popup__input-img" id="image-input">
                      <label type="file" class="popup__input-lebel" for="image-input">Choose new image</label>
                      <span class="form__label--details u-mar-t-1" style="text-align: right;">Image should be of 1:1 aspect ratio</span>
                    </div>
                </div>
                
                <div class="popup__change-btns-container">
                    <button class="button__primary">Keep changes</button>
                    <button class="button__ghost button__ghost--sm btn_cancel">cancel</button>
                </div>
            </form>
        </div>

        <div class="popup__change-email">

            <form>
                <p class="popup__msg">Verification code have beed sent in this email</p>
                <div class="form__group--settings">
                    <label for="newemail" class="form__label">
                        <span class="form__label txt-capitalize">New Email</span>
                    </label>
                    <div class="popup__input-verify-btn-container">
                        <input type="email" class="form__control popup__email-input" id="newemail" required>
                        <button class="popup__verify-button">verify</button>
                    </div>
                </div>
                <input type="number" class="form__control popup__verification-input" placeholder="Secret code" required>
                <div class="popup__new-email-btns">
                    <button class="button__primary button__ghost--sm">keep changes</button>
                    <button class="button__ghost button__ghost--sm btn_cancel">cancel</button>
                </div>
            </form>

        </div>


        <div class="popup__change-phone">

            <form>
                <p class="popup__msg">Verification code have beed sent in this number</p>
                <div class="form__group--settings">
                    <label for="newnumber" class="form__label">
                        <span class="form__label txt-capitalize">New Phone number</span>
                    </label>
                    <div class="popup__input-verify-btn-container">
                        <input type="number" class="form__control popup__phone-input" id="newnumber" required>
                        <button class="popup__verify-button">verify</button>
                    </div>
                </div>
                <input type="number" class="form__control popup__verification-input" placeholder="Secret code" required>
                <div class="popup__new-email-btns">
                    <button class="button__primary button__ghost--sm">keep changes</button>
                    <button class="button__ghost button__ghost--sm btn_cancel">cancel</button>
                </div>
            </form>

        </div>
    </section>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ga_profileSettings.3cc19f7d17681d426aac.bundle.js"></script>
</body>

</html>