<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ga_dashboard.fe7af95382073a6b14ba.css">
    <title>TVGuestperts-Users</title>
</head>
<body>
 
    <%- include('../../components/headerBars/producersHeaderBar')%>
    <%- include('../../components/sideBar/producerSidebar')%>

    <header class="header">

        <%if(!verificationStatus){%>
        <div class="info u-mar-b-3">
            <span class="info__msg">Please verify your account to make it fully functional</span>
            <button class="info__btn">click to verify</button>
        </div>
        <%}%>

        <div class="header__guestpert-image-container">
            <a href="/producer/profileSettings">
                <img  src="<%-imgSrc?imgSrc:'/images/user.png'%>" alt="guestpert image" class="fluid-img">
                <span>Change profile settings</span>
            </a>
        </div>
        
        <h1 class="header__guestpert-name"><%-prefix?prefix:''%> <%-firstName?firstName:''%> <%-lastName?lastName:''%> <%-suffix?suffix:''%></h1>
        <p class="header__guestpert-title u-mar-t-2"><%=title%></p>

        <div class="header__ribon">getting started</>
    </header>

    <section class="walkthrough">
        <h2 class="heading-secondary u-mar-b-3 u-center-text">walkthrough Video</h2>
        <div class="popup__video-container">
            <%-videoLink%>
        </div>
    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>
    
     <%- include('../../components/footer')%>

     <script src="/js/ga_dashboard.a6475b3c53c432785172.bundle.js"></script>

</body>
</html>