<%- include('../../components/head.ejs')%>
    <title>Producer Inquiries</title>
    <link href="/css/pr_enquiries.1ca522893b235e64824d.css" rel="stylesheet">
</head>

<body>

    <%- include('../../components/headerBars/producersHeaderBar')%>
    <%- include('../../components/sideBar/producerSidebar')%>

    <section class="guestperts u-mar-t-5">
        <h1 class="heading-primary u-center-text">Make an inquiry</h1>
        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id=search-input type=text placeholder="Search Guestperts"
                required>
            <input type=hidden value="" class=form__hidden-input id=hidden-input>
            <button class="form__search-btn form__search-btn-sm" type=submit>
                <svg class=form__search-icon>
                    <use xlink:href=/images/sprite.svg#magnifying-glass></use>
                </svg>
            </button>
        </div>

        <div class="row u-mar-b-5 u-mar-t-5" id=guestpert-box></div>

        <div class=page>
            <ul class=page__list id=page__list-guestperts></ul>
        </div>
    </section>

    

    <section class="enquiries-section u-display-none">
        <div class=enquiries__show-btns> <button class="button__primary btn-createNew">create new</button> <button
                class="button__primary btn-backToGuestperts" data-back=read>Back</button> </div>
        <ul class=allEnquiries></ul>

        <div class="page">
            <ul class="page__list" id="page__list-enquiries"></ul>
        </div>
    </section>

    <section class=edit>
        <div class="books__show-btns u-mar-t-2 u-mar-b-5" style=padding-left:1rem> <button
                class="button__primary btn-backToEnquiries">Go Back</button> </div>
        <div class=edit__heading></div>
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create New Inquiry</h2>
        <form action="/producer/createEnquiry?guestpertId='ssdlfklsdjf'" method=POST
            class="edit__form-container edit__form-container--enquiry u-mar-b-3">
            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>
            <div class=form__group--settings> <label for=media class=form__label> <span
                        class=form__label--caps>Media</span> </label> <input type=text name=media class=form__control
                    id=media required> </div>
            <div class=form__group--settings> 
                <label for=show class=form__label> 
                    <span class=form__label--caps>show</span> 
                </label>
                <input type=text name=show class=form__control id=show required> 
            </div>
            <div class=form__group--settings> 
                <label for=topic class=form__label> 
                    <span
                        class=form__label--caps>topic
                    </span> 
                </label> 
                <input type=text name=topic class=form__control id=topic required> 
            </div>
            <div class="form__group--settings">
                <label for="airDate" class="form__label">
                    <span class="form__label--caps">Air Date</span>
                </label>
                <input type="date" name="airDate" class="form__control" id="airDate" required>
            </div>
            <div class="form__group--settings">
                <label for="location" class="form__label">
                    <span class="form__label--caps">location</span>
                </label>
                <input type="text" name="location" class="form__control" id="location" required>
            </div>
            <div class="form__group--settings u-display-none" id="note_rating">
                <label for="topic" class="form__label">
                    <span class="form__label--caps">Please come back later , to rate the guestpert</span>
                </label>
            </div>
            <div class="form__group--settings" id="ratingContainer"> <label for=rating class=form__label> <span class=form__label--caps>Leave a
                        rating</span> </label> <input type=hidden name=rating id=ratingValue>
                <div class=smileybox> <label for=r1 class=check><input type=checkbox class=str-inp id=r1 /></label>
                    <label for=r2 class=check><input type=checkbox class=str-inp id=r2 /></label> <label for=r3
                        class=check><input type=checkbox class=str-inp id=r3 /></label> <label for=r4 class=check><input
                            type=checkbox class=str-inp id=r4 /></label> <label for=r5 class=check><input type=checkbox
                            class=str-inp id=r5 /></label> <label for=r6 class=check><input type=checkbox class=str-inp
                            id=r6 /></label> <label for=r7 class=check><input type=checkbox class=str-inp
                            id=r7 /></label> <label for=r8 class=check><input type=checkbox class=str-inp
                            id=r8 /></label> <label for=r9 class=check><input type=checkbox class=str-inp
                            id=r9 /></label> <label for=r10 class=check><input type=checkbox class=str-inp
                            id=r10 /></label> </div>
            </div>
            <div class="edit__form-button-container u-mar-t-5"> <button type=submit
                    class="form__submit-btn--orange form__submit-btn">Send Inquiry</button> </div>
        </form>
    </section>

    <section class=animation id=animation></section>

    <div id=csrf data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>


    <%- include('../../components/footer')%>

    <script src="/js/pr_enquiries.8528ed0a04604beff448.bundle.js"></script>
</body>

</html>