<%- include('../../components/head.ejs')%>
    <link href="/css/pr_profileSettings.ca543630b07976e73ba1.css" rel="stylesheet">
    <title>Profile Settings</title>
</head>

<body>
    <%- include('../../components/headerBars/producersHeaderBar')%>
    <%- include('../../components/sideBar/producerSidebar')%>


    <section class="edit edit--active">
 
        <div class="edit__heading">
            <div class="edit__guestpert-image-container">
                <img src="<%=producerInfo.imgSrc%>" alt="producer image" class="fluid-img">
                <span class="span span--in">Change profile picture</span>
                <span class="span span--out">Click here to change</span>
            </div>
        </div>

        <form action="/producer/editPersonalInfo?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container edit__form-container--personal">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>
            <h2 class="heading-tertiary u-center-text edit__form-heading">personal Information</h2>


            <div class="form__group--settings">
                <label for="firstname" class="form__label">
                    <span class="form__label--caps">first name*</span>
                    <span class="form__label--details">Avoid white spaces and special characters</span>
                </label>
                <input type="text" name="firstName" value="<%=producerInfo.firstName%>" class="form__control" id="firstname" required>
            </div>
            <div class="form__group--settings">
                <label for="lastname" class="form__label">
                    <span class="form__label--caps" name="lastname">last name*</span>
                    <span class="form__label--details">Avoid white spaces and special characters</span>
                </label>
                <input type="text" class="form__control" value="<%=producerInfo.lastName%>" name="lastName" id="lastname" required>
            </div>
            <div class="form__group--settings">
                <label for="prefix" class="form__label">
                    <span name="prefix" class="form__label--caps">prefix</span>
                </label>
                <input type="text" class="form__control" value="<%=producerInfo.prefix%>" name="prefix" id="prefix">
            </div>
            <div class="form__group--settings">
                <label for="suffix" class="form__label form__label--caps">suffix</label>
                <input type="text" name="suffix" value="<%=producerInfo.suffix%>" class="form__control" id="suffix">
            </div>
            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title*</span>
                    <span class="form__label--details">Maximum of 150 characters are allowed</span>
                    <span class="form__label--details">Example: Scientist, Founder of ACME Center, Author of Guide to the NorthPole and Beyond</span>
                </label>
                <input type="text" class="form__control" maxlength="150" value="<%=producerInfo.title%>" name="title" id="title" required>
            </div>


            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>

        </form>


        <form action="/producer/editProducerContact?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container edit__form-container--contact">

            <h2 class="heading-tertiary u-center-text edit__form-heading">contact information</h2>

            <div class="form__group--settings">
                <label for="adress" class="form__label">
                    <span class="form__label--caps">Adress</span>
                </label>
                <textarea type="text" class="form__control" name="address" id="adress" required><%=producerInfo.address%></textarea>
            </div>
            <div class="form__group--settings">
                <label for="phone" class="form__label">
                    <span class="form__label--caps">phone</span>
                </label>
                <input type="number" class="form__control" value="<%=producerInfo.phone%>" name="phone" id="phone" required>
            </div>
            <div class="form__group--settings">
                <label for="mobile" class="form__label">
                    <span class="form__label--caps">mobile</span>
                </label>
                <input type="number" class="form__control" value="<%=producerInfo.mobile%>" name="mobile" id="mobile">
            </div>
            <div class="form__group--settings">
                <label for="company" class="form__label">
                    <span class="form__label--caps">network/company</span>
                </label>
                <input type="text" class="form__control" name="company" value="<%=producerInfo.company%>" id="company">
            </div>
            <div class="form__group--settings">
                <label for="website" class="form__label">
                    <span class="form__label--caps">website</span>
                    <span class="form__label--details">Example: https://www.tvguestpert.com/</span>
                </label>
                <input type="url" class="form__control" name="website" value="<%=producerInfo.website%>" id="website">
            </div>
            <div class="form__group--settings">
                <label for="fax" class="form__label">
                    <span class="form__label--caps">fax</span>
                </label>
                <input type="text" class="form__control" name="fax" value="<%=producerInfo.fax%>" id="fax">
            </div>



            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>


        <form action="/producer/editCredentials?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container edit__form-container--credentials">

            <h2 class="heading-tertiary u-center-text edit__form-heading">Credentials</h2>

            <div class="form__group--settings">
                <label for="username" class="form__label">
                    <span class="form__label--caps">user name</span>
                </label>
                <input type="text" class="form__control" value="<%=producerInfo.username%>" disabled id="username">
            </div>
            <div class="form__group--settings">
                <label for="email" class="form__label">
                    <span class="form__label--caps">email*</span>
                </label>
                <div class="edit__input-plus-btn">
                    <input type="email" class="form__control edit__change-inputs" value="<%=producerInfo.email%>" disabled="disabled" value=""
                        id="email">
                    <div class="edit__btn-change" id="change-email">Change</div>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="oldpassword" class="form__label">
                    <span class="form__label--caps">old password</span>
                </label>
                <input type="password" class="form__control" name="oldPassword" id="oldpassword" required>
            </div>
            <div class="form__group--settings">
                <label for="newpassword" class="form__label">
                    <span class="form__label--caps">new password</span>
                    <span class="form__label--details">Minimum 6 characters</span>
                </label>
                <input type="password" minlength="6" class="form__control" name="password" id="newpassword" required>
            </div>
            <div class="form__group--settings">
                <label for="cnfrmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="text" minlength="6" class="form__control" id="cnfrmpassword" required>
            </div>


            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>
    </section>


    <%- include('../../components/footer')%>

    <section class="popup">
        <form action="/producer/changeProfilePicture?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data"
            class="popup__change-profile-picture">
            <div class="popup__change-image-container">
                <div class="popup__change-img">
                    <img src="../../images/guestperts/Ivy headshot.jpg" alt="guestpert image" class="fluid-img"
                        id="imagePreview">
                </div>
                <div>
                    <input type="file" class="popup__input-img" name="profile" id="image-input">
                    <label class="popup__input-lebel" for="image-input">Choose new image</label>
                    <span class="form__label--details u-mar-t-1" style="text-align: right;">Maximum 500KB allowed</span>
                </div>
            </div>

            <div class="popup__change-btns-container">
                <button class="button__primary">Keep changes</button>
                <button class="button__ghost button__ghost--sm btn_cancel">cancel</button>
            </div>
        </form>

        <form class="popup__change-email">

            <div class="form__group--settings">
                <label for="newemail" class="form__label">
                    <span class="form__label txt-capitalize">New Email</span>
                </label>
                <div class="popup__input-verify-btn-container">
                    <input type="email" class="form__control popup__email-input" id="newemail" required>
                </div>
            </div>

            <div class="popup__new-email-btns">
                <button class="button__primary button__ghost--sm" id="changeEmail">keep changes</button>
                <span class="popup__msg"></span>
                <button class="button__ghost button__ghost--sm btn_cancel">cancel</button>
            </div>

        </form>

    </section>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <script src="/js/pr_profileSettings.bd7d3979d747c4fe730b.bundle.js"></script>
</body>

</html>