<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_companyTags.8e74dc61d8d98f06543d.css">
    <title>Manage Company Tags</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="edit ">        

        <form action="/admin/editCompanyTags?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-3">

            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">company Tags</h2>

            <div class="form__group--settings companyTags__box">
                <%allData.companyTags.forEach((c, i)=>{%>
                <div class="u-mar-t-1">
                    <label for="kal65xc4" class="form__label">
                        <span class="form__label--caps">Tag</span>
                        <span class="form__label--details">Avoid any special characters.</span>
                    </label>
                    <div class="edit__input-plus-btn">
                        <input type="text" name="companyTag" value="<%=c%>" class="form__control edit__change-inputs" id="<%=i%>" required>
                        <div class="edit__btn-change btn_remove">Remove</div>
                    </div>
                </div>
                <%})%>
                
                <div class="button__primary u-high-order u-mar-t-2" id="btn-newTag">Add new Tag</div>
            </div>

            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>


        
        <form action="/admin/editHomePageGuestpertsTags?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-3">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">upcoming appearences</h2>

            <div class="form__group--settings set-upcomingAppearances-tags">
                <%allData.upcomingAppearanceTag.forEach((c, i)=>{%>
                <div class="box u-mar-t-3">
                    <div class="u-mar-t-1">
                        <label for="kapc5kdo" class="form__label">
                            <span class="form__label--caps">Guestpert</span>
                        </label>
                        <div class="edit__input-plus-btn">
                            <input type="text" name="upcomingAppearanceGuestpert" value="<%=c.upcomingGuestpert%>" class="form__control edit__change-inputs" id="guestpert_<%=i%>" required>
                            <div class="edit__btn-change btn_remove">Remove</div>
                        </div>
                    </div>
                    <div class="u-mar-t-1">
                        <label for="kapc5kdo" class="form__label">
                            <span class="form__label--caps">guestpert title</span>
                        </label>
                        <div class="edit__input-plus-btn">
                            <input type="text" name="upcomingAppearanceTitle" value="<%=c.guestpertTitle%>" class="form__control edit__change-inputs" id="title_<%=i%>" required>
                        </div>
                    </div>
                </div>
                
                <%})%>
                <div class="button__primary u-high-order u-mar-t-2" id="btn-newUpcomingAppearance">Add new appearance</div>
            </div>

            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>


        <form action="/admin/editHomePageHotTopicsTags?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-3">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">hot topics</h2>
            <div class="form__group--settings setHotTopicsTags">
                <%allData.hotTopicTag.forEach((c, i)=>{%>
                <div class="u-mar-t-1">
                    <label for="kapcgyza" class="form__label">
                        <span class="form__label--caps">Hot Topic</span>
                    </label>
                    <div class="edit__input-plus-btn">
                        <input type="text" name="hotTopicTag" value="<%=c%>" class="form__control edit__change-inputs" id="<%=i%>" required>
                        <div class="edit__btn-change btn_remove">Remove</div>
                    </div>
                </div>
                <%})%>
                
                <div class="button__primary u-high-order u-mar-t-2" id="btn-newHotTopic">Add new HotTopic</div>
            </div>

            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/js/ad_companyTags.e00bba237c4b2fb7ebc5.bundle.js"></script>
</body>
</html>