<%- include('../../components/head.ejs')%>
<title>Admin Credentials</title>
<link href="/css/ad_changePassword.9febab493d7c0d9d9ba5.css" rel="stylesheet">
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class=edit>
        <form action="/admin/changeAdminCredentials?_csrf=<%=csrfToken%>" method=POST
            class="edit__form-container u-mar-t-5" id=form>
            <h2 class="heading-tertiary u-center-text edit__form-heading">Admin Credentials</h2>
            <span class="form__label--details">Careful, You Are About To Change Super Admin Credentials</span>
            <div class=form__group--settings> <label for=newPassword class=form__label> <span
                        class=form__label--caps>new password</span> <span class=form__label--details>Password should be
                        of minimum 6 character length</span> </label> <input type=password name="newPassword"
                    minlength=6 class=form__control id=newPassword required> </div>
            <div class=form__group--settings> <label for=cnfrmpassword class=form__label> <span
                        class=form__label--caps>confirm password</span> </label> <input type=text minlength=6
                    class=form__control id=cnfrmpassword required> </div>
            <div class="edit__form-button-container u-mar-t-5"> <button type=submit
                    class="form__submit-btn--orange form__submit-btn">submit</button> </div>
        </form>
    </section>
    
    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>


    <script src="/js/ad_changePassword.18d274e1b7dc8de926dd.bundle.js"></script>
</body>

</html>