<%- include('../../components/head.ejs')%>
    <link href="/css/ad_dashboard.754506951dbb2090f5f3.css" rel="stylesheet">
    <title>Admin Dashboard</title>
</head>
<body>

    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="dashboard">
        <h1 class="heading-secondary u-mar-b-6 u-center-text text-bold-1">Welcome to admin panel</h1>

        <table class="dashboard__shortcut">
            <tr>
                <th>
                    <a href="/admin/manageNewsletters/templates" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="/images/sprite.svg#icon_newsletter"></use>
                        </svg>
                        Manage Newsletter
                    </a>
                </th>
                <th>
                    <a href="/admin/userInterfaces/frontend/home" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="/images/sprite.svg#icon_HomePage"></use>
                        </svg>
                        Edit Home page
                    </a>
                </th>
                <th>
                    <a href="/admin/products" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="/images/sprite.svg#icon_product"></use>
                        </svg>
                        products
                    </a>
                </th>
            </tr>
            <tr>
                <th>
                    <a href="/admin/manageUsers/guestperts" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="/images/sprite.svg#icon_Guestpert"></use>
                        </svg>
                        guestperts
                    </a>
                </th>
                <th>
                    <a href="/admin/allOrders" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="/images/sprite.svg#icon_order"></use>
                        </svg>
                        Orders
                    </a>
                </th>
                <th>
                    <a href="/admin/manageFounder" class="dashboard__shortcut-link">
                        <svg class="dashboard__icon">
                            <use xlink:href="/images/sprite.svg#icon_info"></use>
                        </svg>
                        Jacquie's Info
                    </a>
                </th>
            </tr>
        </table>

    </section>

    <script src="/js/ad_dashboard.1862e626b901931c1026.bundle.js"></script>
</body>
</html>