<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_emailSettings.0db893c452e1ce141a06.css">
    <title>Email Settings</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="email-template">
        <div class="email-template__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">

            <% for(const email of data) {%>
                <div href="#" class="card-4 email-template__cards">
                    <div class="email-template__heading">
                        <div class="email-template__icon-container">
                            <svg class="email-template__icon">
                                <use xlink:href="/images/sprite.svg#envelope"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="email-template__content">
                        <p class="paragraph-tertiary color-txt-dark u-center-text"><%= email.subject%></p>
                        <ul class="info-list u-mar-t-3">
                            <li>
                                <p class="info-list__key">segment</p>
                                <p class="info-list__value"><%=email.segment%></p>
                            </li>
                            <li>
                                <p class="info-list__key">created</p>
                                <p class="info-list__value"><%= email.createdAt%></p>
                            </li>
                            <li>
                                <p class="info-list__key">modified</p>
                                <p class="info-list__value"><%= email.updatedAt%></p>
                            </li>
                        </ul>
                        <div class="email-template__btns u-mar-t-1">
                            <button class="button__primary edit-email" data-id="<%= email._id%>">Edit</button>
                        </div>
                    </div>
                </div>
            <%}%>
    
        </div>


        <div class="page">
            <ul class="page__list" id="page__list">
            </ul>
        </div>

    </section>

    <section id="animations"></section>


    <section class="edit edit__none" id="editSection">
        <div class="email-template__show-btns u-mar-t-1 u-mar-b-4">
            <button class="button__primary edit__show-cards">Show Emails</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create & Edit Template</h2>

        <form action="" method="POST" class="edit__form-container u-mar-t-3">


            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Segment*</span>
                </label>
                <div class="custom-select-wrapper" id="custom-options-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select a Category</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-key="frontend">Frontend</span>
                            <span class="custom-option" data-key="backend">Backend</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="segment" id="inp-category">
            </div>

            <div class="form__group--settings">
                <label for="emailSubject" class="form__label">
                    <span class="form__label--caps">Subject</span>
                    <span class="form__label--details">It should be of max 100 characters with spaces</span>
                </label>
                <input class="form__control" maxlength="100" name="subject" id="emailSubject" required>
            </div>
            <div class="form__group--settings">
                <label for="emailContent" class="form__label">
                    <span class="form__label--caps">Email Content</span>
                </label>
                <textarea type="text" name="emailContent" class="form__control" id="emailContent"></textarea>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>

    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_emailSettings.576c9836400dc3ae1752.bundle.js"></script>
</body>

</html>