<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_frontEndUI.1eae0632e30ff046a1bf.css">
    <title>FrontEnd UI</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="frontEnd">
        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <a href="/admin/userInterfaces/frontend/home/slides" class="card-4 frontEnd__cards">
                <div class="frontEnd__page">Manage Slides</div>
            </a>
            <a href="/admin/userInterfaces/frontend/home/tagLines" class="card-4 frontEnd__cards">
                <div class="frontEnd__page">Tag Lines</div>
            </a>
            <a href="/admin/userInterfaces/frontend/home/featuredGuestperts" class="card-4 frontEnd__cards">
                <div class="frontEnd__page">Featured Guestperts</div>
            </a>
            <a href="/admin/userInterfaces/frontend/home/hotTopics" class="card-4 frontEnd__cards">
                <div class="frontEnd__page">hot topics</div>
            </a>
            <a href="/admin/userInterfaces/frontend/home/testimonials" class="card-4 frontEnd__cards">
                <div class="frontEnd__page">testimonials</div>
            </a>
            <a href="/admin/userInterfaces/frontend/home/books" class="card-4 frontEnd__cards">
                <div class="frontEnd__page">books</div>
            </a>
        </div>
    </section>

    <script src="/js/ad_frontEndUI.ef4898d505b686e2c080.bundle.js"></script>
</body>
</html>