<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_folders.bad2387e85b8792b1b80.css">
    <title><%=pageTitle%></title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="folder">
        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <% if (folderArr.length>0){ for(let folder of folderArr){%>
            <a href="<%= folder.url %>" class="card-4 folder__cards">
                <div class="folder__heading">
                    <div class="folder__icon-container">
                        <svg class="folder__icon">
                            <use xlink:href="/images/sprite.svg#<%=folder.icon%>"></use>
                        </svg>
                    </div>
                </div>
                <div class="folder__title"><%= folder.folderTxt%></div>
            </a>
            <%}}%>
        </div>
    </section>

    <script src="/js/ad_folders.9f34181598fc55e6eae3.bundle.js"></script>
</body>
</html>