<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ad_folderStructure2.css">
<title><%= pageTitle%></title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="home">
        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">
            <% for (let page of pages){%>
            <a href="<%= page.url %>" class="card-4 home__cards">
                <div class="home__sections">
                    <p><%= page.name %></p>
                    <svg class="home__icon home__icon--top-left">
                        <use xlink:href="/images/sprite.svg#left-top"></use>
                    </svg>
                    <svg class="home__icon home__icon--top-right">
                        <use xlink:href="/images/sprite.svg#right-top"></use>
                    </svg>
                </div>
            </a>
            <%}%>
        </div>
    </section>

    <script src="/js/ad_folderStructure2.6c2efe6dea1a6cd357bc.bundle.js"></script>
</body>

</html>