<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_guestpertAdmin.e0c7229216f44d952862.css">
    <title>Manage Admin Guestpert</title>
</head>
<body>

    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="edit settings">
        <form action="<%=updateUrl%>?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-3">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">walkthrough video</h2>

            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title</span>
                </label>
                <input type="text" value="<%=data.title%>" name="title" class="form__control" id="title" required>
            </div>
            <div class="form__group--settings">
                <label for="link" class="form__label">
                    <span class="form__label--caps">link</span>
                    <span class="form__label--details">Put only embed code with &#60;iframe&#62; tag for vimeo and youtube</span>
                </label>
                <input type="text" value="<%=data.videoLink%>" name="videoLink" class="form__control" id="link" required>
            </div>

            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/js/ad_guestpertAdmin.f31624257853c48a94df.bundle.js"></script>
</body>
</html>