<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_generalSettings.e0c7229216f44d952862.css">
    <title>General Settings</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="edit settings">        
        
        <form action="/admin/editSiteSettings?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-3">

            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">Site Settings</h2>

            <% for(const gen of data) {%>
                <%if(gen.title ==='site_settings'){%>
                    <div class="form__group--settings">
                        <label for="site_name" class="form__label">
                            <span class="form__label--caps">Site Name*</span>
                        </label>
                        <input type="text" spellcheck="false" class="form__control" value="<%=gen.siteName%>" name="siteName" id="site_name" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="admin_email" class="form__label">
                            <span class="form__label--caps">admin/notificationemail*</span>
                        </label>
                        <input type="email" class="form__control" spellcheck="false" value="<%= gen.adminEmail%>" name="adminEmail" id="admin_email" required>
                    </div>

                    <div class="form__group--settings settings__other-emails">
                        <% gen.otherEmail.forEach((c, i)=>{%>
                            <div class="email__group" style="margin-top: 3rem;">
                                <div class="u-mar-t-1">
                                    <label for="email_<%=i%>" class="form__label">
                                        <span class="form__label--caps">email</span>
                                    </label>
                                    <div class="edit__input-plus-btn">
                                        <input type="email" name="otherEmail" value="<%=c.email%>" class="form__control edit__change-inputs" id="email_<%=i%>" required>
                                    </div>
                                </div>
                                <div class="u-mar-t-1">
                                    <label for="emailTitle_<%=i%>" class="form__label">
                                        <span class="form__label--caps">email title</span>
                                    </label>
                                    <div class="edit__input-plus-btn">
                                        <input type="text" name="emailTitle" value="<%=c.title%>" class="form__control edit__change-inputs" id="<emailTitle_<%=i%>" required>
                                        <div class="edit__btn-change btn_remove">Remove</div>
                                    </div>
                                </div>
                            </div>
                        <%})%>
                        <div class="button__primary u-mar-t-2" id="settings__btn-newEmail">Add new Email</div>
                    </div>

                    <div class="form__group--settings settings__mailAddress">
                        <% gen.mailAddress.forEach((c, i)=>{%>
                            <div class="settings__mail-address-box u-mar-t-1">
                                <label for="kalcwiyg" class="form__label">
                                    <span class="form__label--caps">Mail Address</span>
                                </label>
                                <div class="edit__input-plus-btn">
                                    <input type="text" name="mailAddress" value="<%=c%>" id="<%=i%>" class="form__control edit__change-inputs" id="kalcwiyg" required>
                                    <div class="edit__btn-change btn_remove">Remove</div>
                                </div>
                            </div>
                        <%})%>

                        <div class="button__primary u-mar-t-2" id="settings__btn-newMailAddress">Add new Mail Address</div>
                    </div>

                    <div class="form__group--settings">
                        <label for="admin_phone" class="form__label">
                            <span class="form__label--caps">phone*</span>
                        </label>
                        <input type="number" value="<%= gen.phone%>"  class="form__control" name="phone" id="admin_phone" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="copyright" class="form__label">
                            <span class="form__label--caps">copyright*</span>
                        </label>
                        <input type="text" class="form__control" value="<%=gen.copyright%>" name="copyright" id="copyright" required>
                    </div>

                    <div class="form__group--settings">
                        <label for="twitterLink" class="form__label">
                            <span class="form__label--caps">twitter link</span>
                            <span class="form__label--details">Must be a url. eg. https://www.twitter.com/tvguestpert</span>
                        </label>
                        <input type="url" class="form__control" value="<%= gen.twitter%>" name="twitter" id="twitterLink">
                    </div>

                    <div class="form__group--settings">
                        <label for="facebookLink" class="form__label">
                            <span class="form__label--caps">facebook link</span>
                            <span class="form__label--details">Must be a url. eg. https://www.facebook.com/tvguestpert</span>
                        </label>
                        <input type="url" class="form__control" value="<%=gen.facebook%>" name="facebook" id="facebookLink">
                    </div>

                    <div class="form__group--settings">
                        <label for="youtubeLink" class="form__label">
                            <span class="form__label--caps">youtube link</span>
                            <span class="form__label--details">Must be a url. eg. https://www.youtube.com/tvguestpert</span>
                        </label>
                        <input type="url" class="form__control" value="<%= gen.youtube%>" name="youtube" id="youtubeLink">
                    </div>

                    <div class="form__group--settings">
                        <label for="instagramLink" class="form__label">
                            <span class="form__label--caps">instagram link</span>
                            <span class="form__label--details">Must be a url. eg. https://www.instagram.com/tvguestpert</span>
                        </label>
                        <input type="url" class="form__control" value="<%=gen.instagram%>" name="instagram" id="instagramLink">
                    </div>

                    <div class="form__group--settings">
                        <label for="radioshowLink" class="form__label">
                            <span class="form__label--caps">radio show link</span>
                            <span class="form__label--details">Must be a url. eg. https://www.radioshow.com/tvguestpert</span>
                        </label>
                        <input type="url" class="form__control" value="<%= gen.radioshow%>" name="radioshow" id="radioshowLink">
                    </div>
                    <div class="form__group--settings">
                        <label for="radioshowLink" class="form__label">
                            <span class="form__label--caps">Company Tag Line*</span>
                            <span class="form__label--details">To be included with every page in the footer. Maximum 250 characters allowed</span>
                        </label>
                        <textarea type="text" class="form__control" maxlength="250" name="companyTagLine" id="companyTagLine" required><%=gen.companyTagLine%></textarea>
                    </div>
                <%}%>
            <%}%>


            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>


        
        <form action="/admin/editSeoSettings?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-7">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">seo information</h2>

            <% for(const key of data) {%>
                <% if(key.title === 'seo_settings'){%>
                    <div class="form__group--settings">
                        <label for="siteKeywords" class="form__label">
                            <span class="form__label--caps">site keywords</span>
                        </label>
                        <textarea type="text" spellcheck="false" class="form__control" name="siteKeywords" id="siteKeywords" required><%= key.siteKeywords %></textarea>
                    </div>
                    <div class="form__group--settings">
                        <label for="siteDescription" class="form__label">
                            <span class="form__label--caps">site description</span>
                        </label>
                        <textarea type="text" spellcheck="false"  class="form__control" name="siteDescription" id="siteDescription" required><%= key.siteDescription %></textarea>
                    </div>
                <%}%>
            <%}%>
          
            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>



        <form action="/admin/editPaypalSettings?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-7">
            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">paypal setup</h2>

            <% for(const key of data) {%>
                <% if(key.title === 'paypal_settings'){%>
                    <div class="form__group--settings">
                        <label for="paypalEmail" class="form__label">
                            <span class="form__label--caps">paypal id/email</span>
                        </label>
                        <input type="email" value="<%=key.paypalEmail%>" spellcheck="false" name="paypalEmail" class="form__control" id="paypalEmail" required>
                    </div>
                    <div class="form__group--settings">
                        <label for="paypalUsername" class="form__label">
                            <span class="form__label--caps">paypal username</span>
                        </label>
                        <input type="text" value="<%=key.paypalUsername%>" spellcheck="false" name="paypalUsername" class="form__control" id="paypalUsername" required>
                    </div>
                    <div class="form__group--settings">
                        <label for="paypalpassword" class="form__label">
                            <span class="form__label--caps">paypal password</span>
                        </label>
                        <input type="text" value="<%=key.paypalPassword%>" spellcheck="false" name="paypalPassword" class="form__control" id="paypalpassword" required>
                    </div>
                    <div class="form__group--settings">
                        <label for="paypalsignature" class="form__label">
                            <span class="form__label--caps">paypal signature</span>
                        </label>
                        <input type="text" value="<%=key.paypalSignature%>" spellcheck="false" name="paypalSignature" class="form__control" id="paypalsignature" required>
                    </div>

                <%}%>
            <%}%>

          
            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/js/ad_generalSettings.2eedafe8ca01b6d756d0.bundle.js"></script>
</body>
</html>