<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_homePageBooksCarousel.1105cc5393c649d6a5d7.css">
    <title>Manage homepage Books</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="homepage u-absCenter u-mar-t-3">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Books on home page</h2>
        <p class="caption-text-bg color-txt-dark u-mar-t-1">Minimum 4 books should be there in homepage for the slider
            to work</p>

        <div class="row__grid-6 u-mar-b-5 u-mar-t-5" id="homepage-books">
            <%for (const book of dataArr){%>
            <div class="card-6 thin">
                <div class="thin__lrg-img">
                    <img src="<%=book.imgSrc%>" alt="book image"
                        class="fluid-img">
                </div>

                <div class="thin__btn-container u-mar-t-1">
                    <button data-id="<%=book.id%>" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <%}%>
    </section>


    <section class="addnew u-absCenter">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Add new to home page</h2>

        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Books"
                required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-6 u-mar-b-5 u-mar-t-5" id="addNew-box"> </div>
    </section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section class="animation" id="animation"></section>

    <script src="/js/ad_homePageBooksCarousel.bc88b1fa14f085eb6922.bundle.js"></script>
</body>

</html>