<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_homePageGuestperts.1105cc5393c649d6a5d7.css">
    <title>Manage homepage Guestperts</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="homepage u-absCenter u-mar-t-3">
        <h2 class="heading-secondary u-center-text u-mar-t-3">guestperts on home page</h2>
        <p class="caption-text-bg color-txt-dark u-mar-t-1">Minimum 6 guestperts should be there in homepage for the animation to work</p>

        <div class="row__grid-6 u-mar-b-5 u-mar-t-5" id="homepage-guestperts-box">
            <%for (const guestpert of allGuestperts){%>
            <div class="card-6 thin">
                <div class="thin__img">
                    <img src="<%=guestpert.imgSrc%>"  alt="guestpert image" class="fluid-img">
                </div>
                <div class="thin__info">
                    <p class="thin__main-txt color-txt-dark"><%=guestpert.fullName%></p>
                    <p class="thin__sm-txt"><%=guestpert.membership%></p>
                </div>
                <div class="thin__btn-container">
                    <button data-id="<%=guestpert.id%>" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <%}%>
        </div>
    </section>


    <section class="addnew u-absCenter">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Add new to home page</h2>

        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Guestperts" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-6 u-mar-b-5 u-mar-t-5" id="add-new-box"></div>
    </section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <section class="animation" id="animation"></section>

    <script src="/js/ad_homePageGuestperts.e03e93a6f268b9bec363.bundle.js"></script>

</body>
</html>