<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_homePageTestimonials.222383b7028b50022b78.css">
    <title>Manage Homepage Testimonials</title>
</head>
<body>

    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="homePage u-absCenter">
        <h1 class="heading-secondary u-center-text u-mar-t-5">Testimonials on Home page</h1>
        <p class="caption-text-bg u-center-text color-txt-dark u-mar-t-1">Maximum 2 testimonials are allowed to be in Home Page And testimonial with images and videos are not allowed in Home page</p>

        <div class="row__grid-2 u-mar-t-4" id="homepage-testimonials-box">
            <% allTestimonials.forEach((testimonial, i)=>{ if(i<2){%>
            <div class="card-2 testimonial__card" >
                
                <div class="testimonial__card-img">
                    <img src="<%=testimonial.imgSrc%>" class="fluid-img">
                </div>

                <p class="paragraph-primary txt-capitalize u-center-text testimonial__guestpert"><%=testimonial.fullName%></p>
                <div class="testimonial__info u-mar-t-2 ">
                     <%-testimonial.content%>
                </div>
                
                <div class="testimonial__card-btns">
                    <button data-id="<%=testimonial.id%>" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <%}})%>
        </div>
    </section>



    <section class="addnew u-absCenter u-mar-t-5">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Add new to home page</h2>

        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Hot Topics" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-2 u-mar-t-4 u-mar-b-7" id="add-new-box"> </div>
    </section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <section class="animation" id="animation"></section>

    <script src="/js/ad_homePageTestimonials.be2140a823ba3f95f735.bundle.js"></script>
</body>
</html>