<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_jaquiesAppearance.c8558a989cc7e5b11753.css">
    <title>Jacquie's Appearance</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="slides u-mar-b-5 u-mar-t-5 u-absCenter">

        <h2 class="heading-secondary u-mar-b-3">Jacquie's Appearances</h2>

        <div class="row">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <%for(const appearance of appearances){%>
            <div class="slides__card u-mar-b-2">
                <div class="slides__content-left">
                    <div class="slides__video">
                        <%-appearance.videoLink%>
                    </div>
                </div>
                <div class="slides__content-right">
                    <p class="paragraph-primary txt-capitalize u-mar-b-2 slide-title"><%=appearance.videoTitle%></p>

                    <ul class="info-list slides__info">
                        <li>
                            <!-- <p class="info-list__key">Created</p>
                            <p class="info-list__value slide-anchor">11 sept 2018</p> -->
                        </li>
                    </ul>

                    <div class="ctrl-btns">
                        <button data-id="<%=appearance.id%>"  class="button__primary u-mar-r-1 slides__edit-btn">Edit</button>
                        <button data-id="<%=appearance.id%>"  class="button__primary slides__delete-btn">Delete</button>
                    </div>
                </div>
            </div>
        <%}%>
        
    </section>


    <section class="edit edit__none">

        <div class="row u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards">Show appearances</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create & Edit appearances</h2>


        
        <form action="#" method="POST" class="edit__form-container">

            <div class="form__group--settings">
                <label for="videoTitle" class="form__label">
                    <span class="form__label--caps">video title</span>
                </label>
                <input type="text" name="videoTitle" class="form__control" id="videoTitle" required>
            </div>
            
            <div class="form__group--settings">
                <label for="videoLink" class="form__label">
                    <span class="form__label--caps">video link</span>
                    <span class="form__label--details">
                        Link should be embedded with iframe with src attribute and link of video
                    </span>
                    <span class="form__label--details u-mar-b-1">
                       eg. &lt;iframe src=&quot;https://www.youtube.com/embed/5qap5aO4i9A&quot; frameborder=&quot;0&quot; allow=&quot;accelerometer; picture-in-picture&quot; allowfullscreen&gt;&lt;/iframe&gt;
                    </span>
                </label>
                <input type="text" name="videoLink" class="form__control" id="videoLink" required>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-1">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">
            <form action="/admin/deleteAppearance?_csrf=<%=csrfToken%>" method="POST">
                <input type="hidden" name="id" value="234234234234234" class="card-id">
                <p class="paragraph-tertiary color-txt-dark u-mar-b-2">Are you sure to delete this appearance?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

     <!-- Spinner animation -->
     <section id="animations"></section>

     <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>
 

    <script src="/js/ad_jaquiesAppearance.6e9180c9248d16671343.bundle.js"></script>

</body>
</html>