<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_manageHotTopicsCat.167b7e3f1b37f4ab3166.css">
    <title>Manage hotTopics Category</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="ht-categories u-absCenter u-mar-t-3">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Current Hot Topics categories</h2>

        <div class="ht-categories__show-btns u-mar-t-3 ">
            <button class="button__primary btn-createNew">Create new</button>
        </div>

        <div class="row__grid-6 u-mar-b-5 u-mar-t-3">

            <%for(const card of data){%>
                <div class="card-6 ht-categories__card">
                    <div class="ht-categories__info">
                        <p class="ht-categories__main-txt"><%= card.title %></p>
                        <div class="active-stats" data-active="<%= card.active %>"></div>
                    </div>
                    <div class="ht-categories__btn-container">
                        <button data-id="<%= card._id%>" class="button__primary btn-ht-edit">Edit</button>
                    </div>
                </div>
            <%}%>
        </div>
    </section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <section class="edit edit__none">

        <div class="ht-categories__show-btns u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards">Show Categories</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create & Edit categories</h2>

        <form action="" method="POST" class="edit__form-container edit__form-container--hotTopics" id="createEdit_form" enctype="multipart/form-data">

            <div class="form__group--settings">
                <label for="catTitle" class="form__label">
                    <span class="form__label--caps">category title*</span>
                </label>
                <input type="text" class="form__control" name="catTitle" id="catTitle" required>
            </div>

            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">blog cover Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss"></span>
                </label>
                <span class="form__label--details u-mar-t-1">Image should be of max 200 KB and size should be of aspect ratio 1:1</span>
                <input type="file" name="image" id="choose-img-file">
            </div>

            <div class="form__group--checkbox">
                <label for="prefix" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="true" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>
        
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>
    </section>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>
    
    <script src="/js/ad_manageHotTopicsCat.decef889ebfb0fd192f3.bundle.js"></script>
</body>
</html>