<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ad_manageJaquiesDetail.84d6d6cf20a8b717ff15.css">
<title>Manage Jacquie's page</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="edit">

        <form action="/admin/founderDetails?_csrf=<%=csrfToken%>" method="POST"
            class="edit__form-container u-mar-t-3">

            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">Jacquie's Details</h2>

            <div class="form__group--settings">
                <label for="content" class="form__label">
                    <span class="form__label--caps">content</span>
                </label>
                <textarea type="text" class="form__control" name="content" id="content"><%=details%></textarea>
            </div>

            <div class="edit__form-button-container">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>

    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageJaquiesDetail.e239d4e045be1c98cbed.bundle.js"></script>
</body>

</html>