<%- include('../../components/head.ejs')%>
    <link href="/css/ad_manageProducers.d5eeddcb3cc74a8aa580.css" rel="stylesheet">
    <title>Manage Producers</title>
</head>

<body>

    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="producers u-mar-t-3 u-absCenter">

        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Producers"
                required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="producers__show-btns row">
            <button class="button__primary btn-createNew" id="create-btn">create new</button>
        </div>

        <div class="row__grid-flexible" id="producers-box"></div>

    </section>

    <section class="animation" id="animation"></section>

    <div class="page">
        <ul class="page__list" id="page__list"></ul>
    </div>


    <section class="edit edit__none" id="create-section">

        <div class="row u-mar-b-4 u-mar-t-1">
            <button class="button__primary btn__show-cards">Show Producers</button>
        </div>

        <h2 class="heading-primary u-center-text edit__form-heading u-mar-b-2">Create New Producer</h2>


        <form action="/admin/createProducer?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container" enctype="multipart/form-data">
           
            <span class="form__label--details u-mar-t-5 u-mar-b-2">Please make sure that the image is of
                ratio
                1:1 and size is of max
                500KB</span>
            <div class="edit__heading changeDP u-mar-b-4">
                <label for="img-input" class="edit__image-container">

                    <img src="../../images/user.png" alt="guestpert image" class="fluid-img" id="preview-img">
                    <span class="span span--in">Change profile picture</span>
                    <span class="span span--out">Click here to change</span>

                </label>
                <input type="file" name="image" class="popup__input-img" id="img-input">
            </div>


            <div class="form__group--settings">
                <label for="create_firstname" class="form__label">
                    <span class="form__label--caps">first name*</span>
                </label>
                <input type="text" name="firstName" class="form__control" id="create_firstname" required>
            </div>

            <div class="form__group--settings">
                <label for="create_lastname" class="form__label">
                    <span class="form__label--caps">last name*</span>
                </label>
                <input type="text" name="lastName" class="form__control" id="create_lastname" required>
            </div>

            <div class="form__group--settings">
                <label for="create_prefix" class="form__label">
                    <span class="form__label--caps">prefix</span>
                </label>
                <input type="text" name="prefix" class="form__control" id="create_prefix">
            </div>

            <div class="form__group--settings">
                <label for="create_suffix" class="form__label">
                    <span class="form__label--caps">suffix</span>
                </label>
                <input type="text" name="suffix" class="form__control" id="create_suffix">
            </div>

            <div class="form__group--settings">
                <label for="create_title" class="form__label">
                    <span class="form__label--caps">title*</span>
                    <span class="form__label--details">Example: Scientist, Founder of ACME Center, Author of Guide
                        to the NorthPole and Beyond This field should NOT be filled out in narrative form</span>
                </label>
                <input type="text" class="form__control" name="title" id="create_title" required>
            </div>


            <h2 class="heading-tertiary u-mar-t-8 u-center-text edit__form-heading">contact information</h2>

   
            <div class="form__group--settings">
                <label for="create_address" class="form__label">
                    <span class="form__label--caps">Address</span>
                </label>
                <textarea type="text" class="form__control" name="address" id="create_address" required></textarea>
            </div>

            <div class="form__group--settings">
                <label for="create_phone" class="form__label">
                    <span class="form__label--caps">phone</span>
                </label>
                <input type="number" class="form__control" name="phone" id="create_phone" required>
            </div>

            <div class="form__group--settings">
                <label for="create_mobile" class="form__label">
                    <span class="form__label--caps">mobile</span>
                </label>
                <input type="number" class="form__control" name="mobile" id="create_mobile">
            </div>

            <div class="form__group--settings">
                <label for="create_phone" class="form__label">
                    <span class="form__label--caps">Network/Company</span>
                </label>
                <input type="text" class="form__control" name="company" id="create_company">
            </div>

            <div class="form__group--settings">
                <label for="create_website" class="form__label">
                    <span class="form__label--caps">website</span>
                </label>
                <input type="text" class="form__control" name="website" id="create_website">
            </div>

            <div class="form__group--settings">
                <label for="create_fax" class="form__label">
                    <span class="form__label--caps">fax</span>
                </label>
                <input type="text" class="form__control" name="fax" id="create_fax">
            </div>


            <h2 class="heading-tertiary u-mar-t-8 u-center-text edit__form-heading">credential settings</h2>

            <div class="form__group--settings">
                <label for="create_username" class="form__label">
                    <span class="form__label--caps">user name</span>
                </label>
                <input type="text" class="form__control" name="username" id="create_username" required>
            </div>

            <div class="form__group--settings">
                <label for="create_email" class="form__label">
                    <span class="form__label--caps">email</span>
                </label>
                <input type="email" class="form__control" name="email" id="create_email" required>
            </div>

            <div class="form__group--settings">
                <label for="create_newpassword" class="form__label">
                    <span class="form__label--caps">password</span>
                </label>
                <input type="password" class="form__control" name="password" id="create_newpassword" required>
            </div>

            <div class="form__group--settings">
                <label for="create_cnfrmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="text" class="form__control" name="confirmPassword" id="create_cnfrmpassword" required>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>
    </section>


    <section class="edit edit__none" id="editSection">
        <div class="guestperts__show-btns row">
            <button class="button__primary btn__show-cards">show Producers</button>
        </div>
        <!-- Profile picture -->

        <div class="edit__heading">
            <div class="edit__image-container">
                <img src="../../images/user.png" alt="guestpert image" class="fluid-img" id="edit_guestpert-img">
                <span class="span span--in">Change profile picture</span>
                <span class="span span--out">Click here to change</span>
            </div>
        </div>

        
        <form action="#" method="POST" class="edit__form-container edit__form-container--personal">

            <h2 class="heading-tertiary u-center-text edit__form-heading">personal Information</h2>
        
            
        
            <div class="form__group--settings">
                <label for="edit_firstname" class="form__label">
                    <span class="form__label--caps">first name*</span>
                </label>
                <input type="text" class="form__control" name="firstName" id="edit_firstname" required>
            </div>
        
            <div class="form__group--settings">
                <label for="edit_lastName" class="form__label">
                    <span class="form__label--caps">last name*</span>
                </label>
                <input type="text" class="form__control" name="lastName" id="edit_lastName" required>
            </div>
        
        
            <div class="form__group--settings">
                <label for="edit_prefix" class="form__label">
                    <span class="form__label--caps">prefix</span>
                </label>
                <input type="text" class="form__control" name="prefix" id="edit_prefix">
            </div>
        
            <div class="form__group--settings">
                <label for="edit_sufix" class="form__label">
                    <span class="form__label--caps">sufix</span>
                </label>
                <input type="text" class="form__control" name="suffix" id="edit_sufix">
            </div>
        
            <div class="form__group--settings">
                <label for="edit_title" class="form__label">
                    <span class="form__label--caps">title*</span>
                    <span class="form__label--details">Example: Scientist, Founder of ACME Center, Author of Guide
                        to the NorthPole and Beyond This field should NOT be filled out in narrative form</span>
                </label>
                <input type="text" class="form__control" name="title" id="edit_title" required>
            </div>
        
            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="edit_loco">submit</button>
            </div>
        
        </form>
        
        
        <form class="edit__form-container edit__form-container--contact u-mar-t-5"  method="POST">
        
            <h2 class="heading-tertiary u-center-text edit__form-heading">contact information</h2>
        
           
            <div class="form__group--settings">
                <label for="edit_address" class="form__label">
                    <span class="form__label--caps">Address*</span>
                </label>
                <textarea type="text" class="form__control" id="edit_address" name="address" required></textarea>
            </div>
        
            <div class="form__group--settings">
                <label for="edit_phone" class="form__label">
                    <span class="form__label--caps">phone*</span>
                </label>
                <input type="number" class="form__control edit__change-inputs" name="phone" value="" id="edit_phone"
                    required>
            </div>
        
            <div class="form__group--settings">
                <label for="edit_mobile" class="form__label">
                    <span class="form__label--caps">mobile</span>
                </label>
                <input type="number" class="form__control edit__change-inputs" name="mobile" value="" id="edit_mobile">
            </div>
        
            <div class="form__group--settings">
                <label for="edit_company" class="form__label">
                    <span class="form__label--caps">network/company</span>
                </label>
                <input type="text" class="form__control edit__change-inputs" name="company" value=""
                    id="edit_company">
            </div>
        
            <div class="form__group--settings">
                <label for="edit_website" class="form__label">
                    <span class="form__label--caps">website</span>
                </label>
                <input type="text" class="form__control" name="website" id="edit_website">
            </div>
        
            <div class="form__group--settings">
                <label for="edit_fax" class="form__label">
                    <span class="form__label--caps">fax</span>
                </label>
                <input type="text" class="form__control" name="fax" id="edit_fax">
            </div>
        
        
            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>
        
        
        <form method="POST"class="edit__form-container edit__form-container--credentials u-mar-t-5">
        
            <h2 class="heading-tertiary u-center-text edit__form-heading">Credentials</h2>
      
            <div class="form__group--settings">
                <label for="edit_username" class="form__label">
                    <span class="form__label--caps">user name</span>
                </label>
                <input type="text" class="form__control" name="username" disabled id="edit_username" required>
            </div>
        
            <div class="form__group--settings">
                <label for="edit_email" class="form__label">
                    <span class="form__label--caps">email*</span>
                </label>
                <input type="email" class="form__control" name="email" value="" id="edit_email" required>
            </div>
        
            <div class="form__group--settings">
                <label for="edit_newpassword" class="form__label">
                    <span class="form__label--caps">new password</span>
                </label>
                <input type="password" minlength="6" class="form__control" name="password" id="edit_newpassword" required>
            </div>
        
            <div class="form__group--settings">
                <label for="edit_cnfrmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="text" minlength="6" class="form__control" name="confirmPassword" id="edit_cnfrmpassword" required>
            </div>
        
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>


        <div class="edit__form-container u-mar-t-3">
            <div>
                <p class="paragraph-secondary">Do you want to delete this Producer? Please remember that you will not
                    be able to retrive this producer once you delete it.</p>
                <button id="delete-producer-btn" data-id=""
                    class="form__submit-btn--pink form__submit-btn u-mar-t-2">Delete</button>
            </div>
        </div>

    </section>



    <div class="popup">

        <div class="popup__users-info"></div>

        <div class="popup__del-box">
            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to remove this Guestpert?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <a class="button__primary btn__cancel">Cancel</a>
                </div>
            </div>
        </div>



        <div class="popup__change-profile-picture">
            <form action="#" method="POST" enctype="multipart/form-data">
                <div class="popup__change-image-container">
                    <div class="popup__change-img">
                        <img src="../../images/guestperts/Ivy headshot.jpg" alt="team member image" class="fluid-img"
                            id="imagePreview">
                    </div>
                    <div>
                      <input type="file" name="image" class="popup__input-img" id="image-input">
                      <label type="file" class="popup__input-lebel" for="image-input">Choose new image</label>
                      <span class="form__label--details u-mar-t-1" style="text-align: right;">Image should be of 1:1 aspect ratio</span>
                    </div>
                </div>

                <div class="popup__change-btns-container">
                    <button class="button__primary">Keep changes</button>
                    <div class="button__ghost button__ghost--sm btn_cancel">cancel</div>
                </div>
            </form>
        </div>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>
    
    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/js/ad_manageProducers.e4476a9f26538c0d25e0.bundle.js"></script>
</body>

</html>