<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_manageAboutPage.d7b6199c2811b00f324b.css">
    <title>Manage about page</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="about u-mar-t-5 u-absCenter" id="about-section">

        <h2 class="heading-secondary u-mar-b-3">Primary Team</h2>

        <div class="about__show-btns">
            <button data-type="prime" class="button__primary btn-createNew">create new</button>
        </div>

        <div class="row__grid-4 about__row u-mar-b-7">
            
            <%for(const person of data){%>
                <% if(person.memberType ==='prime'){%>
                    <div class="card-4 faty__card">
                        <div class="faty__head">
                            <p class="paragraph-primary u-center-text txt-uppercase"><%= person.firstName%> <%= person.lastName%></p>
                            <p class="faty__sm-txt u-center-text color-txt-dark txt-capitalize"><%= person.title%></p>
                            
                        </div>

                        <div class="faty__card-img">
                            <img src="<%=person.imageUrl%>" class="fluid-img">
                        </div>
                        
                        <div class="faty__card-btns">
                            <button data-id="<%= person._id%>" class="faty__card-btn-edit button__primary">Edit</button>
                            <button data-id="<%= person._id%>" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                        </div>
                    </div>
                <%}%>
            <%}%>
            
        </div>

        <h2 class="heading-secondary u-mar-b-3">Other Members</h2>

        <div class="about__show-btns">
            <button data-type="others" class="button__primary btn-createNew">create new</button>
        </div>

        <div class="row__grid-4 about__row">
            
            <%for(const person of data){%>
                <% if(person.memberType ==='others'){%>
                    <div class="card-4 faty__card">
                        <div class="faty__head">
                            <p class="paragraph-primary u-center-text txt-uppercase"><%= person.firstName%> <%= person.lastName%></p>
                            <p class="faty__sm-txt color-txt-dark txt-capitalize"><%= person.title%></p>
                        </div>
                        
                        <div class="faty__card-btns">
                            <button data-id="<%= person._id%>" class="faty__card-btn-edit button__primary">Edit</button>
                            <button data-id="<%= person._id%>" class="faty__card-btn-delete button__ghost button__ghost--sm">Remove</button>
                        </div>
                    </div>

                <%}%>
            <%}%>
        </div>

    </section>

    <section id="animations"></section>


    <section class="edit edit__none" id="editPrimeMembers">

        <div class="about__show-btns">
            <button class="button__primary btn__show-cards">Show SubAdmins</button>
        </div>

      
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create & Edit Team</h2>

        <form action="#" method="POST" class="edit__form-container u-mar-t-3" enctype="multipart/form-data">

            <span class="form__label--details u-mar-b-1">Please make sure that the image is of ratio 1:1 , size is of max 500KB and format should be jpg or png</span>
            <div class="edit__heading changeDP" >
                <label for="img-input" class="edit__image-container">
                    <img  src="/images/user.png" alt="guestpert image" class="fluid-img" id="preview-img">
                    <span class="span span--in">Change profile picture</span>
                    <span class="span span--out">Click here to change</span>
                </label>
                <input type="file" class="popup__input-img" name="image" id="img-input">
            </div>

            <div class="form__group--settings">
                <label for="firstName" class="form__label">
                    <span class="form__label--caps">first Name</span>
                </label>
                <span class="form__label--details">First Name can include only letters and numbers. No special characters</span>
                <input type="text" spellcheck="false" autocomplete="on"  class="form__control" id="firstName" name="firstName" required>
            </div>
            <div class="form__group--settings">
                <label for="lastName" class="form__label">
                    <span class="form__label--caps">last name</span>
                </label>
                <span class="form__label--details">Last Name can include only letters and numbers. No special characters</span>
                <input type="text" spellcheck="false" autocomplete="on"  class="form__control" id="lastName" name="lastName" required>
            </div>
            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title</span>
                </label>
                <span class="form__label--details">Title can include only letters and numbers. No special characters</span>
                <input type="text" spellcheck="false" autocomplete="on"  class="form__control" id="title" name="title" required>
            </div>
            <div class="form__group--settings">
                <label for="description" class="form__label">
                    <span class="form__label--caps">Description</span>
                </label>
                <span class="form__label--details">Description is to be written in paragraph. No word limits</span>
                <textarea type="text" class="form__control" id="description" name="description"></textarea>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <input type="hidden" name="hidden-id" id="hidden-id">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>

    
    <section class="edit edit__none" id="editOtherMembers">

        <div class="about__show-btns">
            <button class="button__primary btn__show-cards">Show SubAdmins</button>
        </div>
       
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create & Edit Other Members</h2>

        <form action="#" method="POST" class="edit__form-container u-mar-t-3">

            <div class="form__group--settings">
                <label for="firstName" class="form__label">
                    <span class="form__label--caps">first Name</span>
                </label>
                <span class="form__label--details">First Name can include only letters and numbers. No special characters</span>
                <input type="text" spellcheck="false" autocomplete="on" class="form__control" id="firstName" name="firstName" required>
            </div>
            <div class="form__group--settings">
                <label for="lastName" class="form__label">
                    <span class="form__label--caps">last name</span>
                </label>
                <span class="form__label--details">Last Name can include only letters and numbers. No special characters</span>
                <input type="text" spellcheck="false" autocomplete="on" class="form__control" id="lastName" name="lastName" required>
            </div>
            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title</span>
                </label>
                <span class="form__label--details">Title can include only letters and numbers. No special characters</span>
                <input type="text" spellcheck="false" autocomplete="on" class="form__control" id="title" name="title" required>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <input type="hidden" name="hidden-id" id="hidden-id">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>
    </section>

    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-tertiary color-txt-dark u-mar-b-2">Are you sure to delete this appearance?</p>
                <div class="popup__del-btns">
                    <button data-id="" class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageAboutPage.c0999c9615bbaa669eb8.bundle.js"></script>
</body>
</html>