<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_manageProducts.111354c95ed85678b83c.css">
    <title>Manage Products</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="active-products u-absCenter u-mar-t-4">
        <h1 class="heading-secondary u-center-text">All Products</h1>

        <div class="row">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <div class="form__search u-mar-b-2 u-mar-t-3">
            <input class="form__control form__search-input" id="active-products-search" type="text" placeholder="Search products" required>
            <input type="hidden" value="" class="form__hidden-input" id="active-hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-3" id="activeCards-box"></div>
    </section>

    <div class="page" id="page-activeProducts">
        <ul class="page__list" id="page-activeProd-list">
        </ul>
    </div>


    <section class="inactive-products u-absCenter u-mar-t-4">

        <h1 class="heading-secondary u-center-text">Add Book Covers to Products</h1>

        <div class="form__search u-mar-b-3 u-mar-t-3">
            <input class="form__control form__search-input" id="inactive-products-search" type="text" placeholder="Search products" required>
            <input type="hidden" value="" class="form__hidden-input" id="inactive-hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-3"  id="inactiveCards-box"></div>
    </section>

    <div class="page" id="page-inactiveProducts">
        <ul class="page__list" id="page-inactiveProd-list">
        </ul>
    </div>

    <section class="edit edit__none">

        <div class="about__show-btns row">
            <button class="button__primary edit__show-cards">Cancel and go back</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Product Details</h2>

        <form action="#" method="POST" class="edit__form-container u-mar-t-3" enctype="multipart/form-data">

            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">payment Mode</span>
                </label>
                <div class="custom-select-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select One*</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-key="paypal">paypal</span>
                            <span class="custom-option" data-key="thirdparty">Third Party</span>
                            <span class="custom-option" data-key="order">Order</span>
                        </div>
                    </div>
                </div>
                <input type="text" name="paymentMode" id="inp-category">
            </div>


            <div class="form__group--settings">
                <label for="productTitle" class="form__label">
                    <span class="form__label--caps">product Title*</span>
                    <span class="form__label--details">Maximum 200 characters are allowed. Avoid special characters</span>
                </label>
                <input type="text" maxlength="200" class="form__control" name="title" id="productTitle" required>
            </div>

            <div class="form__group--settings thirdparty-box"></div>

            <div class="form__group--settings">
                <label for="productType" class="form__label">
                    <span class="form__label--caps">product Type</span>
                    <span class="form__label--details">Avoid white spaces. Maximum 25 characters are allowed. eg. Book , Audio etc.</span>
                </label>
                <input type="text" maxlength="25" class="form__control" name="productType" id="productType" required>
            </div>
            
            <div class="form__group--settings">
                <label for="productDescription" class="form__label">
                    <span class="form__label--caps">Description*</span>
                    <span class="form__label--details">Brief description about the product</span>
                </label>
                <textarea type="text" class="form__control" name="description"  id="productDescription"></textarea>
            </div>

            <div class="form__group--settings">
                <label for="audioLink" class="form__label">
                    <span class="form__label--caps">Audio Link</span>
                    <span class="form__label--details">Audio link of the product eg. www.audible.com/eieqdsfhlly</span>
                </label>
                <textarea type="url" class="form__control" name="audioLink"  id="audioLink"></textarea>
            </div>
            

            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">Product Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss "></span>
                </label>
                <span class="form__label--details u-mar-t-1">Image should be of max 200 KB and size should be of aspect ratio 9:16</span>
                <input type="file" name="image" id="choose-img-file">
            </div>
            
            
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked/>
                    <label for="active"></label>
                </div>
            </div>

            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Best Seller</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="bestSeller" name="bestSeller" unchecked/>
                    <label for="bestSeller"></label>
                </div>
            </div>
            
            <div class="form__group--settings">
                <label for="currency" class="form__label">
                    <span class="form__label--caps">Currency</span>
                    <span class="form__label--details">eg. USD, INR, EUR</span>
                </label>
                <input type="text" class="form__control" name="currency" id="currency" required>
            </div>
            
            <div class="form__group--settings">
                <label for="product_price" class="form__label">
                    <span class="form__label--caps">Price</span>
                    <span class="form__label--details">Only numbers allowed</span>
                </label>
                <input type="text" maxlength="7" class="form__control" name="price" id="product_price" required>
            </div>

            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to remove this Product?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <a class="button__primary btn__cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>


    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <section class="animation" id="animation"></section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageProducts.d8846f9d929fff6ad919.bundle.js"></script>
</body>
</html>