<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ad_manageTags.4c70c8210b66bdaa38f8.css">

<title>Manage Tags</title>
</head>

<body>

    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="tags u-absCenter u-mar-t-5 u-mar-b-5">

        <h2 class="heading-secondary u-center-text">All tags</h2>


        <div class="row u-mar-b-4 u-mar-t-1">
            <button class="button__primary btn-createNew">Create new tag</button>
        </div>

        <div class="form__search u-mar-b-3 u-mar-t-3">
            <input class="form__control form__search-input" id="search-input" type="search" spellcheck="false" placeholder="Search Tags"
                required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-4 u-mar-t-4 u-mar-b-2" id="tags-box"></div>

    </section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>



    <section class="edit edit__none">

        <div class="row u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards">Show tags</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create & Edit service</h2>



        <form action="/admin/createTags" method="POST" class="edit__form-container">

            <div class="form__group--settings">
                <label for="tag-keyword" class="form__label">
                    <span class="form__label--caps">Tag Keyword</span>
                    <span class="form__label--details u-mar-b-1">Tags have to be unique and should not contain white
                        spaces</span>
                </label>
                <input type="text" class="form__control" name="tag"
                    id="tag-keyword" required>
            </div>

            <div class="form__group--checkbox">
                <label for="active" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>

            <div class="edit__form-button-container u-mar-t-1">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">

            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this tag?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <div class="animation" id="animation"></div>

    <script src="/js/ad_manageTags.d8e3d882eca6f333fcb8.bundle.js"></script>
    </body>
</html>