<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ad_manageSlides.c5197370931d2b3f0375.css">
<title>Manage Slides</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <h1 class="heading-primary u-center-text u-mar-t-5 u-mar-b-5">Manage Slides</h1>


    <section class="slides">
        <%for (const slide of slides){%>
        <div class="slides__card">
            <div class="slides__content-left">
                <div class="slides__picture">
                    <img src="<%=slide.imageUrl%>" class="fluid-img slide-img">
                </div>
            </div>
            <div class="slides__content-right">
                <h2 class="heading-secondary u-mar-b-2 u-center-text slide-heading"><%=slide.title%></h2>
                <div class="slide__caption-container">
                    <p class="paragraph-tertiary u-mar-b-3 u-mar-t-3 color-txt-dark slide-caption"><%-slide.caption%></p>
                </div>
                <div id="caption" data-caption="<%=slide.caption%>"></div>

                <%if(slide.videoLink){%>
                <div class="slides__video">
                    <a href="<%=slide.videoLink%>" class="slides__video-container">
                        <svg class="slides__video-icon">
                            <use xlink:href="/images/sprite.svg#play-circle"></use>
                        </svg>
                        <span class="slide-vidLink"><%=slide.videoLink%></span>
                    </a>
                </div>
                <%}%>

                <div class="slides__more-details">
                    <ul class="info-list slides__info u-mar-t-2">
                        <li>
                            <p class="info-list__key">Anchor</p>
                            <p class="info-list__value slide-anchor"><%=slide.anchor%></p>
                </li>
                <li>
                    <p class="info-list__key">Acitve</p>
                    <p class="info-list__value slide-active"><%-slide.active?'Yes':'No'%></p>
                </li>
                </ul>
            </div>
            <button data-slide="<%=slide.id%>" class="button__primary slides__edit-btn">Edit</button>
        </div>
        </div>
        <%}%>
    </section>





    <section class="edit edit__none" id="editSlides">

        <div class="slides__show-btns u-mar-b-5">
            <button class="button__primary edit__show-cards">Cancel and Go back</button>
        </div>

        <form action="#" method="POST" enctype="multipart/form-data" class="edit__form-container u-mar-t-3">

            <h1 class="heading-primary u-center-text u-mar-b-2">Edit Slides</h1>


            <div class="form__group--settings">
                <label for="slideTitle" class="form__label">
                    <span class="form__label--caps">Slide title</span>
                    <span class="form__label--details">It should be of max 30 characters with spaces. Style can differ
                        in different slides</span>
                </label>
                <input class="form__control" name="title" id="slideTitle" required>
            </div>
            <div class="form__group--settings">
                <label for="slideCaption" class="form__label">
                    <span class="form__label--caps">Slide Caption</span>
                    <span class="form__label--details">It should be of max 310 characters with spaces. Style can differ
                        in different slides</span>
                </label>
                <textarea type="text" maxlength="310" class="form__control" name="caption" id="slideCaption"></textarea>
            </div>
            <div class="form__group--settings">
                <label for="videoLink" class="form__label">
                    <span class="form__label--caps">Video Link</span>
                    <span class="form__label--details">Can be of Vimeo or Youtube video. Put only the embed code after src=, as shown in example below. Url should begin with https://</span>
                    <span class="form__label--details">example: &#x3C;iframe width=&#x22;662&#x22; height=&#x22;328&#x22; src=&#x22;<strong>https://www.youtube.com/embed/aJDqelOW6ho&#x22;</strong> frameborder=&#x22;0&#x22; allowfullscreen&#x3E;&#x3C;/iframe&#x3E;</span>
                </label>
                <input type="url" class="form__control" name="videoLink" id="videoLink">
            </div>
            <div class="form__group--settings">
                <label for="anchor" class="form__label">
                    <span class="form__label--caps">anchor</span>
                </label>
                <input type="text" class="form__control" name="anchor" id="anchor">
            </div>
            <div class="form__group--checkbox">
                <label for="active" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" />
                    <label for="active"></label>
                </div>
            </div>
            <div class="form__group--settings u-mar-t-3" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">blog cover Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss "></span>
                    <span class="form__label--details u-mar-t-1">Maximum 400 KB allowed for images. Make sure that the image match the size and background
                        behind</span>
                </label>
                <input type="file" name="image" id="choose-img-file">
            </div>

            <div class="edit__form-button-container">
                <button type="submit" data-slide="" class="form__submit-btn--orange form__submit-btn"
                    id="edit__send-button">save</button>
            </div>
        </form>

        <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    </section>
    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageSlides.0adf398d655932919a6c.bundle.js"></script>
</body>