<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ad_manageGuestperts.fd0bb2047deb64b92dc5.css">
<title>Manage Guestperts</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="guestperts u-mar-t-3 u-absCenter">

        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id="search-input" type="text"
                placeholder="Search Guestperts" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="guestperts__show-btns row">
            <button class="button__primary btn-createNew" id="create-btn">create new</button>
        </div>

        <div class="row__grid-flexible" id="guestperts-box"></div>


    </section>

    <section class="animation" id="animation"></section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <section class="edit edit__none" id="create-section">

        <div class="row u-mar-b-4 u-mar-t-1">
            <button class="button__primary btn__show-cards">Show Guestperts</button>
        </div>

        <h2 class="heading-primary u-center-text edit__form-heading u-mar-b-2">Create New Guestpert</h2>

        <form action="/admin/createGuestpert?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container" enctype="multipart/form-data">

            <!-- Profile picture -->
            
            <span class="form__label--details u-center-text u-mar-t-5 u-mar-b-2">Please make sure that the image is of
                ratio
                1:1 and size is of max
                500KB</span>
            <div class="edit__heading changeDP u-mar-b-4">
                <label for="img-input" class="edit__image-container">

                    <img src="../../images/user.png" alt="guestpert image" class="fluid-img" id="preview-img">
                    <span class="span span--in">Change profile picture</span>
                    <span class="span span--out">Click here to change</span>

                </label>
                <input type="file" name="image" class="popup__input-img" id="img-input">
            </div>


            <div class="form__group--settings">
                <label for="create_firstname" class="form__label">
                    <span class="form__label--caps">first name*</span>
                    <span class="form__label--details">Avoid white spaces and special characters</span>
                </label>
                <input type="text" maxlength="30" name="firstName" class="form__control" id="create_firstname" required>
            </div>

            <div class="form__group--settings">
                <label for="create_lastname" class="form__label">
                    <span class="form__label--caps">last name*</span>
                    <span class="form__label--details">Avoid white spaces and special characters</span>
                </label>
                <input type="text" name="lastName" maxlength="30" class="form__control" id="create_lastname" required>
            </div>

            <div class="form__group--settings">
                <label for="create_prefix" class="form__label">
                    <span class="form__label--caps">prefix</span>
                </label>
                <input type="text" name="prefix" class="form__control" id="create_prefix">
            </div>

            <div class="form__group--settings">
                <label for="create_suffix" class="form__label">
                    <span class="form__label--caps">suffix</span>
                </label>
                <input type="text" name="suffix" class="form__control" id="create_suffix">
            </div>

            <div class="form__group--settings">
                <label for="create_title" class="form__label">
                    <span class="form__label--caps">title*</span>
                    <span class="form__label--details">Maximum of 150 characters are allowed</span>
                    <span class="form__label--details">Example: Scientist, Founder of ACME Center, Author of Guide
                        to the NorthPole and Beyond </span>
                </label>
                <input type="text" name="title" class="form__control" id="create_title" required>
            </div>

            <div class="form__group--settings">
                <label for="create_tagline" class="form__label">
                    <span class="form__label--caps">Tag line*</span>
                    <span class="form__label--details">4-5 sentences or Max- 650 characters. This is your chance to
                        quickly grab the attention of a producer. This is found in the Browse Guestperts Directory
                        for Producers. What makes you so interesting?</span>
                </label>
                <textarea type="text" name="tagLine" spellcheck="false" maxlength="650" class="form__control"
                    id="create_tagline" required></textarea>
            </div>

            <div class="form__group--settings">
                <label for="create_primaryexpertise" class="form__label">
                    <span class="form__label--caps">primary expertise*</span>
                    <span class="form__label--details">Example- Health and Fitness</span>
                </label>
                <input type="text" name="primaryExpertise" class="form__control" id="create_primaryexpertise" required>
            </div>

            <div class="form__group--settings">
                <label for="create_expertise" class="form__label">
                    <span class="form__label--caps">expanded expertise keywords</span>
                    <span class="form__label--details">Use 1-8 distinct words or very short phrases. Separate each
                        word or phrase with a comma. Example : DO: Areas of Expertise: Science, snow, global
                        warming, travel, weather, Doppler radar.</span>
                </label>
                <input type="text" name="expandedExpertise" class="form__control" id="create_expertise">
            </div>



            <h2 class="heading-tertiary u-mar-t-8 u-center-text edit__form-heading">contact information</h2>

            <div class="form__group--settings">
                <label for="create_address" class="form__label">
                    <span class="form__label--caps">Address*</span>
                </label>
                <textarea type="text" name="address" class="form__control" id="create_address" required></textarea>
            </div>

            <div class="form__group--settings">
                <label for="create_country" class="form__label">
                    <span class="form__label--caps">country*</span>
                </label>
                <input type="text" name="country" maxlength="56" class="form__control" id="create_country" required>
            </div>

            
            <div class="form__group--settings">
                <label for="create_city" class="form__label">
                    <span class="form__label--caps">City*</span>
                </label>
                <input type="text" name="city" class="form__control" id="create_city" required>
            </div>
            
            <div class="form__group--settings">
                <label for="create_state" class="form__label">
                    <span class="form__label--caps">state*</span>
                </label>
                <input type="text" name="state" class="form__control" id="create_state" required>
            </div>
            
            <div class="form__group--settings">
                <label for="create_zipCode" class="form__label">
                    <span class="form__label--caps">zip code*</span>
                </label>
                <input type="number" minlength="6" name="zipCode" class="form__control" id="create_zipCode" required>
            </div>

            <div class="form__group--settings">
                <label for="create_phone" class="form__label">
                    <span class="form__label--caps">phone</span>
                </label>
                <input type="number" name="phone" class="form__control" id="create_phone" required>
            </div>

            <div class="form__group--settings">
                <label for="create_website" class="form__label">
                    <span class="form__label--caps">website</span>
                    <span class="form__label--details">
                        Example: https://www.tvguestpert.com/
                    </span>
                </label>
                <input type="url" name="website" class="form__control" id="create_website">
            </div>

            <div class="form__group--settings">
                <label for="create_fax" class="form__label">
                    <span class="form__label--caps">fax</span>
                </label>
                <input type="number" name="fax" class="form__control" id="create_fax">
            </div>

            <div class="form__group--settings">
                <label for="create_rssfeed" class="form__label">
                    <span class="form__label--caps">rss feed link</span>
                    <span class="form__label--details">
                        It should begin with https://
                    </span>
                </label>
                <input type="url" name="rssfeed" class="form__control" id="create_rssfeed">
            </div>



            <h2 class="heading-tertiary u-mar-t-8 u-center-text edit__form-heading">membership settings</h2>

            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Select Membership</span>
                </label>
                <div class="custom-select-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select One</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-key="standard">standard</span>
                            <span class="custom-option" data-key="elite">elite</span>
                            <span class="custom-option" data-key="platinum">platinum</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="membership" class="inp-category">
            </div>

            <div class="form__group--settings">
                <label for="create_rssfeed" class="form__label">
                    <span class="form__label--caps">expiry date</span>
                </label>
                <input type="date" name="membershipExpiryDate" class="form__control" id="create_expiryDate">
            </div>




            <h2 class="heading-tertiary u-mar-t-8 u-center-text edit__form-heading">credential settings</h2>

            <div class="form__group--settings">
                <label for="create_email" class="form__label">
                    <span class="form__label--caps">email*</span>
                    <span class="form__label--details">
                        Should be an unique one
                    </span>
                </label>
                <input type="email" name="email" class="form__control" id="create_email" required>
            </div>

            <div class="form__group--settings">
                <label for="create_username" class="form__label">
                    <span class="form__label--caps">user name</span>
                    <span class="form__label--details">
                        Should not contain whiteSpaces, only alphabets and numbers are allowed and it should be an unique one 
                    </span>
                </label>
                <input type="text" autocomplete="false" name="username" class="form__control" id="create_username"
                    required>
            </div>

            <div class="form__group--settings">
                <label for="create_newpassword" class="form__label">
                    <span class="form__label--caps">password</span>
                </label>
                <span class="form__label--details">
                    Minimum 6 characters
                </span>
                <input minlength="6" type="password" name="password" class="form__control" id="create_newpassword" required>
            </div>

            <div class="form__group--settings">
                <label for="create_cnfrmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="text" minlength="6" spellcheck="false" autocomplete="off" name="confirmPassword" class="form__control" id="create_cnfrmpassword" required>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">submit</button>
            </div>
        </form>
    </section>



    <section class="edit edit__none" id="editSection">
        <div class="guestperts__show-btns row">
            <button class="button__primary btn__show-cards">show Guestperts</button>
        </div>
        

        <div class="edit__heading">
            <<div class="edit__image-container">
                <img src="../../images/user.png" alt="guestpert image" class="fluid-img" id="edit_guestpert-img">
                <span class="span span--in">Change profile picture</span>
                <span class="span span--out">Click here to change</span>
        </div>
        </div>

        <form action="#" method="POST" class="edit__form-container edit__form-container--personal">

            <h2 class="heading-tertiary u-center-text edit__form-heading">personal Information</h2>

       

            <div class="form__group--settings">
                <label for="edit_firstname" class="form__label">
                    <span class="form__label--caps">first name*</span>
                    <span class="form__label--details">Avoid white spaces and special characters</span>
                </label>
                <input type="text" name="firstName" class="form__control" id="edit_firstname" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_lastName" class="form__label">
                    <span class="form__label--caps">last name*</span>
                    <span class="form__label--details">Avoid white spaces and special characters</span>
                </label>
                <input type="text" name="lastName" class="form__control" id="edit_lastName" required>
            </div>


            <div class="form__group--settings">
                <label for="edit_prefix" class="form__label">
                    <span class="form__label--caps">prefix</span>
                </label>
                <input type="text" name="prefix" class="form__control" id="edit_prefix">
            </div>

            <div class="form__group--settings">
                <label for="edit_sufix" class="form__label">
                    <span class="form__label--caps">suffix</span>
                </label>
                <input type="text" name="suffix" class="form__control" id="edit_sufix">
            </div>

            <div class="form__group--settings">
                <label for="edit_title" class="form__label">
                    <span class="form__label--caps">title*</span>
                    <span class="form__label--details">Maximum of 150 characters are allowed</span>
                    <span class="form__label--details">Example: Scientist, Founder of ACME Center, Author of Guide
                        to the NorthPole and Beyond </span>
                </label>
                <input type="text" name="title" class="form__control" id="edit_title" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_tagline" class="form__label">
                    <span class="form__label--caps">Tag line</span>
                    <span class="form__label--details">4-5 sentences or Max- 650 characters. This is your chance to
                        quickly grab the attention of a producer. This is found in the Browse Guestperts Directory
                        for Producers. What makes you so interesting?</span>
                </label>
                <textarea type="text" name="tagLine" class="form__control" id="edit_tagline"></textarea>
            </div>

            <div class="form__group--settings">
                <label for="edit_primaryexpertise" class="form__label">
                    <span class="form__label--caps">primary expertise*</span>
                    <span class="form__label--details">Example- Health and Fitness</span>
                </label>
                <input type="text" name="primaryExpertise" class="form__control" id="edit_primaryexpertise" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_expertise" class="form__label">
                    <span class="form__label--caps">expanded expertise keywords</span>
                    <span class="form__label--details">Use 1-8 distinct words or very short phrases. Separate each
                        word or phrase with a comma. Example : DO: Areas of Expertise: Science, snow, global
                        warming, travel, weather, Doppler radar.</span>
                </label>
                <input type="text" name="expandedExpertise" class="form__control" id="edit_expertise">
            </div>

            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Premium*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="premium" name="premium"/>
                    <label for="premium"></label>
                </div>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>

        </form>


        <form class="edit__form-container edit__form-container--contact u-mar-t-5" method="POST">

            <h2 class="heading-tertiary u-center-text edit__form-heading">contact information</h2>

            <!-- ------Inputs and Lebels------ -->
            <div class="form__group--settings">
                <label for="edit_address" class="form__label">
                    <span class="form__label--caps">Adress</span>
                </label>
                <textarea type="text" name="address" class="form__control" id="edit_address" required></textarea>
            </div>

            <div class="form__group--settings">
                <label for="edit_city" class="form__label">
                    <span class="form__label--caps">City</span>
                </label>
                <input type="text" name="city" class="form__control" id="edit_city" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_state" class="form__label">
                    <span class="form__label--caps">state</span>
                </label>
                <input type="text" name="state" class="form__control" id="edit_state" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_zipCode" class="form__label">
                    <span class="form__label--caps">zip code*</span>
                </label>
                <input type="text" maxlength="56" name="zipCode" class="form__control" id="edit_zipCode" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_country" class="form__label">
                    <span class="form__label--caps">country*</span>
                </label>
                <input type="text" maxlength="56" name="country" class="form__control" id="edit_country" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_phone" class="form__label">
                    <span class="form__label--caps">phone*</span>
                </label>
                <input type="number" name="phone" class="form__control edit__change-inputs" value="" id="edit_phone" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_website" class="form__label">
                    <span class="form__label--caps">website</span>
                    <span class="form__label--details">
                        Example: https://www.tvguestpert.com/
                    </span>
                </label>
                <input type="text" name="website" class="form__control" id="edit_website">
            </div>

            <div class="form__group--settings">
                <label for="edit_fax" class="form__label">
                    <span class="form__label--caps">fax</span>
                </label>
                <input type="text" name="fax" class="form__control" id="edit_fax">
            </div>

            <div class="form__group--settings">
                <label for="edit_rssfeed" class="form__label">
                    <span class="form__label--caps">rss feed link</span>
                    <span class="form__label--details">
                        It should begin with https://
                    </span>
                </label>
                <input type="text" name="rssfeed" class="form__control" id="edit_rssfeed">
            </div>


            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>


        <form class="edit__form-container edit__form-container--memberships u-mar-t-5" method="POST">

            <h2 class="heading-tertiary u-center-text edit__form-heading">edit membership settings</h2>

            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Select Membership</span>
                </label>
                <div class="custom-select-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select One</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-key="standard">standard</span>
                            <span class="custom-option" data-key="elite">elite</span>
                            <span class="custom-option" data-key="platinum">platinum</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="membership" class="inp-category">
            </div>

            <div class="form__group--settings">
                <label for="create_rssfeed" class="form__label">
                    <span class="form__label--caps">expiry date</span>
                </label>
                <input type="date" name="membershipExpiryDate" class="form__control" id="edit_expiryDate">
            </div>

            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active"/>
                    <label for="active"></label>
                </div>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>


        <form class="edit__form-container edit__form-container--credentials u-mar-t-5" method="POST">

            <h2 class="heading-tertiary u-center-text edit__form-heading">Credentials</h2>


            <div class="form__group--settings">
                <label for="edit_email" class="form__label">
                    <span class="form__label--caps">email*</span>
                </label>
                <input type="email" name="email" class="form__control edit__change-inputs"" id="edit_email"
                    required>
            </div>

            <div class="form__group--settings">
                <label for="edit_username" class="form__label">
                    <span class="form__label--caps">user name</span>
                    <span class="form__label--details">
                        Should not contain any whiteSpaces, only alphabets or numbers are allowed and it should be an unique one
                    </span>
                </label>
                <input type="text" class="form__control" disabled id="edit_username" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_newpassword" class="form__label">
                    <span class="form__label--caps">new password</span>
                </label>
                <input type="password" name="password" minlength="6" class="form__control" id="edit_newpassword" required>
            </div>

            <div class="form__group--settings">
                <label for="edit_cnfrmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="password" name="confirmPassword" minlength="6" class="form__control" id="edit_cnfrmpassword" required>
            </div>


            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>
        </form>


        <form action="#" method="POST" class=" u-mar-t-5 edit__form-container edit__form-container--biography">
            <h2 class="heading-tertiary u-center-text edit__form-heading">Edit biography</h2>

            <div class="form__group--settings">
                <label for="biography" class="form__label">
                    <span class="form__label--caps">Biography</span>
                </label>
                <textarea type="text" name="biography" class="form__control" id="biography"></textarea>
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">submit</button>
            </div>

            <h2 class="heading-tertiary u-mar-t-5 u-center-text edit__form-heading">Edit Other Fields</h2>
            <div class="edit__field-container u-mar-t-2" id="edit__otherFields">
                <a href="#" id="hot-topics" class="button__primary u-mar-r-1 u-mar-t-1">Hot Topics</a>
                <a href="#" id="media" class="button__primary u-mar-r-1 u-mar-t-1">Media</a>
                <a href="#" id="demo-reel" class="button__primary u-mar-r-1 u-mar-t-1">Demo Reel</a>
                <a href="#" id="blogs" class="button__primary u-mar-r-1 u-mar-t-1">Blogs</a>
                <a href="#" id="books" class="button__primary u-mar-r-1 u-mar-t-1">Book Cover</a>
            </div>
        </form>



        <div class="edit__form-container u-mar-t-3">
            <div>
                <p class="paragraph-secondary">Do you want to delete this Guestpert? Please remember that you will not
                    be
                    able to retrive this guestpert once you delete it.</p>
                <button id="delete-guestpert-btn" data-id=""
                    class="form__submit-btn--pink form__submit-btn u-mar-t-2">Delete</button>
            </div>
        </div>

    </section>




    <div class="popup">

        <div class="popup__users-info">
            <div class="popup__users-img">
                <img src="../../images/guestperts/1576546502-Simpson_Portraits_Joanna_Massey_7630 (2)..jpg"
                    alt="Guestpert image" class="fluid-img">
            </div>

            <ul class="popup__all-details u-mar-t-2">
                <li id="popup__guestpert-id">
                    <p class="all-details__key">Id</p>
                    <p class="all-details__value">ObjectId("507f1f77bcf86cd799439011")</p>
                </li>
                <li id="popup__guestpert-name">
                    <p class="all-details__key">name</p>
                    <p class="all-details__value">Maura Sandford</p>
                </li>
                <li id="popup__guestpert-username">
                    <p class="all-details__key">User name</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-title">
                    <p class="all-details__key">title</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-expertise">
                    <p class="all-details__key">expertise</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-address">
                    <p class="all-details__key">Address</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-city">
                    <p class="all-details__key">city</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-state">
                    <p class="all-details__key">state</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-email">
                    <p class="all-details__key">Email</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-phone">
                    <p class="all-details__key">Phone</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-website">
                    <p class="all-details__key">website</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-fax">
                    <p class="all-details__key">fax</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-role">
                    <p class="all-details__key">role</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-membership">
                    <p class="all-details__key">membership</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-joined">
                    <p class="all-details__key">Joined</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-expiry">
                    <p class="all-details__key">expiry date</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-expiryStatus">
                    <p class="all-details__key">expiry status</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-active">
                    <p class="all-details__key">Active</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__guestpert-premium">
                    <p class="all-details__key">Premium</p>
                    <p class="all-details__value"></p>
                </li>
            </ul>
        </div>



        <div class="popup__del-box">
            <form action="#">
                <input type="hidden" value="234234234234234" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to remove this Guestpert?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <a class="button__primary btn__cancel">Cancel</a>
                </div>
            </form>
        </div>



        <div class="popup__change-profile-picture">
            <form action="#" method="POST" enctype="multipart/form-data">
                <div class="popup__change-image-container">
                    <div class="popup__change-img">
                        <img src="../../images/guestperts/Ivy headshot.jpg" alt="team member image" class="fluid-img"
                            id="imagePreview">
                    </div>
                    <div>
                      <input type="file" name="image" class="popup__input-img" id="image-input">
                      <label type="file" class="popup__input-lebel" for="image-input">Choose new image</label>
                      <span class="form__label--details u-mar-t-1" style="text-align: right;">Image should be of 1:1 aspect ratio</span>
                    </div>
                </div>

                <div class="popup__change-btns-container">
                    <button class="button__primary">Keep changes</button>
                    <div class="button__ghost button__ghost--sm btn_cancel">cancel</div>
                </div>
            </form>
        </div>
    </div>

    <div class="current-page" data-curPage="1"></div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageGuestperts.2b7463f87555e16288ba.bundle.js"></script>

</body>

</html>