<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ad_manageTestimonials.c1dfe540fef9dc4e8bbf.css">
<title>Manage Testimonial</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="testimonial u-absCenter u-mar-t-5 u-mar-b-6">

        <h2 class="heading-secondary u-mar-t-3">All testimonials</h2>

        <div class="email-template__show-btns row">
            <button class="button__primary btn-createNew">create new</button>
        </div>

        <div class="testimonial__card-box"></div>

    </section>


    <div class="page">
        <ul class="page__list" id="page__list"></ul>
    </div>



    <section class="edit edit__none" id="editTestimonial">

        <div class="testimonial__show-btns row">
            <button class="button__primary edit__show-cards">Show all Testimonials</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create & Edit Testimonial</h2>

        <form action="#" method="POST" class="edit__form-container u-mar-t-3" enctype="multipart/form-data">

            <span class="form__label--details u-mar-t-5 u-mar-b-2">Please make sure that the image is of
                ratio 1:1 and size is of max
                500KB</span>
            <div class="edit__heading changeDP u-mar-b-4">
                <label for="img-input" class="edit__image-container">
                    <img src="/images/user.png" alt="guestpert image" class="fluid-img" id="preview-img">
                    <span class="span span--in">Change profile picture</span>
                    <span class="span span--out">Click here to change</span>
                </label>
                <input type="file" name="image" class="popup__input-img" id="img-input">
            </div>


            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Select Role</span>
                </label>
                <div class="custom-select-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select a Category</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-key="guestpert">Guestpert</span>
                            <span class="custom-option" data-key="producer">Producer</span>
                            <span class="custom-option" data-key="other">Other</span>
                        </div>
                    </div>
                </div>
                <input type="text" name="role" id="inp-category" required>
            </div>


            <div class="form__group--settings">
                <label for="name" class="form__label">
                    <span class="form__label--caps">name*</span>
                </label>
                <span class="form__label--details">Maximum 100 characters are allowed</span>
                <input type="text" name="name" maxlength="100" class="form__control" id="name" required>
            </div>
            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">title*</span>
                </label>
                <span class="form__label--details">Maximum 150 characters are allowed</span>
                <span class="form__label--details">Example: Scientist, Founder of ACME Center, and Author of Guide to the North Pole and Beyond.</span>
                <input type="text" maxlength="150" name="title" class="form__control" id="title" required>
            </div>
            <div class="form__group--settings">
                <label for="content" class="form__label">
                    <span class="form__label--caps">content*</span>
                </label>
                <span class="form__label--details">Upload images of maximum size 500KB</span>
                <textarea type="text" name="content" class="form__control" id="content"></textarea>
            </div>

            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="create_active" name="active" checked />
                    <label for="create_active"></label>
                </div>
            </div>

            <div class="form__group--settings testimonial-video">

                <div class="testimonial-video__link-container">
                    <div class="u-mar-t-1">
                        <label for="kal65xc4" class="form__label">
                            <span class="form__label--caps">Video Link</span>
                        </label>
                        <div>
                            <span class="form__label--details">Put only embed code with &lt;iframe&gt; tag for vimeo and
                                youtube</span>
                        </div>
                        <div>
                            <span class="span form__label--details"> eg. &lt;iframe width=&quot;560&quot;
                                height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/aJDqelOW6ho&quot;
                                frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</span>
                        </div>
                        <div class="edit__input-plus-btn">
                            <input type="text" name="videoLink" class="form__control edit__change-inputs" id="kal65xc4">
                            <div class="edit__btn-change btn_remove">Remove</div>
                        </div>
                    </div>
                </div>

                <div class="button__primary u-mar-t-2 u-high-order" id="settings__btn-link">Add new link</div>
            </div>

            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>

    </section>


    <section class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this testimonial?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>
        </div>
    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>


    <div class="animation" id="animation"></div>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageTestimonials.720bcbaa1908503e4bef.bundle.js"></script>

</body>

</html>