<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ad_manageMembership.3d49eb816554e037521a.css">
<title>Manage Membership</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="membership u-absCenter u-mar-t-5">

        <h2 class="heading-secondary u-center-text">Membership</h2>

        <div class="about__show-btns row">
            <button class="button__primary btn-createNew">Create feature</button>
            <button class="button__primary btn-editFeature">edit feature</button>
        </div>

        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">

            <%for(const membership of memberships){%>
                <div class="membership__card-wrapper">
                    <div class="membership__card membership__card--style-admin">
                        <div class="membership__price" data-price="<%=membership.price%>$"></div>
                        <div class="membership__title membership__title--style-admin"><%=membership.membershipTitle%></div>

                        <ul class="membership__features-box membership__features-box--style-admin">
                            <% for(const feature of features){%>
                                <li>
                                    <svg class="membership__icon membership__icon--style-admin">
                                        <use xlink:href="/images/sprite.svg#<%- feature[membership.membershipTitle]?'checkmark':'close' %>"></use>
                                    </svg>
                                    <%=feature.featureTitle%>
                                </li>
                            <%}%>
                        </ul>

                        <button data-id="<%=membership._id%>" class="button__ghost button__ghost--sm btn-editMembership">Edit</button>
                    </div>
                </div>
            <%}%>

        </div>
        </div>
    </section>

    <section class="edit edit__none" id="editMembership">

        <div class="about__show-btns row">
            <button class="button__primary edit__show-cards">Show Memberships</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Membership</h2>

        <form action="" method="POST" class="edit__form-container u-mar-t-3">

            <div class="form__group--settings">
                <label for="membershiptitle" class="form__label">
                    <span class="form__label--caps">membership Title</span>
                    <span class="form__label--details">Maximum 70 characters allowed. Avoid white spaces </span>
                </label>
                <input type="text" name="membershipTitle" class="form__control" id="membershiptitle" required>
            </div>
            <div class="form__group--settings">
                <label for="membershipprice" class="form__label">
                    <span class="form__label--caps">price</span>
                    <span class="form__label--details">Price should be a number. Default currency is USD</span>
                </label>
                <input type="number" class="form__control" name="price" id="membershipprice" required>
            </div>

            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>

    </section>


    <section class="edit edit__none" id="createFeature">

        <div class="about__show-btns row">
            <button class="button__primary edit__show-cards">Show Memberships</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create Feature</h2>

        <form action="/admin/createMembershipFeature?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-3">

            <div class="form__group--settings">
                <label for="feature-name" class="form__label">
                    <span class="form__label--caps">Feature Name*</span>
                    <span class="form__label--details">Maximum 70 characters allowed</span>
                </label>
                <input type="text" name="featureTitle" class="form__control" id="feature-name" required>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Standard</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" name="stdActive" id="std-available" name="std-available"
                        checked />
                    <label for="std-available"></label>
                </div>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Elite</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" name="eliteActive" id="std-elite" name="std-elite" checked />
                    <label for="std-elite"></label>
                </div>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Platinum</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" name="platinumActive" id="std-platinum" name="std-platinum"
                        checked />
                    <label for="std-platinum"></label>
                </div>
            </div>

            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>


    <section class="edit edit__none" id="editFeature">

        <div class="about__show-btns row">
            <button class="button__primary edit__show-cards">Show Memberships</button>
        </div>

        
        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">edit Feature</h2>

        <form action="/admin/editMembershipFeature?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-3">

            <div class="form__group--settings">
                <label for="inp-category" class="form__label">
                    <span class="form__label--caps">Select a Feature</span>
                </label>
                <div class="custom-select-wrapper">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Select a Feature</span>
                            <div class="arrow"></div>
                        </div>
                        <div class="custom-options">
                            <% for (const feature of features){%>
                            <span class="custom-option"
                                data-value="<%= feature._id %>"><%= feature.featureTitle%></span>
                            <%}%>
                        </div>
                    </div>
                </div>
                <input type="text" name="featureId" id="inp-category">
            </div>
            <div class="form__group--settings">
                <label for="feature-rename" class="form__label">
                    <span class="form__label--caps">Rename Title</span>
                    <span class="form__label--details">Maximum 70 characters allowed</span>
                </label>
                <input type="text" maxlength="20" class="form__control" name="featureTitle" id="feature-rename">
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Standard</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="edit-std-available" name="stdActive" checked/>
                    <label for="edit-std-available"></label>
                </div>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Elite</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="edit-std-elite" name="eliteActive" checked/>
                    <label for="edit-std-elite"></label>
                </div>
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">available on Platinum</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="edit-std-platinum" name="platinumActive" checked/>
                    <label for="edit-std-platinum"></label>
                </div>
            </div>

            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>
    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/js/ad_manageMembership.ca2d66b4286017d72522.bundle.js"></script>
</body>
</html>