<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_manageFaqPage.409c1d0123c0c156a02f.css">
    <title>Manage Faq page</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="faq u-mar-t-5 u-absCenter">

        <h2 class="heading-secondary u-mar-b-3">Manage FAQ</h2>

        <div class="faq__show-btns">
            <button class="button__primary btn-createNew u-mar-t-1 u-mar-r-1">create new</button>
        </div>

        <div class="row__grid-4">

            <% for(const faq of data) {%>
                <div class="card-4 faty__card">
                    <div class="faty__head">
                        <p class="paragraph-tertiary color-txt-dark u-center-text"><%- faq.question %></p>
                    </div>

                    <div class="faty__card-btns">
                        <button data-id="<%= faq._id%>" class="faty__card-btn-edit button__primary">Edit</button>
                        <button data-id="<%= faq._id%>" class="faty__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
                </div>
            <%}%>
        </div>
    </section>


    <section class="edit edit__none" id="edit-section">

        <div class="faq_show-btns u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards u-mar-t-1 u-mar-r-1">show all FAQ</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create & Edit FAQ</h2>

        <form action="#" method="POST" class="edit__form-container">

            <div class="form__group--settings">
                <label for="question" class="form__label">
                    <span class="form__label--caps">Question</span>
                    <span class="form__label--details">Maximum 150 characters allowed</span>
                </label>
                <input type="text" class="form__control" name="question" id="question" required>
            </div>
            <div class="form__group--settings">
                <label for="answerTitle" class="form__label">
                    <span class="form__label--caps">answer Title</span>
                    <span class="form__label--details">Maximum 150 characters allowed</span>
                </label>
                <input type="text" class="form__control" name="answerTitle" id="answerTitle">
            </div>
            <div class="form__group--settings">
                <label for="answerTitle" class="form__label">
                    <span class="form__label--caps">video link</span>
                    <span class="form__label--details">Put only embed code with &#x3C;iframe&#x3E; tag for vimeo and youtube</span>
                    <span class="form__label--details">eg. &#x3C;iframe width=&#x22;560&#x22; height=&#x22;315&#x22; src=&#x22;https://www.youtube.com/embed/aJDqelOW6ho&#x22; frameborder=&#x22;0&#x22; allowfullscreen&#x3E;&#x3C;/iframe&#x3E;</span>
                </label>
                <input type="text" class="form__control" name="videoLink" id="videoLink">
            </div>

            <div class="form__group--settings">
                <label for="answer" class="form__label">
                    <span class="form__label--caps">answer</span>
                    <span class="form__label--details">Maximum 500 KB image allowed to upload</span>
                </label>
                <textarea type="text" class="form__control" name="answer" id="answer"></textarea>
            </div>

            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>
          
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-tertiary color-txt-dark u-mar-b-2">Are you sure to delete this FAQ ?</p>
                <div class="popup__del-btns">
                    <button data-id="" class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <section id="animations"></section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>
    
    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageFaqPage.cde15cbd07924fcbbe7f.bundle.js"></script>
</body>

</html>