<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_manageContactPage.4f5934c16f5081eeb4f1.css">
    <title>Manage Contact Page</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="edit">

        <form action="/admin/editContactText?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-3" enctype="multipart/form-data">

            <h2 class="heading-secondary u-center-text edit__form-heading u-mar-t-2 u-mar-b-3">Contact Page</h2>

            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss "></span>
                </label>
                <span class="form__label--details u-mar-t-1">Image should be of max 200 KB and size should be of aspect ratio 13:4</span>
                <input type="file" name="image" id="choose-img-file">
            </div>
            <div class="form__group--settings">
                <label for="pageText" class="form__label">
                    <span class="form__label--caps">contact page text</span>
                </label>
                <textarea class="form__control" name="content" id="pageText"><%=content%></textarea>
            </div>
            
            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>
    </section>



    <section class="contactPage u-absCenter u-mar-b-7">
        <h1 class="heading-secondary u-center-text">Testimonials on Contact page</h1>
        <p class="caption-text-bg u-center-text color-txt-dark u-mar-t-1">Maximum 3 testimonials are allowed to be in Contact Page And testimonial with images and videos are not allowed in Contact page</p>

        <div class="row__grid-3-fx u-mar-t-4" id="contactPage-testimonial-box">
            <% for (const testimonial of testimonials) {%>
            <div class="card-3 testimonial__card" >
                
                <div class="testimonial__card-img">
                    <img src="<%=testimonial.imgSrc%>" class="fluid-img">
                </div>

                <p class="paragraph-primary txt-capitalize u-center-text testimonial__guestpert"><%=testimonial.fullName%></p>
                <div class="testimonial__info u-mar-t-2 ">
                    <%-testimonial.content%>
                </div>
                
                <div class="testimonial__card-btns">
                    <button data-id="<%=testimonial.id%>" class="remove-from-home button__primary">Remove</button>
                </div>
            </div>
            <%}%>
        </div>
    </section>

    <section class="addnew u-absCenter u-mar-t-5">
        <h2 class="heading-secondary u-center-text u-mar-t-3">Add new to contact page</h2>

        <div class="form__search u-mar-b-3 u-mar-t-6">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Hot Topics" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-3-fx u-mar-t-4 u-mar-b-7" id="add-new-box"></div>

    </section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <section class="animation" id="animation"></section>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageContactPage.98a854b84b684f636001.bundle.js"></script>
</body>
</html>