<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_manageServicePage.570021c170fce0e16717.css">
    <title>Manage Service Page</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="u-mar-t-5 u-absCenter services">

        <h2 class="heading-secondary u-mar-b-3">Service List</h2>

        <div class="services__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>


        <div class="row__grid-4 u-mar-b-5 u-mar-t-5">

            <% for( const service of data){%>
                <div class="card-4 services__cards">
                    <h3 class="paragraph-primary"><%= service.title %></h3>
                    <p class="services__para u-mar-b-2 u-mar-t-2"><%= service.shortDescription%></p>
                    <div class="services__card-btns">
                        <button data-id="<%= service._id%>" class="services__card-btn-edit button__primary">Edit</button>
                        <button data-id="<%= service._id%>"
                            class="services__card-btn-remove button__ghost button__ghost--sm">Remove</button>
                    </div>
                </div>
            <%}%>

        </div>
    </section>


    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <section class="edit edit__none">

        <div class="services__show-btns u-mar-b-4 u-mar-t-1">
            <button class="button__primary edit__show-cards">Show Services</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create & Edit service</h2>


        
        <form action="#" method="POST" class="edit__form-container">


            <div class="form__group--settings">
                <label for="serviceTitle" class="form__label">
                    <span class="form__label--caps">service Title</span>
                    <span class="form__label--details">It should be max 40 characters</span>
                </label>
                <input type="text" name="title" maxlength="40" class="form__control" id="serviceTitle" required>
            </div>

            <div class="form__group--settings">
                <label for="shortDescription" class="form__label">
                    <span class="form__label--caps">short description</span>
                    <span class="form__label--details">It should be max 200 characters</span>
                </label>
                <textarea type="text" name="short_description" maxlength="200" class="form__control" id="shortDescription"></textarea>
            </div>
            <div class="form__group--settings">
                <label for="description" class="form__label">
                    <span class="form__label--caps">description</span>
                </label>
                <textarea type="text" name="description" class="form__control" id="description"></textarea>
            </div>
            
            <div class="form__group--checkbox">
                <label for="active" class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active" name="active" checked />
                    <label for="active"></label>
                </div>
            </div>
            
            <div class="edit__form-button-container u-mar-t-2">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>
    </section>


    <div class="popup">
        <div class="popup__del-box">

            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this Service?</p>
                <div class="popup__del-btns">
                    <button data-id="" class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>
    <div class="animation" id="animation"></div>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageServicePage.0e26501faddf0b9df3ce.bundle.js"></script>
</body>

</html>