<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_manageJaquiesBlog.3ac3dcb1529f4c242059.css">
    <title>Manage Jacquie's Blog</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="blogs u-absCenter u-mar-b-5 u-mar-t-5">
        <h2 class="heading-secondary u-center-text">Jacquie's Blogs</h2>

        <div class="row">
            <button class="button__primary btn-createNew">create new</button>
        </div>


        <ul class="row__grid-4 u-mar-b-5 u-mar-t-5" id="all-blogs-box">
        </ul>
        
    </section>

    <section class="animations" id="animations"></section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>


    <section class="edit edit__none" id="editBlog">

        <div class="row">
            <button class="button__primary edit__show-cards">Blog Edit</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-b-2">Create & Edit Blog</h2>

  
        <form action="#" method="POST" class="edit__form-container edit__form-container--hotTopics" enctype="multipart/form-data">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Required Fields*</p>

            <div class="form__group--settings">
                <label for="title" class="form__label">
                    <span class="form__label--caps">Title*</span>
                </label>
                <input type="text" name="title" class="form__control" id="title" required>
            </div>
            <div class="form__group--settings" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">blog cover Image*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss"></span>
                </label>
                <span class="form__label--details u-mar-t-1">Image should be of max 500 KB and size should be of aspect ratio 16:9</span>
                <input type="file" name="imageFile" id="choose-img-file">
            </div>
            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="active-stats" name="active" checked />
                    <label for="active-stats"></label>
                </div>
            </div>
            <div class="form__group--settings">
                <label for="content" class="form__label">
                    <span class="form__label--caps">Content*</span>
                    <span class="form__label--details">Content should not be empty</span>
                </label>
                <textarea type="text" name="content" class="form__control" id="content"></textarea>
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn" id="loco">save</button>
            </div>
        </form>

    </section>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <div class="popup">
        <div class="popup__del-box">
            <form action="#">
                <input type="hidden" value="234234234234234" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this topic ?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_manageJaquiesBlog.03856d3295e5f1a6baa0.bundle.js"></script>
</body>
</html>