<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_newsletterHistory.bf16f4516d514a07e1ce.css">
    <title>Newsletter history</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="newsletter-history u-mar-t-5 u-mar-b-5">
        <h2 class="heading-secondary u-center-text">History</h2>

        <div class="newsletter-history__card-box u-absCenter" style="width: 100%;"></div>
        
    </section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    <script src="/js/ad_newsletterHistory.2f91504a860b461de927.bundle.js"></script>
</body>
</html>