<%- include('../../components/head.ejs')%>
<link rel="stylesheet" href="/css/ad_newsletterTemplate.1fd808ec10b3e9dd89f1.css">
<title>Newsletter</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="newsletter u-mar-t-5 u-absCenter">

        <h2 class="heading-secondary u-mar-b-3">Newsletter Templates</h2>

        <div class="newsletter__show-btns">
            <button class="button__primary btn-createNew u-mar-t-1 u-mar-r-1">create new</button>
        </div>

        <div class="row__grid-4" id="newsletter__cardBox"></div>

    </section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>



    <section class="edit edit__none" id="editSlides">

        <div class="newsletter__show-btns u-mar-b-5">
            <button class="button__primary u-mar-r-1 u-mar-t-1 edit__show-cards">Cancel and Go back</button>
        </div>

        <h2 class="heading-secondary u-absCenter u-center-text u-mar-b-2">Create newsletter template</h2>

        <form action="#" enctype="multipart/form-data" method="POST" class="edit__form-container u-mar-t-3">

            <!-- ------Inputs and Lebels------ -->

            <div class="form__group--settings">
                <label for="slideTitle" class="form__label">
                    <span class="form__label--caps">Title</span>
                    <span class="form__label--details">It should be of max 30 characters with spaces.</span>
                </label>
                <input class="form__control" maxlength="30" name="title" id="slideTitle" required>
            </div>

            <div class="form__group--settings u-mar-t-2" id="inpFile-box">
                <label for="choose-img-file" class="form__label">
                    <span class="form__label--caps">Newsletter*</span>
                    <span class="form__inp-img">Choose Newsletter</span>
                    <span class="form__inp-img--adrss "></span>
                    <span class="form__label--details u-mar-t-1">PDF size should not extend 5 MB</span>
                </label>
                <input type="file" name="newsletter" id="choose-img-file">
            </div>

            <div class="edit__form-button-container">
                <button type="submit" data-slide="" class="form__submit-btn--orange form__submit-btn"
                    id="edit__send-button">save</button>
            </div>
        </form>
    </section>



    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this media?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <button class="button__primary btn__cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <div class="animation" id="animation"></div>

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/ad_newsletterTemplate.eb5325cc757bb21d52a0.bundle.js"></script>
</body>

</html>