<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_newsletterSubscriber.69d333622bc180cac7da.css">
    <title>Newsletter Subscriber</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="newsletter-subscriber u-mar-t-5 u-mar-b-5">
        <h2 class="heading-secondary u-center-text">Subscriber list</h2>

        <div class="form__search u-mar-b-3 u-mar-t-3">
            <input class="form__control form__search-input" id="search-input" type="text" placeholder="Search Subscriber Email" required>
            <input type="hidden" value="" class="form__hidden-input" id="hidden-input">
            <button class="form__search-btn form__search-btn-sm" type="submit">
                <svg class="form__search-icon">
                    <use xlink:href="/images/sprite.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>

        <div class="row__grid-3-fx u-mar-t-4 u-mar-b-7" id="newsletter-subs__box"></div>
    </section>


    <div class="popup">
        <div class="popup__del-box">
            <div>
                <p class="paragraph-secondary u-mar-b-2">Are you sure to remove this Subscriber?</p>
                <div class="popup__del-btns">
                    <button data-id="" class="popup__del-btn button__primary">Delete</button>
                    <a class="button__primary btn__cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>


    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section class="message">
        <div class="message__txt message__txt--error"></div>
    </section>

    <div class="animation" id="animation"></div>

    <script src="/js/ad_newsletterSubscriber.21b2059e9a8dc496781e.bundle.js"></script>
</body>
</html>