<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_orders.2eb12258cc91caf3075b.css">
    <title>Admin Orders</title>
</head>
<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>

    <section class="orders u-absCenter u-mar-t-5 u-mar-b-5">
        <h1 class="heading-primary u-center-text u-mar-b-6">All Orders</h1>


        <%for (const order of allOrders){%>
        <div class="orders__card">
            <div class="orders__img-container">
                <div class="orders__img">
                    <img src="<%=order.imgSrc%>" alt="product image" class="fluid-img">
                </div>
            </div>
            <div class="orders__info-container">
                <h2 class="heading-secondary"><%=order.title%></h2>

                <ul class="info-list u-mar-t-2">
                    <li>
                        <p class="info-list__key">Order Id</p>
                        <p class="info-list__value"><%=order._id%></p>
                    </li>
                    <li>
                        <p class="info-list__key">Amount</p>
                        <p class="info-list__value">$<%=order.amount%></p>
                    </li>
                    <li>
                        <p class="info-list__key">payment Status</p>
                        <p class="info-list__value"><%=order.paymentStatus%></p>
                    </li>
                    <li>
                        <p class="info-list__key">purchased On</p>
                        <p class="info-list__value"><%=order.purchaseDate%></p>
                    </li>
                    <li>
                        <p class="info-list__key">Address</p>
                        <p class="info-list__value"><%=order.address%></p>
                    </li>
                </ul>
            </div>
        </div>
        <%}%>
    </section>

    <div class="page">
        <ul class="page__list" id="page__list">
        </ul>
    </div>

    <script src="/js/ad_orders.4fd1b0f58e55c86d7ef1.bundle.js"></script>
</body>
</html>