<%- include('../../components/head.ejs')%>
    <link rel="stylesheet" href="/css/ad_subAdmin.f1edeaf5f83bbcde202e.css">
    <title>Sub Admin Settings</title>
</head>

<body>
    <%- include('../../components/headerBars/adminHeaderBar')%>
    <%- include('../../components/adminAddressBar')%>
    <%- include('../../components/sideBar/adminSidebar')%>


    <section class="subAdmins">
        <div class="subAdmins__show-btns">
            <button class="button__primary btn-createNew">create new</button>
        </div>
        <div class="row__grid-3-fx">

            <%for (const admin of data){%>
                <div class="card-3 users__card ">
                    <div class="users__card-heading">
                        <div class="users__card-img users__card-img--position-center">
                            <img src="<%= admin.imageUrl%>" class="fluid-img">
                        </div>
                    </div>
                    <div class="users__info">
                        <ul class="info-list u-mar-t-2">
                            <li>
                                <p class="info-list__key">User name</p>
                                <p class="info-list__value"><%= admin.userName%></p>
                            </li>
                            <li>
                                <p class="info-list__key">Joined</p>
                                <p class="info-list__value"><%= admin.createdAt%></p>
                            </li>
                            <li>
                                <p class="info-list__key">Active</p>
                                <p class="info-list__value"><%- !admin.activeStats?'No':'Yes'%></p>
                            </li>
                        </ul>
                    </div>
                    <div class="users__hidden-info">
                        <img src="<%= admin.imageUrl%>" class="hide-img">
                        <div class="subAdmin__firstName" data-firstName="<%= admin.firstName%>"></div>
                        <div class="subAdmin__lastName" data-lastName="<%= admin.lastName%>"></div>
                        <div class="subAdmin__username" data-username="<%= admin.userName%>"></div>
                        <div class="subAdmin__email" data-email="<%= admin.email%>"></div>
                        <div class="subAdmin__phone" data-phone="<%= admin.phone%>"></div>
                        <div class="subAdmin__address" data-address="<%= admin.address%>"></div>
                        <div class="subAdmin__joined" data-joined="<%= admin.createdAt%>"></div>
                        <div class="subAdmin__active" data-active="<%- !admin.activeStats?'No':'Yes'%>"></div>
                    </div>
                    <div class="users__card-btns">
                        <button data-id="<%= admin._id%>" class="users__card-btn-edit button__primary">Edit</button>
                        <button data-id="<%= admin._id%>" class="users__card-btn-details button__ghost button__ghost--sm">More
                            Details</button>
                    </div>
                </div>
            <%}%>

        </div>
    </section>


    <section class="edit edit__none" id="createSubAdmin">
        <div class="subAdmins__show-btns u-mar-t-1 u-mar-b-4">
            <button class="button__primary edit__show-cards">Show SubAdmins</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Create New Admin</h2>

        <form action="/admin/createAdmin?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container u-mar-t-3" enctype="multipart/form-data">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Personal Details</p>

            <div class="form__group--settings">
                <label for="create_firstName" class="form__label">
                    <span class="form__label--caps">First Name*</span>
                    <span class="form__label--details">Avoid any special characters or white spaces</span>
                </label>
                <input type="text" class="form__control" name="firstName" id="create_firstName" required>
            </div>
            <div class="form__group--settings">
                <label for="create_lastName" class="form__label">
                    <span class="form__label--caps">Last Name*</span>
                    <span class="form__label--details">Avoid any special characters or white spaces</span>
                </label>
                <input type="text" class="form__control" name="lastName" id="create_lastName" required>
            </div>
            <div class="form__group--settings">
                <label for="create_address" class="form__label">
                    <span class="form__label--caps">address</span>
                </label>
                <textarea type="text" class="form__control" name="address" id="create_address"></textarea>
            </div>

            <div class="form__group--settings">
                <label for="create_lastName" class="form__label">
                    <span class="form__label--caps">Phone*</span>
                    <span class="form__label--details">Must be a 10 digit phone number</span>
                </label>
                <input type="number" pattern="\d*" name="phone" maxlength="10" class="form__control" id="create_phone" required>
            </div>

            <div class="form__group--settings" id="create_inpFile-box">
                <label for="create_choose-img-file" class="form__label">
                    <span class="form__label--caps">Admin Headshot*</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss "></span>
                    <span class="form__label--details u-mar-t-1">Image should be of max 1 MB and size should be of ratio
                        1:1</span>
                </label>
                <input type="file" name="image" id="create_choose-img-file">
            </div>

            <div class="form__group--checkbox">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="create_active" name="active" checked />
                    <label for="create_active"></label>
                </div>
            </div>

            <p class="paragraph-secondary u-center-text u-mar-t-5">Credentials Details</p>

            <div class="form__group--settings">
                <label for="create_email" class="form__label">
                    <span class="form__label--caps">Email*</span>
                </label>
                <input type="email" class="form__control" id="create_email" name="email" required>
            </div>
            <div class="form__group--settings">
                <label for="create_username" class="form__label">
                    <span class="form__label--caps">username*</span>
                    <span class="form__label--details">Enter an unique username</span>
                </label>
                <input type="text" spellcheck="false" autocomplete="off" class="form__control" id="create_username" name="userName" required>
            </div>
            <div class="form__group--settings">
                <label for="create_password" class="form__label">
                    <span class="form__label--caps">password</span>
                    <span class="form__label--details">Minimum 6 characters long</span>
                </label>
                <input type="password" autocomplete="off" class="form__control" name="password" id="create_password">
            </div>
            <div class="form__group--settings">
                <label for="create_confirmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="text" autocomplete="off" spellcheck="false" class="form__control" name="confirmPassword" id="create_confirmpassword">
            </div>

            <!-- ------Buttons------ -->
            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">Create</button>
            </div>
        </form>

    </section>


    <section class="edit edit__none" id="editSubAdmin">
        <div class="subAdmins__show-btns u-mar-t-1 u-mar-b-4">
            <button class="button__primary edit__show-cards">Show SubAdmins</button>
        </div>

        <h2 class="heading-tertiary u-center-text edit__form-heading u-mar-t-2">Edit this admin</h2>

        <form action="/admin/editAdminBasics?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container edit__form-basics u-mar-t-3" enctype="multipart/form-data">

            <p class="paragraph-secondary u-center-text u-mar-b-2">Personal Details</p>

            <div class="form__group--settings">
                <label for="edit_firstName" class="form__label">
                    <span class="form__label--caps">First Name*</span>
                    <span class="form__label--details">Avoid any special characters or white spaces</span>
                </label>
                <input type="text" class="form__control" name="firstName" id="edit_firstName" required>
            </div>
            <div class="form__group--settings">
                <label for="edit_lastName" class="form__label">
                    <span class="form__label--caps">Last Name*</span>
                    <span class="form__label--details">Avoid any special characters or white spaces</span>
                </label>
                <input type="text" class="form__control" name="lastName" id="edit_lastName" required>
            </div>
            <div class="form__group--settings">
                <label for="edit_address" class="form__label">
                    <span class="form__label--caps">address</span>
                </label>
                <textarea type="text" class="form__control" name="address" id="edit_address"></textarea>
            </div>
            <div class="form__group--settings">
                <label for="create_lastName" class="form__label">
                    <span class="form__label--caps">Phone*</span>
                    <span class="form__label--details">Must be a 10 digit phone number</span>
                </label>
                <input type="number" pattern="\d*"  name="phone" maxlength="10" class="form__control" id="edit_phone" required>
            </div>

            <div class="form__group--settings u-mar-t-2" id="edit_inpFile-box">
                <label for="edit_choose-img-file" class="form__label">
                    <span class="form__label--caps">Admin Headshot</span>
                    <span class="form__inp-img">Choose Image</span>
                    <span class="form__inp-img--adrss"></span>
                </label>
                <span class="form__label--details u-mar-t-1">Image should be of max 1 MB and size should be of ratio
                    1:1</span>
                <input type="file" name="image" id="edit_choose-img-file">
            </div>

            <div class="form__group--checkbox u-mar-t-2">
                <label class="form__label">
                    <span class="form__label--caps">Active*</span>
                </label>
                <div class="checkbox-container">
                    <input type="checkbox" value="active" id="edit_active" name="active">
                    <label for="edit_active"></label>
                </div>
            </div>

            <div class="edit__form-button-container u-mar-t-3">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>
        </form>

        <form action="/admin/editAdminCredentials?_csrf=<%=csrfToken%>" method="POST" class="edit__form-container edit__form-credentials u-mar-t-3">
            <p class="paragraph-secondary u-center-text u-mar-t-5">Credentials Details</p>

            <div class="form__group--settings">
                <label for="edit_email" class="form__label">
                    <span class="form__label--caps">Email*</span>
                </label>
                <input type="email" class="form__control" name="email" id="edit_email" required>
            </div>
            <div class="form__group--settings">
                <label for="edit_username" class="form__label">
                    <span class="form__label--caps">username*</span>
                    <span class="form__label--details">Enter an unique username</span>
                </label>
                <input type="text" class="form__control" name="userName" id="edit_username" required>
            </div>
            <div class="form__group--settings">
                <label for="edit_password" class="form__label">
                    <span class="form__label--caps">new password</span>
                    <span class="form__label--details">Minimum 6 characters long</span>
                </label>
                <input type="password" class="form__control" name="password" id="edit_password">
            </div>
            <div class="form__group--settings">
                <label for="edit_confirmpassword" class="form__label">
                    <span class="form__label--caps">confirm password</span>
                </label>
                <input type="text" spellcheck="false" autocomplete="off" class="form__control" name="confirmPassword" id="confirmpassword">
            </div>

            <div class="edit__form-button-container u-mar-t-5">
                <button type="submit" class="form__submit-btn--orange form__submit-btn">save</button>
            </div>

        </form>


        <div class="edit__form-container u-mar-t-3">

            <div>
                <p class="paragraph-secondary">Do you want to delete this Admin? Please remember that you will not be
                    able to retrive this admin once you delete it.</p>
                <button id="delete-subAdmin-btn" data-id=""
                    class="form__submit-btn--pink form__submit-btn u-mar-t-2">Delete</button>
            </div>
        </div>

    </section>




    <div class="popup">

        <div class="popup__users-info">
            <div class="popup__users-img">
                <img src=""
                    alt="subAdmin image" class="fluid-img">
            </div>

            <ul class="popup__all-details u-mar-t-2">
                <li id="popup__subAdmin-id">
                    <p class="all-details__key">Id</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__subAdmin-name">
                    <p class="all-details__key">name</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__subAdmin-username">
                    <p class="all-details__key">User name</p>
                    <p class="all-details__value"></p></p>
                </li>
                <li id="popup__subAdmin-email">
                    <p class="all-details__key">Email</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__subAdmin-phone">
                    <p class="all-details__key">Phone</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__subAdmin-address">
                    <p class="all-details__key">Address</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__subAdmin-joined">
                    <p class="all-details__key">Joined</p>
                    <p class="all-details__value"></p>
                </li>
                <li id="popup__subAdmin-active">
                    <p class="all-details__key">Active</p>
                    <p class="all-details__value"></p>
                </li>
            </ul>
        </div>


        <div class="popup__del-box">
            <form action="/admin/deleteAdmin?_csrf=<%=csrfToken%>" method="POST">
                <input type="hidden" value="" name="id" class="card-id">
                <p class="paragraph-secondary u-mar-b-2">Are you sure to delete this Admin ?</p>
                <div class="popup__del-btns">
                    <button class="popup__del-btn button__primary">Delete</button>
                    <a class="button__primary btn__cancel">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <div id="csrf" data-csrf="<%=csrfToken%>"></div>

    <section <%-errMessage?'style="display: flex;"': null%> class="message">
        <div class="message__txt message__txt--error"><%=errMessage%></div>
    </section>

    <script src="/js/ad_subAdmin.188e6b35c8f0b1bff8d6.bundle.js"></script>
    
</body>

</html>